workflows/finnase account.json
{"updatedAt":"2026-02-21T17:54:04.720Z","createdAt":"2026-01-14T02:25:28.520Z","id":"DIXX3F1RLn1_F5u-tB4N_","name":"finnase account","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2d5b2f97-1f8f-48d9-8c81-515e77996efe","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.text }}","rightValue":""}]},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2d880d6b-56c3-4daa-b4ec-3a72d397b41b","operator":{"type":"object","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.voice }}","rightValue":""}]},"renameOutput":true,"outputKey":"Voice"}]},"options":{"fallbackOutput":"extra"}},"id":"98697402-9510-402e-9b52-ebf1aa2d95c3","name":"Switch","type":"n8n-nodes-base.switch","position":[-208,64],"typeVersion":3.2},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Bot Trigger').item.json.message.voice.file_id }}","additionalFields":{}},"id":"87964aba-28be-4f06-b9e0-12313a2abeae","name":"Get a file","type":"n8n-nodes-base.telegram","position":[16,128],"webhookId":"e3f61732-60a5-4116-8350-18f853286b1d","typeVersion":1.2,"credentials":{"telegramApi":{"id":"zrkbeFNT5vHFvHXN","name":"finnase"}}},{"parameters":{"resource":"audio","modelId":{"__rl":true,"mode":"list","value":"models/gemini-2.5-flash","cachedResultName":"models/gemini-2.5-flash"},"inputType":"binary","options":{}},"id":"9046ce26-bc4b-438c-8168-df48f0607088","name":"Transcribe a recording","type":"@n8n/n8n-nodes-langchain.googleGemini","position":[240,96],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"qRaMgNaHuCCLU0Vt","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0","mode":"list","cachedResultName":"daily finnase","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0/edit#gid=0"},"options":{}},"id":"f590e0fb-d7d4-482e-87ea-5bcb088151fe","name":"get_all_registers","type":"n8n-nodes-base.googleSheetsTool","position":[1072,272],"typeVersion":4.6,"credentials":{"googleSheetsOAuth2Api":{"id":"OK8uabSCc25Un5lJ","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0","mode":"list","cachedResultName":"daily finnase","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id', ``, 'string') }}","type":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('type', ``, 'string') }}","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('value', ``, 'string') }}","category":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('category', ``, 'string') }}","payment_method":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('payment_method', ``, 'string') }}","descrition":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('descrition', ``, 'string') }}","date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"value","displayName":"value","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"payment_method","displayName":"payment_method","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"descrition","displayName":"descrition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"9208b29c-493b-48a6-a3e4-c1f7916b54cc","name":"create_new_register","type":"n8n-nodes-base.googleSheetsTool","position":[1296,272],"typeVersion":4.6,"credentials":{"googleSheetsOAuth2Api":{"id":"OK8uabSCc25Un5lJ","name":"Google Sheets account"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0","mode":"list","cachedResultName":"daily finnase","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0/edit#gid=0"},"startIndex":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Row_Number', ``, 'number') }}","numberToDelete":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Number_of_Rows_to_Delete', ``, 'number') }}"},"id":"cbf0ea53-9abc-4ab8-893f-fa3de6df9f85","name":"delete_register","type":"n8n-nodes-base.googleSheetsTool","position":[1424,272],"typeVersion":4.6,"credentials":{"googleSheetsOAuth2Api":{"id":"OK8uabSCc25Un5lJ","name":"Google Sheets account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Bot Trigger').item.json.message.from.id }}","contextWindowLength":10},"id":"b7e62d7d-43a0-4da3-8346-0a38ed87f239","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[752,256],"typeVersion":1.3},{"parameters":{"chatId":"={{ $('Telegram Bot Trigger').item.json.message.from.id }}","text":"=⚠️ Desculpe! Não consigo processar imagens ou vídeos. Por favor, envie sua mensagem em texto ou voz.","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"59f6ce0e-0f5c-4783-ac9e-1df08a917680","name":"Send Fallback Message","type":"n8n-nodes-base.telegram","position":[16,288],"webhookId":"54a95e4f-38b0-4992-a5c1-81791dba21ab","typeVersion":1.2,"credentials":{"telegramApi":{"id":"zrkbeFNT5vHFvHXN","name":"finnase"}}},{"parameters":{"chatId":"={{ $('Telegram Bot Trigger').item.json.message.from.id }}","text":"={{ $json.cleanedOutput }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"f3d8e75a-b09e-4f04-a93e-0ba9c1b69104","name":"Send Response","type":"n8n-nodes-base.telegram","position":[1376,-32],"webhookId":"54a95e4f-38b0-4992-a5c1-81791dba21ab","typeVersion":1.2,"credentials":{"telegramApi":{"id":"zrkbeFNT5vHFvHXN","name":"finnase"}}},{"parameters":{"content":"## Setup Telegram Bot Trigger\n\n1. Create a new bot using @BotFather on Telegram.\n\n2. Copy the bot token provided by BotFather.\n\n3. Paste the token into the Telegram Trigger node credentials.\n\n4. Make sure the bot is active and can receive messages.\n\n5. This node starts the workflow whenever a new message is received.\n","height":576,"width":320,"color":7},"id":"67e841c0-eca7-46ab-9f3b-990aea2d80a9","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-528,-288],"typeVersion":1},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"a576da87-3aa1-4178-8045-76f6f536baca","name":"Telegram Bot Trigger","type":"n8n-nodes-base.telegramTrigger","position":[-432,80],"webhookId":"3fb3235c-eaa7-421e-a3d2-90cc42e88f1e","typeVersion":1.2,"credentials":{"telegramApi":{"id":"zrkbeFNT5vHFvHXN","name":"finnase"}}},{"parameters":{"content":"## Google Sheets Configuration\n\n1. Create a Google Sheet with the following columns: \n   id | type | value | category | payment_method | description | date\n\n2. Leave rows empty for automatic insertion.\n\n3. Set up a Google Service Account and share the sheet with it.\n\n4. Configure the Google Sheets node with proper credentials and Sheet name.\n","height":80,"width":528,"color":7},"id":"5817755c-ca1f-4fa6-a820-98801a3ea464","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1088,-160],"typeVersion":1},{"parameters":{"content":"## Gemini To Transcription\n\nInsert your Google Gemini Credentials","height":352,"width":224,"color":7},"id":"5554deff-eac0-491d-be21-fa691162f15c","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[176,-112],"typeVersion":1},{"parameters":{"content":"## Gemini LLM\n\nInsert your Google Gemini Credentials","height":224,"width":224,"color":7},"id":"fd761929-784e-498e-b8af-dc43daeedc93","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[320,336],"typeVersion":1},{"parameters":{"content":"","width":640,"color":7},"id":"64831a49-f661-4e23-901c-ea0980db2e0d","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[768,224],"typeVersion":1},{"parameters":{"content":"## 📌 Follow me:\n### [LinkedIn](https://www.linkedin.com/in/vikthyr)","height":80,"width":192},"id":"6174b6ef-1477-4c3c-b78b-a40ec6daca3e","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-176,-32],"typeVersion":1},{"parameters":{"description":"call this tool to get the all data ","workflowId":{"__rl":true,"value":"HKuxyPa86pR4gJfe","mode":"list","cachedResultUrl":"/workflow/HKuxyPa86pR4gJfe","cachedResultName":"data"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1168,256],"id":"b0d7206f-b9e7-4442-982f-de3ed097a3dc","name":"Call 'data'","disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[912,256],"id":"b8d93c92-ccb2-49cf-bf5f-622e0be80511","name":"Calculator"},{"parameters":{"jsCode":"// Remove thinking tags and their content\nlet text = $input.item.json.output;\n\n// Remove <thinking>...</thinking> blocks\ntext = text.replace(/<thinking>[\\s\\S]*?<\\/thinking>/gi, '');\n\n// Trim any extra whitespace\ntext = text.trim();\n\nreturn { json: { cleanedOutput: text } };\n```\n\nThen in the \"Send Response\" node, change the Text field to:\n```\n{{ $json.cleanedOutput }}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,-48],"id":"05259d8a-1ac1-43c4-a1a3-e881a7f10259","name":"Code in JavaScript"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0","mode":"list","cachedResultName":"daily finnase","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["date"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"value","displayName":"value","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"payment_method","displayName":"payment_method","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"descrition","displayName":"descrition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"action","displayName":"action","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chatInput","displayName":"chatInput","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"toolCallId","displayName":"toolCallId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[1552,256],"id":"b66e7bae-c4f6-4778-99cd-08f9b9852110","name":"Append or update row in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"OK8uabSCc25Un5lJ","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"={{ $json.content?.parts[0].text || $json.message.text }}","options":{"systemMessage":"=FINANCIAL TELEGRAM ASSISTANT — SYSTEM PROMPT\n\nYou are a financial assistant specialized in managing personal income and expenses using a Google Sheets spreadsheet via Telegram.\n\nYour responsibility is to interpret user messages, interact with tools correctly, and respond exclusively in Telegram-valid HTML.\n\n🎯 CORE RESPONSIBILITIES\n\nYou must support the following operations:\n\n➕ Create new transaction\n\n📊 Retrieve transactions (by ID, filters, period, type, category)\n\n✏️ Update existing transaction\n\n🗑️ Delete transaction\n\n💰 Generate financial summaries\n\n📈 Provide reports and analytics\n\n📋 SPREADSHEET STRUCTURE\n\nColumns available:\n\nid (integer, unique, sequential)\n\ntipo (\"income\" or \"expense\")\n\nvalor (decimal format: 1234.56)\n\ncategoria\n\nmetodo_pagamento\n\ndescricao\n\ndata (format: yyyy-MM-dd)\n\n🔒 ABSOLUTE DATA RULE\n🚨 NEVER rely on memory.\n\nBefore ANY financial operation, you MUST call:\n\nget_all_registers\n\n\nAll responses must be based strictly on returned tool data.\n\nIf no data exists, clearly inform the user.\n\n⚙️ OPERATION LOGIC\n1️⃣ CREATE TRANSACTION\n\nWhen user intent = add income/expense:\n\nMandatory Flow:\n\nCall get_all_registers\n\nIdentify highest existing id\n\nCompute: new_id = last_id + 1\n\nCall create_new_register\n\nReturn confirmation in HTML template\n\nIf sheet empty:\n\nStart with id = 1\n\n2️⃣ RETRIEVE DATA (QUERY)\n\nWhen user intent = view / search / filter / balance:\n\nMandatory Flow:\n\nCall get_all_registers\n\nApply filters in reasoning:\n\nID\n\nDate range\n\nType\n\nCategory\n\nPayment method\n\nPerform calculations if needed\n\nRespond using appropriate HTML template\n\nNever answer without querying first.\n\n3️⃣ UPDATE TRANSACTION\n\nWhen user intent = edit / update / change:\n\nExamples:\n\n\"edit ID 5\"\n\n\"change value of ID 3 to 200\"\n\n\"update category of ID 7 to Food\"\n\nMandatory Flow:\n\nCall get_all_registers\n\nVerify the ID exists\n\nIf not → return error template\n\nShow confirmation template with current values\n\nWait for user to type: confirm\n\nAfter confirmation:\n\nCall update_register\n\nSend success HTML message\n\n🚨 Never update without confirmation.\n\n4️⃣ DELETE TRANSACTION\n\nWhen user intent = delete / remove:\n\nExamples:\n\n\"delete ID 4\"\n\n\"remove transaction 8\"\n\nMandatory Flow:\n\nCall get_all_registers\n\nVerify ID exists\n\nShow confirmation template\n\nWait for user to type: confirm\n\nAfter confirmation:\n\nCall delete_register\n\nSend success message\n\n🚨 Never delete without confirmation.\n\n🧠 INTENT DETECTION RULES\nExpense keywords:\n\nspent, paid, bought, purchase, debit\n\nIncome keywords:\n\nreceived, earned, salary, income, got paid\n\nUpdate keywords:\n\nedit, update, change, modify\n\nDelete keywords:\n\ndelete, remove, erase\n\nQuery keywords:\n\nshow, list, balance, summary, report, history\n\n📊 REQUIRED TOOL USAGE\n\nAvailable tools:\n\nget_all_registers (ALWAYS first)\n\ncreate_new_register\n\nupdate_register\n\ndelete_register\n\nCalculator (if needed)\n\n💰 CALCULATION RULES\n\nFor balance:\n\nbalance = total_income - total_expenses\n\n\nAlways calculate using actual sheet data.\n\n📅 DATE RULES\n\nIf user provides date → use it\n\nIf not provided → use:\n\n{{ $now.format('yyyy-MM-dd') }}\n\n🎨 TELEGRAM HTML FORMAT RULES (MANDATORY)\n\nAll responses MUST:\n\nUse only Telegram-supported HTML\n\nUse single line breaks\n\nUse max 3 emojis\n\nEscape:\n\n< → &lt;\n\n> → &gt;\n\n& → &amp;\n\nAllowed tags only:\n\n<b> <i> <u> <s> <code> <pre> <a> <blockquote>\n\nNever use markdown.\nNever mix formatting styles.\nNever send plain text.\n\nAll messages must be sent with:\n\nparse_mode: 'HTML'\n\n📌 CONFIRMATION STATE MANAGEMENT\n\nIf the assistant is waiting for confirmation:\n\nOnly accept:\n\nconfirm\n\ncancel\n\nIf cancel:\n\nAbort operation\n\nRespond with cancellation message\n\nIf confirm:\n\nExecute pending update/delete\n\nSend success message\n\n🧾 ERROR HANDLING\n\nIf:\n\nID does not exist\n\nRequired value missing\n\nInvalid date format\n\nInvalid monetary format\n\nReturn HTML error template with clear fix instructions.\n\n📊 RESPONSE LIMIT\n\nTelegram limit: 4096 characters\nKeep summaries concise.\n\n🚨 FINAL ABSOLUTE RULES\n\nAlways call get_all_registers before any financial operation.\n\nNever update or delete without confirmation.\n\nNever fabricate data.\n\nNever use memory for financial totals.\n\nAlways respond in Telegram-valid HTML only.\n\nNever include explanations, code, or system text.\n\nOnly return formatted HTML content to the user.\n\n🎯 PRIMARY OBJECTIVE\n\nProvide accurate financial management through Google Sheets with safe update/delete flows and strict HTML formatting for Telegram."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[608,-64],"id":"652a9211-23b9-4914-afa1-d03ba4895178","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[576,272],"id":"3ebd2120-7c37-4e49-ae9e-85461436adf1","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"ypsTIXKbBaqMjw1s","name":"OpenRouter account"}}}],"connections":{"Switch":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Get a file","type":"main","index":0}],[{"node":"Send Fallback Message","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"get_all_registers":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"create_new_register":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"delete_register":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Telegram Bot Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Call 'data'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Send Response","type":"main","index":0}]]},"Append or update row in sheet in Google Sheets":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"156dca26-8a88-4137-8d8f-23a3bac9f2e7","activeVersionId":"156dca26-8a88-4137-8d8f-23a3bac9f2e7","triggerCount":1,"shared":[{"updatedAt":"2026-01-14T02:25:28.541Z","createdAt":"2026-01-14T02:25:28.541Z","role":"workflow:owner","workflowId":"DIXX3F1RLn1_F5u-tB4N_","projectId":"f7lZ9I1x9DksCYtb"}],"activeVersion":{"updatedAt":"2026-02-21T17:54:07.000Z","createdAt":"2026-02-21T17:54:04.761Z","versionId":"156dca26-8a88-4137-8d8f-23a3bac9f2e7","workflowId":"DIXX3F1RLn1_F5u-tB4N_","nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2d5b2f97-1f8f-48d9-8c81-515e77996efe","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.text }}","rightValue":""}]},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2d880d6b-56c3-4daa-b4ec-3a72d397b41b","operator":{"type":"object","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.voice }}","rightValue":""}]},"renameOutput":true,"outputKey":"Voice"}]},"options":{"fallbackOutput":"extra"}},"id":"98697402-9510-402e-9b52-ebf1aa2d95c3","name":"Switch","type":"n8n-nodes-base.switch","position":[-208,64],"typeVersion":3.2},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Bot Trigger').item.json.message.voice.file_id }}","additionalFields":{}},"id":"87964aba-28be-4f06-b9e0-12313a2abeae","name":"Get a file","type":"n8n-nodes-base.telegram","position":[16,128],"webhookId":"e3f61732-60a5-4116-8350-18f853286b1d","typeVersion":1.2,"credentials":{"telegramApi":{"id":"zrkbeFNT5vHFvHXN","name":"finnase"}}},{"parameters":{"resource":"audio","modelId":{"__rl":true,"mode":"list","value":"models/gemini-2.5-flash","cachedResultName":"models/gemini-2.5-flash"},"inputType":"binary","options":{}},"id":"9046ce26-bc4b-438c-8168-df48f0607088","name":"Transcribe a recording","type":"@n8n/n8n-nodes-langchain.googleGemini","position":[240,96],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"qRaMgNaHuCCLU0Vt","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0","mode":"list","cachedResultName":"daily finnase","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0/edit#gid=0"},"options":{}},"id":"f590e0fb-d7d4-482e-87ea-5bcb088151fe","name":"get_all_registers","type":"n8n-nodes-base.googleSheetsTool","position":[1072,272],"typeVersion":4.6,"credentials":{"googleSheetsOAuth2Api":{"id":"OK8uabSCc25Un5lJ","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0","mode":"list","cachedResultName":"daily finnase","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id', ``, 'string') }}","type":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('type', ``, 'string') }}","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('value', ``, 'string') }}","category":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('category', ``, 'string') }}","payment_method":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('payment_method', ``, 'string') }}","descrition":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('descrition', ``, 'string') }}","date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"value","displayName":"value","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"payment_method","displayName":"payment_method","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"descrition","displayName":"descrition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"9208b29c-493b-48a6-a3e4-c1f7916b54cc","name":"create_new_register","type":"n8n-nodes-base.googleSheetsTool","position":[1296,272],"typeVersion":4.6,"credentials":{"googleSheetsOAuth2Api":{"id":"OK8uabSCc25Un5lJ","name":"Google Sheets account"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0","mode":"list","cachedResultName":"daily finnase","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0/edit#gid=0"},"startIndex":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Row_Number', ``, 'number') }}","numberToDelete":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Number_of_Rows_to_Delete', ``, 'number') }}"},"id":"cbf0ea53-9abc-4ab8-893f-fa3de6df9f85","name":"delete_register","type":"n8n-nodes-base.googleSheetsTool","position":[1424,272],"typeVersion":4.6,"credentials":{"googleSheetsOAuth2Api":{"id":"OK8uabSCc25Un5lJ","name":"Google Sheets account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Bot Trigger').item.json.message.from.id }}","contextWindowLength":10},"id":"b7e62d7d-43a0-4da3-8346-0a38ed87f239","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[752,256],"typeVersion":1.3},{"parameters":{"chatId":"={{ $('Telegram Bot Trigger').item.json.message.from.id }}","text":"=⚠️ Desculpe! Não consigo processar imagens ou vídeos. Por favor, envie sua mensagem em texto ou voz.","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"59f6ce0e-0f5c-4783-ac9e-1df08a917680","name":"Send Fallback Message","type":"n8n-nodes-base.telegram","position":[16,288],"webhookId":"54a95e4f-38b0-4992-a5c1-81791dba21ab","typeVersion":1.2,"credentials":{"telegramApi":{"id":"zrkbeFNT5vHFvHXN","name":"finnase"}}},{"parameters":{"chatId":"={{ $('Telegram Bot Trigger').item.json.message.from.id }}","text":"={{ $json.cleanedOutput }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"f3d8e75a-b09e-4f04-a93e-0ba9c1b69104","name":"Send Response","type":"n8n-nodes-base.telegram","position":[1376,-32],"webhookId":"54a95e4f-38b0-4992-a5c1-81791dba21ab","typeVersion":1.2,"credentials":{"telegramApi":{"id":"zrkbeFNT5vHFvHXN","name":"finnase"}}},{"parameters":{"content":"## Setup Telegram Bot Trigger\n\n1. Create a new bot using @BotFather on Telegram.\n\n2. Copy the bot token provided by BotFather.\n\n3. Paste the token into the Telegram Trigger node credentials.\n\n4. Make sure the bot is active and can receive messages.\n\n5. This node starts the workflow whenever a new message is received.\n","height":576,"width":320,"color":7},"id":"67e841c0-eca7-46ab-9f3b-990aea2d80a9","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-528,-288],"typeVersion":1},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"a576da87-3aa1-4178-8045-76f6f536baca","name":"Telegram Bot Trigger","type":"n8n-nodes-base.telegramTrigger","position":[-432,80],"webhookId":"3fb3235c-eaa7-421e-a3d2-90cc42e88f1e","typeVersion":1.2,"credentials":{"telegramApi":{"id":"zrkbeFNT5vHFvHXN","name":"finnase"}}},{"parameters":{"content":"## Google Sheets Configuration\n\n1. Create a Google Sheet with the following columns: \n   id | type | value | category | payment_method | description | date\n\n2. Leave rows empty for automatic insertion.\n\n3. Set up a Google Service Account and share the sheet with it.\n\n4. Configure the Google Sheets node with proper credentials and Sheet name.\n","height":80,"width":528,"color":7},"id":"5817755c-ca1f-4fa6-a820-98801a3ea464","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1088,-160],"typeVersion":1},{"parameters":{"content":"## Gemini To Transcription\n\nInsert your Google Gemini Credentials","height":352,"width":224,"color":7},"id":"5554deff-eac0-491d-be21-fa691162f15c","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[176,-112],"typeVersion":1},{"parameters":{"content":"## Gemini LLM\n\nInsert your Google Gemini Credentials","height":224,"width":224,"color":7},"id":"fd761929-784e-498e-b8af-dc43daeedc93","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[320,336],"typeVersion":1},{"parameters":{"content":"","width":640,"color":7},"id":"64831a49-f661-4e23-901c-ea0980db2e0d","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[768,224],"typeVersion":1},{"parameters":{"content":"## 📌 Follow me:\n### [LinkedIn](https://www.linkedin.com/in/vikthyr)","height":80,"width":192},"id":"6174b6ef-1477-4c3c-b78b-a40ec6daca3e","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-176,-32],"typeVersion":1},{"parameters":{"description":"call this tool to get the all data ","workflowId":{"__rl":true,"value":"HKuxyPa86pR4gJfe","mode":"list","cachedResultUrl":"/workflow/HKuxyPa86pR4gJfe","cachedResultName":"data"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1168,256],"id":"b0d7206f-b9e7-4442-982f-de3ed097a3dc","name":"Call 'data'","disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[912,256],"id":"b8d93c92-ccb2-49cf-bf5f-622e0be80511","name":"Calculator"},{"parameters":{"jsCode":"// Remove thinking tags and their content\nlet text = $input.item.json.output;\n\n// Remove <thinking>...</thinking> blocks\ntext = text.replace(/<thinking>[\\s\\S]*?<\\/thinking>/gi, '');\n\n// Trim any extra whitespace\ntext = text.trim();\n\nreturn { json: { cleanedOutput: text } };\n```\n\nThen in the \"Send Response\" node, change the Text field to:\n```\n{{ $json.cleanedOutput }}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,-48],"id":"05259d8a-1ac1-43c4-a1a3-e881a7f10259","name":"Code in JavaScript"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0","mode":"list","cachedResultName":"daily finnase","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["date"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"value","displayName":"value","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"payment_method","displayName":"payment_method","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"descrition","displayName":"descrition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"action","displayName":"action","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chatInput","displayName":"chatInput","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"toolCallId","displayName":"toolCallId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[1552,256],"id":"b66e7bae-c4f6-4778-99cd-08f9b9852110","name":"Append or update row in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"OK8uabSCc25Un5lJ","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"={{ $json.content?.parts[0].text || $json.message.text }}","options":{"systemMessage":"=FINANCIAL TELEGRAM ASSISTANT — SYSTEM PROMPT\n\nYou are a financial assistant specialized in managing personal income and expenses using a Google Sheets spreadsheet via Telegram.\n\nYour responsibility is to interpret user messages, interact with tools correctly, and respond exclusively in Telegram-valid HTML.\n\n🎯 CORE RESPONSIBILITIES\n\nYou must support the following operations:\n\n➕ Create new transaction\n\n📊 Retrieve transactions (by ID, filters, period, type, category)\n\n✏️ Update existing transaction\n\n🗑️ Delete transaction\n\n💰 Generate financial summaries\n\n📈 Provide reports and analytics\n\n📋 SPREADSHEET STRUCTURE\n\nColumns available:\n\nid (integer, unique, sequential)\n\ntipo (\"income\" or \"expense\")\n\nvalor (decimal format: 1234.56)\n\ncategoria\n\nmetodo_pagamento\n\ndescricao\n\ndata (format: yyyy-MM-dd)\n\n🔒 ABSOLUTE DATA RULE\n🚨 NEVER rely on memory.\n\nBefore ANY financial operation, you MUST call:\n\nget_all_registers\n\n\nAll responses must be based strictly on returned tool data.\n\nIf no data exists, clearly inform the user.\n\n⚙️ OPERATION LOGIC\n1️⃣ CREATE TRANSACTION\n\nWhen user intent = add income/expense:\n\nMandatory Flow:\n\nCall get_all_registers\n\nIdentify highest existing id\n\nCompute: new_id = last_id + 1\n\nCall create_new_register\n\nReturn confirmation in HTML template\n\nIf sheet empty:\n\nStart with id = 1\n\n2️⃣ RETRIEVE DATA (QUERY)\n\nWhen user intent = view / search / filter / balance:\n\nMandatory Flow:\n\nCall get_all_registers\n\nApply filters in reasoning:\n\nID\n\nDate range\n\nType\n\nCategory\n\nPayment method\n\nPerform calculations if needed\n\nRespond using appropriate HTML template\n\nNever answer without querying first.\n\n3️⃣ UPDATE TRANSACTION\n\nWhen user intent = edit / update / change:\n\nExamples:\n\n\"edit ID 5\"\n\n\"change value of ID 3 to 200\"\n\n\"update category of ID 7 to Food\"\n\nMandatory Flow:\n\nCall get_all_registers\n\nVerify the ID exists\n\nIf not → return error template\n\nShow confirmation template with current values\n\nWait for user to type: confirm\n\nAfter confirmation:\n\nCall update_register\n\nSend success HTML message\n\n🚨 Never update without confirmation.\n\n4️⃣ DELETE TRANSACTION\n\nWhen user intent = delete / remove:\n\nExamples:\n\n\"delete ID 4\"\n\n\"remove transaction 8\"\n\nMandatory Flow:\n\nCall get_all_registers\n\nVerify ID exists\n\nShow confirmation template\n\nWait for user to type: confirm\n\nAfter confirmation:\n\nCall delete_register\n\nSend success message\n\n🚨 Never delete without confirmation.\n\n🧠 INTENT DETECTION RULES\nExpense keywords:\n\nspent, paid, bought, purchase, debit\n\nIncome keywords:\n\nreceived, earned, salary, income, got paid\n\nUpdate keywords:\n\nedit, update, change, modify\n\nDelete keywords:\n\ndelete, remove, erase\n\nQuery keywords:\n\nshow, list, balance, summary, report, history\n\n📊 REQUIRED TOOL USAGE\n\nAvailable tools:\n\nget_all_registers (ALWAYS first)\n\ncreate_new_register\n\nupdate_register\n\ndelete_register\n\nCalculator (if needed)\n\n💰 CALCULATION RULES\n\nFor balance:\n\nbalance = total_income - total_expenses\n\n\nAlways calculate using actual sheet data.\n\n📅 DATE RULES\n\nIf user provides date → use it\n\nIf not provided → use:\n\n{{ $now.format('yyyy-MM-dd') }}\n\n🎨 TELEGRAM HTML FORMAT RULES (MANDATORY)\n\nAll responses MUST:\n\nUse only Telegram-supported HTML\n\nUse single line breaks\n\nUse max 3 emojis\n\nEscape:\n\n< → &lt;\n\n> → &gt;\n\n& → &amp;\n\nAllowed tags only:\n\n<b> <i> <u> <s> <code> <pre> <a> <blockquote>\n\nNever use markdown.\nNever mix formatting styles.\nNever send plain text.\n\nAll messages must be sent with:\n\nparse_mode: 'HTML'\n\n📌 CONFIRMATION STATE MANAGEMENT\n\nIf the assistant is waiting for confirmation:\n\nOnly accept:\n\nconfirm\n\ncancel\n\nIf cancel:\n\nAbort operation\n\nRespond with cancellation message\n\nIf confirm:\n\nExecute pending update/delete\n\nSend success message\n\n🧾 ERROR HANDLING\n\nIf:\n\nID does not exist\n\nRequired value missing\n\nInvalid date format\n\nInvalid monetary format\n\nReturn HTML error template with clear fix instructions.\n\n📊 RESPONSE LIMIT\n\nTelegram limit: 4096 characters\nKeep summaries concise.\n\n🚨 FINAL ABSOLUTE RULES\n\nAlways call get_all_registers before any financial operation.\n\nNever update or delete without confirmation.\n\nNever fabricate data.\n\nNever use memory for financial totals.\n\nAlways respond in Telegram-valid HTML only.\n\nNever include explanations, code, or system text.\n\nOnly return formatted HTML content to the user.\n\n🎯 PRIMARY OBJECTIVE\n\nProvide accurate financial management through Google Sheets with safe update/delete flows and strict HTML formatting for Telegram."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[608,-64],"id":"652a9211-23b9-4914-afa1-d03ba4895178","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[576,272],"id":"3ebd2120-7c37-4e49-ae9e-85461436adf1","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"ypsTIXKbBaqMjw1s","name":"OpenRouter account"}}}],"connections":{"Switch":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Get a file","type":"main","index":0}],[{"node":"Send Fallback Message","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"get_all_registers":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"create_new_register":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"delete_register":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Telegram Bot Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Call 'data'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Send Response","type":"main","index":0}]]},"Append or update row in sheet in Google Sheets":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"authors":"adam aljahdhami","name":"Version 156dca26","description":"","autosaved":true},"tags":[]}