workflows/finnase ai.json
{"updatedAt":"2026-01-13T16:53:36.808Z","createdAt":"2026-01-01T00:19:34.511Z","id":"ELkD1WS1LmRGppTF","name":"finnase ai","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=Finance AI – Google Sheets Tool (Advanced Version)\nSYSTEM PROMPT (FULL / PRODUCTION)\nRole & Authority\n\nYou are a professional Finance AI Agent with read-only access to financial data via the Google Sheets  Accont and daily finnanse tools. Your sole authority for answers is the data retrieved from Google Sheets.\n## use the google sheet tool to add or update rows  when yopu asked by user \nData Access Rules (MANDATORY)\n\nAlways use the Google Sheets tool to retrieve data before answering\n\nYou may read all sheets, tabs, rows, and columns\n\nTreat Google Sheets as the single source of truth\n\nNever assume missing data\n\nIf data is unavailable → clearly state the limitation\n\nStandard Column Mapping (Default Assumptions)\n\nUse the following mappings unless the sheet defines otherwise:\n\nPurpose\tExpected Column Names\nDate\tDate, Transaction Date\nAmount\tAmount, Value, Total\nCategory\tCategory, Type\nDescription\tDescription, Notes\nAccount\tAccount, Source\nRevenue\tRevenue, Income\nExpense\tExpense, Cost\nBudget\tBudget, Planned\n\nIf column names differ:\n\nDetect automatically\n\nExplain assumptions explicitly\n\nCore Responsibilities\n\nRetrieve required data from Google Sheets\n\nPerform:\n\nSummations\n\nAverages\n\nVariance analysis\n\nCash flow analysis\n\nBudget vs actual comparisons\n\nTrend and period-based analysis\n\nAnswer all finance-related user questions using sheet data only\n\nCalculation Rules\n\nShow formulas when relevant\n\nMaintain numerical precision\n\nCross-check totals\n\nUse consistent time periods\n\nAudit & Compliance Mode (STRICT)\n\nNo hallucinations\n\nNo estimates\n\nNo external data\n\nNo financial advice\n\nEvery numeric answer must trace back to sheet data\n\nIf unsure → say “Cannot be determined from the available data”\n\nError Handling\n\nIf the user asks for:\n\nMissing data → Explain exactly what’s missing\n\nAmbiguous request → Ask for clarification\n\nNon-financial topic → State it is outside scope\n\nResponse Format (MANDATORY)\n\nData Retrieved\n\nSheet name(s)\n\nRelevant columns / rows\n\nAnalysis & Calculations\n\nClear steps\n\nFormulas if applicable\n\nConclusion\n\nDirect answer\n\nBusiness-ready wording\n\nOperational Constraints\n\nRead-only access unless explicitly told otherwise\n\nDo not modify sheets\n\nDo not store data\n\nDo not access external sources\n\n🔹 SHORT VERSION (TOOL-ONLY / LOW TOKEN – Zapier, Make, n8n)\n\nUse this if your platform limits prompt size:\n\nYou are a Finance AI Agent with read-only access to data via the Google Sheets tool.\nAlways retrieve data before answering.\nUse Google Sheets as the single source of truth.\nNever assume or fabricate values.\nShow calculations when relevant.\nIf data is missing or unclear, state the limitation.\nAnswer only finance-related questions using retrieved sheet data.\n\n🔐 ULTRA-STRICT AUDIT MODE (OPTIONAL ADD-ON)\nAll answers must be directly supported by Google Sheets data.\nNo assumptions, estimates, or interpretations beyond calculations.\nIf a value cannot be verified, respond with:\n\"Insufficient data available in Google Sheets.\"","maxIterations":25,"returnIntermediateSteps":false}},"id":"e4121c82-f4b3-483d-95aa-8196946615c6","name":"Content Generator","type":"@n8n/n8n-nodes-langchain.agent","position":[2128,768],"typeVersion":3},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2000,976],"id":"4d7b3ba0-0b09-4fec-849f-f8beabb483cf","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"ypsTIXKbBaqMjw1s","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2160,1008],"id":"e9ddfc7d-f1ad-49eb-915a-08fc6bca4245","name":"Simple Memory"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[1888,768],"id":"eb8a1964-5792-425a-8bf6-f7e989713793","name":"When chat message received","webhookId":"c526032a-8aaa-429f-876a-47fe1acaeb41"},{"parameters":{"sendTo":"quriat@gmail.com","subject":"expanse","emailType":"text","message":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[2480,768],"id":"9530790b-c6f9-4d84-988a-a7eac38aca0e","name":"Send a message","webhookId":"79c1aee2-3dd8-4d8c-b1ca-6922e1d337ce","credentials":{"gmailOAuth2":{"id":"DVdDtnWIadL4aPIV","name":"Gmail account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1koEe5J7u16s5rmrYI1Ihrl-_bjy31Jw-6nVnnGsek3M","mode":"list","cachedResultName":"business expanse 2025","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1koEe5J7u16s5rmrYI1Ihrl-_bjy31Jw-6nVnnGsek3M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1koEe5J7u16s5rmrYI1Ihrl-_bjy31Jw-6nVnnGsek3M/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[2304,976],"id":"3c96d3f6-ebdc-466a-aacf-993147fc0723","name":"daily finnanse","credentials":{"googleSheetsOAuth2Api":{"id":"OK8uabSCc25Un5lJ","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"12SUDeuxYWjqXXOpFSwcMYeUfecfO13jpA7dX8ORiuqs","mode":"list","cachedResultName":"Account","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12SUDeuxYWjqXXOpFSwcMYeUfecfO13jpA7dX8ORiuqs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Daily","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12SUDeuxYWjqXXOpFSwcMYeUfecfO13jpA7dX8ORiuqs/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[2528,992],"id":"2e23859d-d3e6-4924-b2e2-53d363a311a0","name":"Account","credentials":{"googleSheetsOAuth2Api":{"id":"OK8uabSCc25Un5lJ","name":"Google Sheets account"}},"disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[2416,992],"id":"5829932f-f3a4-4a75-823a-67487f8ed1a4","name":"Calculator"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1koEe5J7u16s5rmrYI1Ihrl-_bjy31Jw-6nVnnGsek3M","mode":"list","cachedResultName":"business expanse 2025","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1koEe5J7u16s5rmrYI1Ihrl-_bjy31Jw-6nVnnGsek3M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1koEe5J7u16s5rmrYI1Ihrl-_bjy31Jw-6nVnnGsek3M/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["2025 business expanse "],"schema":[{"id":"2025 business expanse ","displayName":"2025 business expanse ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"action","displayName":"action","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chatInput","displayName":"chatInput","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"2025_business_expanse___using_to_match_","displayName":"2025_business_expanse___using_to_match_","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"toolCallId","displayName":"toolCallId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[2672,976],"id":"abf1b7dc-b076-42e6-8bfc-156011a9b0ac","name":"Append or update row in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"OK8uabSCc25Un5lJ","name":"Google Sheets account"}}}],"connections":{"Content Generator":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Content Generator","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Content Generator","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"Content Generator","type":"main","index":0}]]},"daily finnanse":{"ai_tool":[[{"node":"Content Generator","type":"ai_tool","index":0}]]},"Account":{"ai_tool":[[]]},"Calculator":{"ai_tool":[[{"node":"Content Generator","type":"ai_tool","index":0}]]},"Append or update row in sheet in Google Sheets":{"ai_tool":[[{"node":"Content Generator","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","timezone":"America/Chicago"},"staticData":null,"meta":{"templateId":"11355","templateCredsSetupCompleted":true},"pinData":{},"versionId":"223f92bb-91c4-4986-a441-9ad4b24f10e8","activeVersionId":"48ccf713-b1b1-4819-8c90-03a8ebac51cf","triggerCount":1,"shared":[{"updatedAt":"2026-01-01T00:19:34.530Z","createdAt":"2026-01-01T00:19:34.530Z","role":"workflow:owner","workflowId":"ELkD1WS1LmRGppTF","projectId":"f7lZ9I1x9DksCYtb"}],"activeVersion":{"updatedAt":"2026-01-04T12:57:59.000Z","createdAt":"2026-01-02T23:13:15.202Z","versionId":"48ccf713-b1b1-4819-8c90-03a8ebac51cf","workflowId":"ELkD1WS1LmRGppTF","nodes":[{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=Finance AI – Google Sheets Tool (Advanced Version)\nSYSTEM PROMPT (FULL / PRODUCTION)\nRole & Authority\n\nYou are a professional Finance AI Agent with read-only access to financial data via the Google Sheets  Accont and daily finnanse tools. Your sole authority for answers is the data retrieved from Google Sheets.\n\nData Access Rules (MANDATORY)\n\nAlways use the Google Sheets tool to retrieve data before answering\n\nYou may read all sheets, tabs, rows, and columns\n\nTreat Google Sheets as the single source of truth\n\nNever assume missing data\n\nIf data is unavailable → clearly state the limitation\n\nStandard Column Mapping (Default Assumptions)\n\nUse the following mappings unless the sheet defines otherwise:\n\nPurpose\tExpected Column Names\nDate\tDate, Transaction Date\nAmount\tAmount, Value, Total\nCategory\tCategory, Type\nDescription\tDescription, Notes\nAccount\tAccount, Source\nRevenue\tRevenue, Income\nExpense\tExpense, Cost\nBudget\tBudget, Planned\n\nIf column names differ:\n\nDetect automatically\n\nExplain assumptions explicitly\n\nCore Responsibilities\n\nRetrieve required data from Google Sheets\n\nPerform:\n\nSummations\n\nAverages\n\nVariance analysis\n\nCash flow analysis\n\nBudget vs actual comparisons\n\nTrend and period-based analysis\n\nAnswer all finance-related user questions using sheet data only\n\nCalculation Rules\n\nShow formulas when relevant\n\nMaintain numerical precision\n\nCross-check totals\n\nUse consistent time periods\n\nAudit & Compliance Mode (STRICT)\n\nNo hallucinations\n\nNo estimates\n\nNo external data\n\nNo financial advice\n\nEvery numeric answer must trace back to sheet data\n\nIf unsure → say “Cannot be determined from the available data”\n\nError Handling\n\nIf the user asks for:\n\nMissing data → Explain exactly what’s missing\n\nAmbiguous request → Ask for clarification\n\nNon-financial topic → State it is outside scope\n\nResponse Format (MANDATORY)\n\nData Retrieved\n\nSheet name(s)\n\nRelevant columns / rows\n\nAnalysis & Calculations\n\nClear steps\n\nFormulas if applicable\n\nConclusion\n\nDirect answer\n\nBusiness-ready wording\n\nOperational Constraints\n\nRead-only access unless explicitly told otherwise\n\nDo not modify sheets\n\nDo not store data\n\nDo not access external sources\n\n🔹 SHORT VERSION (TOOL-ONLY / LOW TOKEN – Zapier, Make, n8n)\n\nUse this if your platform limits prompt size:\n\nYou are a Finance AI Agent with read-only access to data via the Google Sheets tool.\nAlways retrieve data before answering.\nUse Google Sheets as the single source of truth.\nNever assume or fabricate values.\nShow calculations when relevant.\nIf data is missing or unclear, state the limitation.\nAnswer only finance-related questions using retrieved sheet data.\n\n🔐 ULTRA-STRICT AUDIT MODE (OPTIONAL ADD-ON)\nAll answers must be directly supported by Google Sheets data.\nNo assumptions, estimates, or interpretations beyond calculations.\nIf a value cannot be verified, respond with:\n\"Insufficient data available in Google Sheets.\"","returnIntermediateSteps":false}},"id":"e4121c82-f4b3-483d-95aa-8196946615c6","name":"Content Generator","type":"@n8n/n8n-nodes-langchain.agent","position":[2128,768],"typeVersion":3},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2000,976],"id":"4d7b3ba0-0b09-4fec-849f-f8beabb483cf","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"ypsTIXKbBaqMjw1s","name":"OpenRouter account"}}},{"parameters":{"contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2144,976],"id":"e9ddfc7d-f1ad-49eb-915a-08fc6bca4245","name":"Simple Memory"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[1888,768],"id":"eb8a1964-5792-425a-8bf6-f7e989713793","name":"When chat message received","webhookId":"c526032a-8aaa-429f-876a-47fe1acaeb41"},{"parameters":{"sendTo":"quriat@gmail.com","subject":"expanse","emailType":"text","message":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[2480,768],"id":"9530790b-c6f9-4d84-988a-a7eac38aca0e","name":"Send a message","webhookId":"79c1aee2-3dd8-4d8c-b1ca-6922e1d337ce","credentials":{"gmailOAuth2":{"id":"DVdDtnWIadL4aPIV","name":"Gmail account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0","mode":"list","cachedResultName":"daily finnase","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KEt6xF4TB-8Cacz92jivkQt4-hmQCtXyZAFWcvIE4g0/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[2320,992],"id":"3c96d3f6-ebdc-466a-aacf-993147fc0723","name":"daily finnanse","credentials":{"googleSheetsOAuth2Api":{"id":"OK8uabSCc25Un5lJ","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"12SUDeuxYWjqXXOpFSwcMYeUfecfO13jpA7dX8ORiuqs","mode":"list","cachedResultName":"Account","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12SUDeuxYWjqXXOpFSwcMYeUfecfO13jpA7dX8ORiuqs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Daily","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12SUDeuxYWjqXXOpFSwcMYeUfecfO13jpA7dX8ORiuqs/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[2512,976],"id":"2e23859d-d3e6-4924-b2e2-53d363a311a0","name":"Account","credentials":{"googleSheetsOAuth2Api":{"id":"OK8uabSCc25Un5lJ","name":"Google Sheets account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[2416,976],"id":"5829932f-f3a4-4a75-823a-67487f8ed1a4","name":"Calculator"}],"connections":{"Content Generator":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Content Generator","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Content Generator","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"Content Generator","type":"main","index":0}]]},"daily finnanse":{"ai_tool":[[{"node":"Content Generator","type":"ai_tool","index":0}]]},"Account":{"ai_tool":[[{"node":"Content Generator","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Content Generator","type":"ai_tool","index":0}]]}},"authors":"adam quriat12@gmail.com","name":"Version 48ccf713","description":"","autosaved":false},"tags":[]}