workflows/GitHub n8n Workflow Importer.json
{"updatedAt":"2026-01-22T15:43:32.426Z","createdAt":"2026-01-22T14:53:18.215Z","id":"FKttySFk9l5BAoPRWxieM","name":"GitHub n8n Workflow Importer","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"id":"262d99c1-ff3f-4f01-8645-c5b562657306","name":"Check Every 6 Hours","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]},{"parameters":{},"id":"0f3c39c0-f91f-40aa-91a7-e6726a2fba2a","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,208]},{"parameters":{"url":"https://api.github.com/repos/Zie619/n8n-workflows/contents/workflows","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"612f574a-bc2d-4b07-a1eb-10b095cdeeed","name":"Get Workflow List from GitHub","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[256,112],"credentials":{"githubApi":{"id":"gimIa7UwjtsQ25YY","name":"GitHub account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"filter-json","leftValue":"={{ $json.type }}","rightValue":"dir","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"b76e1a17-1fcd-44ef-a5e5-0b1bd9540a83","name":"Filter JSON Files Only","type":"n8n-nodes-base.filter","typeVersion":2,"position":[480,112]},{"parameters":{},"id":"9b148300-19c3-433a-b8f8-f469ecbdeba1","name":"Limit to 10 Latest","type":"n8n-nodes-base.limit","typeVersion":1,"position":[704,112]},{"parameters":{"url":"=https://api.github.com/repos/Zie619/n8n-workflows/contents/{{ $json.path }}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"b573baf8-ce07-4fe9-b55f-54d2b5a1b1a1","name":"Fetch Workflow Content","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[928,112]},{"parameters":{"assignments":{"assignments":[{"id":"workflow-name","name":"workflowName","value":"={{ $json.name || 'Imported Workflow' }}","type":"string"},{"id":"workflow-data","name":"workflowData","value":"={{ JSON.stringify($json) }}","type":"string"},{"id":"source-url","name":"sourceUrl","value":"={{ $('Fetch Workflow Content').params.url }}","type":"string"}]},"options":{}},"id":"fafc488f-d89a-4a4f-be02-85c2f4629188","name":"Prepare Workflow Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1152,112]},{"parameters":{"method":"POST","url":"=https://n8napp.adamj.fit/api/v1/workflows","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.parse($json.workflowData) }}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"08af0f98-a15d-4628-8f55-4f28bd0a8ea3","name":"Import to n8n","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,112],"credentials":{"httpHeaderAuth":{"id":"3BRwaO6OkqAKfNbG","name":"rapid"}},"continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"check-success","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists"}}],"combinator":"and"},"options":{}},"id":"515dd764-3b30-43d3-b4bf-cfc4a9ae54e2","name":"Check Import Success","type":"n8n-nodes-base.if","typeVersion":2,"position":[1584,112]},{"parameters":{"assignments":{"assignments":[{"id":"success-status","name":"status","value":"success","type":"string"},{"id":"imported-id","name":"importedWorkflowId","value":"={{ $json.id }}","type":"string"},{"id":"imported-name","name":"importedName","value":"={{ $json.name }}","type":"string"}]},"options":{}},"id":"aa67895d-fad5-4c91-8533-133cc759cc61","name":"Import Successful","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1824,0]},{"parameters":{"assignments":{"assignments":[{"id":"fail-status","name":"status","value":"failed","type":"string"},{"id":"error-message","name":"error","value":"={{ $json.message || 'Unknown error - workflow may already exist' }}","type":"string"}]},"options":{}},"id":"61461ba6-5a07-468b-886e-10b54d8390e2","name":"Import Failed","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1824,208]},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"results","options":{}},"id":"ce1dd11a-1e8e-43f8-a7fe-f562e5ed6445","name":"Aggregate Results","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2064,112]}],"connections":{"Check Every 6 Hours":{"main":[[{"node":"Get Workflow List from GitHub","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Get Workflow List from GitHub","type":"main","index":0}]]},"Get Workflow List from GitHub":{"main":[[{"node":"Filter JSON Files Only","type":"main","index":0}]]},"Filter JSON Files Only":{"main":[[{"node":"Limit to 10 Latest","type":"main","index":0}]]},"Limit to 10 Latest":{"main":[[{"node":"Fetch Workflow Content","type":"main","index":0}]]},"Fetch Workflow Content":{"main":[[{"node":"Prepare Workflow Data","type":"main","index":0}]]},"Prepare Workflow Data":{"main":[[{"node":"Import to n8n","type":"main","index":0}]]},"Import to n8n":{"main":[[{"node":"Check Import Success","type":"main","index":0}]]},"Check Import Success":{"main":[[{"node":"Import Successful","type":"main","index":0}],[{"node":"Import Failed","type":"main","index":0}]]},"Import Successful":{"main":[[{"node":"Aggregate Results","type":"main","index":0}]]},"Import Failed":{"main":[[{"node":"Aggregate Results","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"45ede3eb-5657-4a2f-b0a3-6791c04ad8b0","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-22T14:53:18.261Z","createdAt":"2026-01-22T14:53:18.261Z","role":"workflow:owner","workflowId":"FKttySFk9l5BAoPRWxieM","projectId":"f7lZ9I1x9DksCYtb"}],"activeVersion":null,"tags":[{"updatedAt":"2026-01-22T14:53:16.500Z","createdAt":"2026-01-22T14:53:16.500Z","id":"1GzzTKEaMFFGm0nJ","name":"github"},{"updatedAt":"2026-01-20T02:20:22.561Z","createdAt":"2026-01-20T02:20:22.561Z","id":"RCIXXC2s2MuXhoKL","name":"automation"}]}