workflows/Google Maps Email Scraper.json
{"updatedAt":"2026-01-15T02:59:00.867Z","createdAt":"2026-01-15T01:49:59.818Z","id":"HP5h2jnRGqzstS5NA9BcJ","name":"Google Maps Email Scraper","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"8d4c2993-6f2e-47a3-9bee-86889c63905b","name":"When clicking 'Test'","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"url":"https://www.google.com/maps/search/Houston+limousine+services ","options":{"allowUnauthorizedCerts":true,"response":{"response":{"fullResponse":true,"neverError":true}}}},"id":"908b6e24-02f3-4058-93ef-2ac413c21ea1","name":"Scrape Google Maps","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,0],"notes":"Replace searchQuery with your search term"},{"parameters":{"jsCode":"const input = $input.first().json.data || $input.first().json.body || ''\nconst regex = /https?:\\/\\/[^\\s\"'<>]+/g\nconst websites = input.match(regex) || []\nreturn websites.map(website => ({json:{website}}))"},"id":"0842d534-d822-4374-b056-abfad613b8fe","name":"Extract URLs","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"filter-google","leftValue":"={{ $json.website }}","rightValue":"schema","operator":{"type":"string","operation":"notContains"}},{"id":"filter-googleapis","leftValue":"={{ $json.website }}","rightValue":"google","operator":{"type":"string","operation":"notContains"}},{"id":"has-http","leftValue":"={{ $json.website }}","rightValue":"static","operator":{"type":"string","operation":"notContains"}},{"id":"cd19fa78-4a3e-4e7d-b74b-b6b0ea7e34ff","leftValue":"={{ $json.website }}","rightValue":"gg","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"id":"66710cc4-7d27-4203-ac60-1f8c0b4daad0","name":"Filter Google URLs","type":"n8n-nodes-base.filter","typeVersion":2,"position":[672,0],"disabled":true},{"parameters":{"maxItems":50},"id":"e3d6f821-d4cf-4cb0-98b5-0e4d7bb91259","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[1104,0],"notes":"Adjust limit as needed"},{"parameters":{"options":{}},"id":"094ea775-dfa9-4856-a1c3-544cdac90c4f","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1328,0]},{"parameters":{"url":"={{ $json.url }}","options":{"response":{"response":{"fullResponse":true}},"timeout":10000}},"id":"76f01ded-a82c-40f4-b284-082fdb620d10","name":"Scrape Site","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,0],"continueOnFail":true},{"parameters":{"amount":2},"id":"5064a270-672d-4212-a39c-ae376bbbe7a7","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1760,0],"webhookId":"wait-webhook-1"},{"parameters":{"jsCode":"// Extract emails from the scraped website HTML\nconst html = $input.first().json.body || $input.first().json.data || '';\nconst sourceUrl = $input.first().json.url || $('Loop Over Items').first().json.url || '';\n\n// Email regex pattern\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g;\nconst emails = html.match(emailRegex) || [];\n\n// Remove duplicates and filter out common false positives\nconst uniqueEmails = [...new Set(emails)].filter(email => {\n  const lower = email.toLowerCase();\n  return !lower.includes('example.com') &&\n         !lower.includes('sentry.io') &&\n         !lower.includes('wixpress.com') &&\n         !lower.includes('.png') &&\n         !lower.includes('.jpg') &&\n         !lower.includes('.gif') &&\n         !lower.endsWith('.js') &&\n         !lower.endsWith('.css');\n});\n\nif (uniqueEmails.length === 0) {\n  return [{ json: { emails: [], sourceUrl: sourceUrl } }];\n}\n\nreturn [{ json: { emails: uniqueEmails, sourceUrl: sourceUrl } }];"},"id":"447d8788-7220-4f42-a5dd-6e9a59b08c9c","name":"Extract Emails","type":"n8n-nodes-base.code","typeVersion":2,"position":[1984,0]},{"parameters":{"amount":1},"id":"6547200b-e61b-4363-baba-7a90610aa799","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2208,0],"webhookId":"wait-webhook-2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"has-emails","leftValue":"={{ $json.emails.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"5cf66320-ffd4-4592-b31e-8a5ba70d1071","name":"Filter Out Empties","type":"n8n-nodes-base.filter","typeVersion":2,"position":[2432,0]},{"parameters":{"fieldToSplitOut":"emails","options":{}},"id":"f6f819a5-03a0-4b84-85bf-23a6aa0cc594","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2640,0]},{"parameters":{"compare":"selectedFields","fieldsToCompare":{"fields":[{"fieldName":"emails"}]},"options":{}},"id":"8401871d-1650-4c2a-879a-5a9b5e042977","name":"Remove Duplicates (2)","type":"n8n-nodes-base.removeDuplicates","typeVersion":1,"position":[2864,0]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1u4XYbV45rHtoyydubHFl2wLazw4M4-p3QmPkq2iQf4U","mode":"list","cachedResultName":"Copy of New lead","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u4XYbV45rHtoyydubHFl2wLazw4M4-p3QmPkq2iQf4U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u4XYbV45rHtoyydubHFl2wLazw4M4-p3QmPkq2iQf4U/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"threadId","displayName":"threadId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"labelIds","displayName":"labelIds","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name: \"businessProfile\"","displayName":"Name: \"businessProfile\"","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"4bbd005a-572a-4ff7-9325-b30bd1772ba3","name":"Add to Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3088,0],"credentials":{"googleSheetsOAuth2Api":{"id":"OK8uabSCc25Un5lJ","name":"Google Sheets account"}},"notes":"Configure with your Google Sheets credentials and spreadsheet ID"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[864,0],"id":"38ac79ba-9b83-4311-b707-0532f097316f","name":"Remove Duplicates1"}],"connections":{"When clicking 'Test'":{"main":[[{"node":"Scrape Google Maps","type":"main","index":0}]]},"Scrape Google Maps":{"main":[[{"node":"Extract URLs","type":"main","index":0}]]},"Extract URLs":{"main":[[{"node":"Filter Google URLs","type":"main","index":0}]]},"Filter Google URLs":{"main":[[{"node":"Remove Duplicates1","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Scrape Site","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"Scrape Site":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Extract Emails","type":"main","index":0}]]},"Extract Emails":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Filter Out Empties","type":"main","index":0}]]},"Filter Out Empties":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Remove Duplicates (2)","type":"main","index":0}]]},"Remove Duplicates (2)":{"main":[[{"node":"Add to Sheet","type":"main","index":0}]]},"Remove Duplicates1":{"main":[[{"node":"Limit","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7dc59c24-d46e-4e47-ab82-5a4f851f875b","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-15T01:49:59.829Z","createdAt":"2026-01-15T01:49:59.829Z","role":"workflow:owner","workflowId":"HP5h2jnRGqzstS5NA9BcJ","projectId":"f7lZ9I1x9DksCYtb"}],"activeVersion":null,"tags":[]}