workflows/iclarified ai.json
{"updatedAt":"2026-01-15T00:16:52.686Z","createdAt":"2026-01-05T10:01:58.127Z","id":"8QbeG6WpUnZ5w6XotIu9Q","name":"iclarified ai","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"https://www.iclarified.com/news","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-16,16],"id":"92828ae6-e70f-48f4-a399-a80d4fb08526","name":"HTTP Request"},{"parameters":{"promptType":"define","text":"what is the latest news today","options":{"systemMessage":"=You are a helpful  ai writer assistant.\nyour job it to take the data : {{ $json.data }} and summarize it and come out with 3 to 5 paragrph to post it in linkedin \ncurrent time and date is {{ $now }}\n###Rules \n1-Ensure the final output is under 2,800 characters to fit LinkedIn's character limit.\"\n2-the final out shou;ld just clean text without adding anything extra to it"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[208,16],"id":"6f3a06ac-d687-4966-b98f-07e534d84ff0","name":"AI Agent"},{"parameters":{"model":"openai/o3-mini-high","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[192,192],"id":"fc08a0c1-dc5c-4c97-aebe-e4fbbfa5bf80","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"ypsTIXKbBaqMjw1s","name":"OpenRouter account"}}},{"parameters":{"person":"6EXGcXHgAw","text":"={{ $json.output }}","shareMediaCategory":"IMAGE","additionalFields":{"visibility":"PUBLIC"}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[976,48],"id":"11f3ac6f-40ba-4b08-b552-0259c76bde3d","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"cwRmvXdzDoDbaoJF","name":"LinkedIn account"}}},{"parameters":{"resource":"image","prompt":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[560,-64],"id":"99bad652-5d0a-4d82-8be6-6987af6f77c0","name":"Generate an image","credentials":{"openAiApi":{"id":"48TEmGCBXdVXf76y","name":"OpenAi account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[752,48],"id":"5d4aa097-67fa-4417-af8a-af52fb4b26b8","name":"Merge"},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-224,-16],"id":"5304d090-0de3-4fd7-8f5d-c33a96a4e257","name":"Schedule Trigger"}],"connections":{"HTTP Request":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Generate an image","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Create a post":{"main":[[]]},"Generate an image":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Create a post","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","timezone":"America/Chicago","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8d0dc8a1-8c02-48b7-8fc4-31f7b3786f54","activeVersionId":"8d0dc8a1-8c02-48b7-8fc4-31f7b3786f54","triggerCount":1,"shared":[{"updatedAt":"2026-01-05T10:01:58.141Z","createdAt":"2026-01-05T10:01:58.141Z","role":"workflow:owner","workflowId":"8QbeG6WpUnZ5w6XotIu9Q","projectId":"f7lZ9I1x9DksCYtb"}],"activeVersion":{"updatedAt":"2026-01-15T00:16:56.000Z","createdAt":"2026-01-15T00:16:52.687Z","versionId":"8d0dc8a1-8c02-48b7-8fc4-31f7b3786f54","workflowId":"8QbeG6WpUnZ5w6XotIu9Q","nodes":[{"parameters":{"url":"https://www.iclarified.com/news","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-16,16],"id":"92828ae6-e70f-48f4-a399-a80d4fb08526","name":"HTTP Request"},{"parameters":{"promptType":"define","text":"what is the latest news today","options":{"systemMessage":"=You are a helpful  ai writer assistant.\nyour job it to take the data : {{ $json.data }} and summarize it and come out with 3 to 5 paragrph to post it in linkedin \ncurrent time and date is {{ $now }}\n###Rules \n1-Ensure the final output is under 2,800 characters to fit LinkedIn's character limit.\"\n2-the final out shou;ld just clean text without adding anything extra to it"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[208,16],"id":"6f3a06ac-d687-4966-b98f-07e534d84ff0","name":"AI Agent"},{"parameters":{"model":"openai/o3-mini-high","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[192,192],"id":"fc08a0c1-dc5c-4c97-aebe-e4fbbfa5bf80","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"ypsTIXKbBaqMjw1s","name":"OpenRouter account"}}},{"parameters":{"person":"6EXGcXHgAw","text":"={{ $json.output }}","shareMediaCategory":"IMAGE","additionalFields":{"visibility":"PUBLIC"}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[976,48],"id":"11f3ac6f-40ba-4b08-b552-0259c76bde3d","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"cwRmvXdzDoDbaoJF","name":"LinkedIn account"}}},{"parameters":{"resource":"image","prompt":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[560,-64],"id":"99bad652-5d0a-4d82-8be6-6987af6f77c0","name":"Generate an image","credentials":{"openAiApi":{"id":"48TEmGCBXdVXf76y","name":"OpenAi account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[752,48],"id":"5d4aa097-67fa-4417-af8a-af52fb4b26b8","name":"Merge"},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-224,-16],"id":"5304d090-0de3-4fd7-8f5d-c33a96a4e257","name":"Schedule Trigger"}],"connections":{"HTTP Request":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Generate an image","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Create a post":{"main":[[]]},"Generate an image":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Create a post","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"authors":"adam quriat12@gmail.com","name":"Version 8d0dc8a1","description":"","autosaved":true},"tags":[]}