workflows/iclarified ai.json
{"updatedAt":"2026-02-18T17:24:21.009Z","createdAt":"2026-01-05T10:01:58.127Z","id":"8QbeG6WpUnZ5w6XotIu9Q","name":"iclarified ai","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"https://www.iclarified.com/news","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-16,16],"id":"92828ae6-e70f-48f4-a399-a80d4fb08526","name":"HTTP Request"},{"parameters":{"promptType":"define","text":"what is the latest news today","options":{"systemMessage":"=You are a helpful  ai writer assistant.\nyour job it to take the data : {{ $json.data }} and summarize it and come out with 3 to 5 paragrph to post it in linkedin \ncurrent time and date is {{ $now }}\n###Rules \n1-Ensure the final output is under 2,800 characters to fit LinkedIn's character limit.\"\n2-the final out shou;ld just clean text without adding anything extra to it"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[192,-16],"id":"6f3a06ac-d687-4966-b98f-07e534d84ff0","name":"AI Agent"},{"parameters":{"person":"6EXGcXHgAw","text":"={{ $json.output }}","shareMediaCategory":"IMAGE","additionalFields":{"visibility":"PUBLIC"}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[976,-16],"id":"11f3ac6f-40ba-4b08-b552-0259c76bde3d","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"cwRmvXdzDoDbaoJF","name":"LinkedIn account"}}},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[720,288],"id":"99bad652-5d0a-4d82-8be6-6987af6f77c0","name":"Generate an image","credentials":{"openAiApi":{"id":"48TEmGCBXdVXf76y","name":"quriat12"}},"disabled":true},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[800,0],"id":"5d4aa097-67fa-4417-af8a-af52fb4b26b8","name":"Merge"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-256,16],"id":"5304d090-0de3-4fd7-8f5d-c33a96a4e257","name":"Schedule Trigger"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[176,208],"id":"e2d46705-de79-4c04-a5a2-2e6279c4b22c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"dIbebkCdxuZQHQrG","name":"OpenAi account 2"}}},{"parameters":{"method":"POST","url":"https://router.huggingface.co/hf-inference/models/black-forest-labs/FLUX.1-schnell","authentication":"predefinedCredentialType","nodeCredentialType":"huggingFaceApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"image/png"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inputs","value":"=({\n    provider: \"nscale\",\n    model: \"black-forest-labs/FLUX.1-schnell\",\n\tinputs: \"{{ $json.output }}\",\n\tparameters: { num_inference_steps: 5 },\n});"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"id":"2b6f592c-3592-4648-b937-caf1f719de3d","name":"Generate featured image using HuggingFace FLUX","type":"n8n-nodes-base.httpRequest","position":[544,-160],"typeVersion":4.3,"credentials":{"huggingFaceApi":{"id":"utDikyPvJv4mJSaN","name":"HuggingFaceApi account"}}}],"connections":{"HTTP Request":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Generate featured image using HuggingFace FLUX","type":"main","index":0}]]},"Create a post":{"main":[[]]},"Generate an image":{"main":[[]]},"Merge":{"main":[[{"node":"Create a post","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Generate featured image using HuggingFace FLUX":{"main":[[{"node":"Merge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","timezone":"America/Chicago","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[0]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2026-02-18T08:00:08.005-06:00","Readable date":"February 18th 2026, 8:00:08 am","Readable time":"8:00:08 am","Day of week":"Wednesday","Year":"2026","Month":"February","Day of month":"18","Hour":"08","Minute":"00","Second":"08","Timezone":"America/Chicago (UTC-06:00)"},"pairedItem":{"item":0}}]},"versionId":"e724b551-bd70-43c7-ad21-4ae3264696e9","activeVersionId":"e724b551-bd70-43c7-ad21-4ae3264696e9","triggerCount":1,"shared":[{"updatedAt":"2026-01-05T10:01:58.141Z","createdAt":"2026-01-05T10:01:58.141Z","role":"workflow:owner","workflowId":"8QbeG6WpUnZ5w6XotIu9Q","projectId":"f7lZ9I1x9DksCYtb"}],"activeVersion":{"updatedAt":"2026-02-18T17:24:36.000Z","createdAt":"2026-02-18T17:24:21.010Z","versionId":"e724b551-bd70-43c7-ad21-4ae3264696e9","workflowId":"8QbeG6WpUnZ5w6XotIu9Q","nodes":[{"parameters":{"url":"https://www.iclarified.com/news","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-16,16],"id":"92828ae6-e70f-48f4-a399-a80d4fb08526","name":"HTTP Request"},{"parameters":{"promptType":"define","text":"what is the latest news today","options":{"systemMessage":"=You are a helpful  ai writer assistant.\nyour job it to take the data : {{ $json.data }} and summarize it and come out with 3 to 5 paragrph to post it in linkedin \ncurrent time and date is {{ $now }}\n###Rules \n1-Ensure the final output is under 2,800 characters to fit LinkedIn's character limit.\"\n2-the final out shou;ld just clean text without adding anything extra to it"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[192,-16],"id":"6f3a06ac-d687-4966-b98f-07e534d84ff0","name":"AI Agent"},{"parameters":{"person":"6EXGcXHgAw","text":"={{ $json.output }}","shareMediaCategory":"IMAGE","additionalFields":{"visibility":"PUBLIC"}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[976,-16],"id":"11f3ac6f-40ba-4b08-b552-0259c76bde3d","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"cwRmvXdzDoDbaoJF","name":"LinkedIn account"}}},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[720,288],"id":"99bad652-5d0a-4d82-8be6-6987af6f77c0","name":"Generate an image","credentials":{"openAiApi":{"id":"48TEmGCBXdVXf76y","name":"quriat12"}},"disabled":true},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[800,0],"id":"5d4aa097-67fa-4417-af8a-af52fb4b26b8","name":"Merge"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-256,16],"id":"5304d090-0de3-4fd7-8f5d-c33a96a4e257","name":"Schedule Trigger"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[176,208],"id":"e2d46705-de79-4c04-a5a2-2e6279c4b22c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"dIbebkCdxuZQHQrG","name":"OpenAi account 2"}}},{"parameters":{"method":"POST","url":"https://router.huggingface.co/hf-inference/models/black-forest-labs/FLUX.1-schnell","authentication":"predefinedCredentialType","nodeCredentialType":"huggingFaceApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"image/png"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inputs","value":"=({\n    provider: \"nscale\",\n    model: \"black-forest-labs/FLUX.1-schnell\",\n\tinputs: \"{{ $json.output }}\",\n\tparameters: { num_inference_steps: 5 },\n});"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"id":"2b6f592c-3592-4648-b937-caf1f719de3d","name":"Generate featured image using HuggingFace FLUX","type":"n8n-nodes-base.httpRequest","position":[544,-160],"typeVersion":4.3,"credentials":{"huggingFaceApi":{"id":"utDikyPvJv4mJSaN","name":"HuggingFaceApi account"}}}],"connections":{"HTTP Request":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Generate featured image using HuggingFace FLUX","type":"main","index":0}]]},"Create a post":{"main":[[]]},"Generate an image":{"main":[[]]},"Merge":{"main":[[{"node":"Create a post","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Generate featured image using HuggingFace FLUX":{"main":[[{"node":"Merge","type":"main","index":0}]]}},"authors":"adam aljahdhami","name":"Version e724b551","description":"","autosaved":true},"tags":[]}