workflows/linkedin blog post 3 hours.json
{"updatedAt":"2026-02-17T02:07:36.638Z","createdAt":"2026-01-13T23:59:21.710Z","id":"HRDHq_6i-xCIHAP2GFNAy","name":"linkedin blog post 3 hours","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1232,96],"id":"349cefeb-f647-4e95-a76e-9ab48c21c696","name":"Schedule Trigger"},{"parameters":{"url":"https://newsdata.io/api/1/news","sendQuery":true,"queryParameters":{"parameters":[{"name":"apikey","value":"pub_dc8893cb9d014afdb7d4040feeb63636"},{"name":"category","value":"technology"},{"name":"language","value":"En"},{"name":"size","value":"1"},{"name":"country","value":"us"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1008,96],"id":"906b9f60-4be6-46e0-a6b8-1fa26aa662d6","name":"HTTP Request"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{"content":"You are an expert blog writer who creates engaging, original content. You excel at transforming news into interesting articles without plagiarism.\n","role":"model"},{"content":"=Write a completely original blog post about this news:\nTitle: {{ $json.results[0].title }}\nDescription:{{ $json.results[0].description }}\n\nRequirements:\n- Create a unique and engaging title\n- Write EXACTLY 5 separate paragraphs (each in its own <p> tag)\n- Include your own analysis and perspective\n- Do NOT copy phrases from the original source\n- End with a thoughtful conclusion\n\nFormat the response as clean JSON without backticks:\n{\n  \"title\": \"Your creative blog title\",\n  \"content\": \"The full blog post content with HTML formatting including separate <p> tags for each paragraph\"\n}\n\n\n\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-784,96],"id":"f923e726-e8a7-4c41-a415-177597d94655","name":"Message a model","retryOnFail":true,"credentials":{"googlePalmApi":{"id":"6gfUtlfZ4c3pV5om","name":"quriat12"}}},{"parameters":{"jsCode":"// --- Grab model output (works for OpenAI + Gemini) ---\nconst j = items[0].json;\n\nlet text =\n  j?.message?.content ??                              // OpenAI (some n8n nodes)\n  j?.choices?.[0]?.message?.content ??                // OpenAI (raw API shape)\n  j?.content?.parts?.[0]?.text ??                     // Gemini common shape\n  j?.candidates?.[0]?.content?.parts?.[0]?.text ??    // Gemini alternative\n  null;\n\nif (!text) {\n  throw new Error('Model output not found on known paths.');\n}\n\ntext = String(text).trim();\n\n// --- Strip code fences if present ---\nif (text.startsWith('```')) {\n  // remove leading ```json (or ```), and trailing ```\n  text = text.replace(/^```[a-z]*\\n?/i, '').replace(/```$/, '').trim();\n}\n\n// --- Extract the first JSON object from the string safely ---\nconst start = text.indexOf('{');\nconst end   = text.lastIndexOf('}');\nif (start === -1 || end === -1 || end <= start) {\n  throw new Error('No JSON object found in model output:\\n' + text.slice(0, 400));\n}\nconst jsonStr = text.slice(start, end + 1);\n\n// --- Parse JSON ---\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  // try a softer parse if there are stray newlines/tabs\n  parsed = JSON.parse(jsonStr.replace(/\\n/g, ' ').replace(/\\t/g, ' '));\n}\n\n// --- Guards ---\nif (!parsed.title || !parsed.content) {\n  throw new Error('Parsed JSON missing title/content keys. Got keys: ' + Object.keys(parsed).join(', '));\n}\n\n// --- Output for next nodes ---\nreturn [\n  {\n    json: {\n      title: parsed.title,\n      content: parsed.content\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,96],"id":"989cc9c5-da5f-4e47-b49d-efd361b4949a","name":"Code in JavaScript"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/blogger/v3/blogs/386446186967615496/posts","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendBody":true,"bodyParameters":{"parameters":[{"name":"kind","value":"blogger#post"},{"name":"title","value":"={{ $json.title }}"},{"name":"content","value":"={{ $json.content }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-224,224],"id":"f5a78977-4ff2-4b40-a664-10ac0a68f7c2","name":"HTTP Request1","disabled":true},{"parameters":{"person":"6EXGcXHgAw","text":"={{ $json.content.slice(0, 2950) }}","additionalFields":{"visibility":"PUBLIC"}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[-272,-48],"id":"35eeba88-feb5-49d5-a0da-df13545cfa27","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"cwRmvXdzDoDbaoJF","name":"LinkedIn account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"HTTP Request1","type":"main","index":0},{"node":"Create a post","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","timezone":"America/Chicago","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"h_OUfENFlQWrNGj_frFoP","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[6]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2026-02-16T00:00:50.044-06:00","Readable date":"February 16th 2026, 12:00:50 am","Readable time":"12:00:50 am","Day of week":"Monday","Year":"2026","Month":"February","Day of month":"16","Hour":"00","Minute":"00","Second":"50","Timezone":"America/Chicago (UTC-06:00)"},"pairedItem":{"item":0}}]},"versionId":"4f72ca33-96af-45d2-ba58-fb61b7306a8b","activeVersionId":"4f72ca33-96af-45d2-ba58-fb61b7306a8b","triggerCount":1,"shared":[{"updatedAt":"2026-01-13T23:59:21.716Z","createdAt":"2026-01-13T23:59:21.716Z","role":"workflow:owner","workflowId":"HRDHq_6i-xCIHAP2GFNAy","projectId":"f7lZ9I1x9DksCYtb"}],"activeVersion":{"updatedAt":"2026-02-17T02:07:28.000Z","createdAt":"2026-02-15T03:28:05.790Z","versionId":"4f72ca33-96af-45d2-ba58-fb61b7306a8b","workflowId":"HRDHq_6i-xCIHAP2GFNAy","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1232,96],"id":"349cefeb-f647-4e95-a76e-9ab48c21c696","name":"Schedule Trigger"},{"parameters":{"url":"https://newsdata.io/api/1/news","sendQuery":true,"queryParameters":{"parameters":[{"name":"apikey","value":"pub_dc8893cb9d014afdb7d4040feeb63636"},{"name":"category","value":"technology"},{"name":"language","value":"En"},{"name":"size","value":"1"},{"name":"country","value":"us"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1008,96],"id":"906b9f60-4be6-46e0-a6b8-1fa26aa662d6","name":"HTTP Request"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{"content":"You are an expert blog writer who creates engaging, original content. You excel at transforming news into interesting articles without plagiarism.\n","role":"model"},{"content":"=Write a completely original blog post about this news:\nTitle: {{ $json.results[0].title }}\nDescription:{{ $json.results[0].description }}\n\nRequirements:\n- Create a unique and engaging title\n- Write EXACTLY 5 separate paragraphs (each in its own <p> tag)\n- Include your own analysis and perspective\n- Do NOT copy phrases from the original source\n- End with a thoughtful conclusion\n\nFormat the response as clean JSON without backticks:\n{\n  \"title\": \"Your creative blog title\",\n  \"content\": \"The full blog post content with HTML formatting including separate <p> tags for each paragraph\"\n}\n\n\n\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-784,96],"id":"f923e726-e8a7-4c41-a415-177597d94655","name":"Message a model","retryOnFail":true,"credentials":{"googlePalmApi":{"id":"6gfUtlfZ4c3pV5om","name":"quriat12"}}},{"parameters":{"jsCode":"// --- Grab model output (works for OpenAI + Gemini) ---\nconst j = items[0].json;\n\nlet text =\n  j?.message?.content ??                              // OpenAI (some n8n nodes)\n  j?.choices?.[0]?.message?.content ??                // OpenAI (raw API shape)\n  j?.content?.parts?.[0]?.text ??                     // Gemini common shape\n  j?.candidates?.[0]?.content?.parts?.[0]?.text ??    // Gemini alternative\n  null;\n\nif (!text) {\n  throw new Error('Model output not found on known paths.');\n}\n\ntext = String(text).trim();\n\n// --- Strip code fences if present ---\nif (text.startsWith('```')) {\n  // remove leading ```json (or ```), and trailing ```\n  text = text.replace(/^```[a-z]*\\n?/i, '').replace(/```$/, '').trim();\n}\n\n// --- Extract the first JSON object from the string safely ---\nconst start = text.indexOf('{');\nconst end   = text.lastIndexOf('}');\nif (start === -1 || end === -1 || end <= start) {\n  throw new Error('No JSON object found in model output:\\n' + text.slice(0, 400));\n}\nconst jsonStr = text.slice(start, end + 1);\n\n// --- Parse JSON ---\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  // try a softer parse if there are stray newlines/tabs\n  parsed = JSON.parse(jsonStr.replace(/\\n/g, ' ').replace(/\\t/g, ' '));\n}\n\n// --- Guards ---\nif (!parsed.title || !parsed.content) {\n  throw new Error('Parsed JSON missing title/content keys. Got keys: ' + Object.keys(parsed).join(', '));\n}\n\n// --- Output for next nodes ---\nreturn [\n  {\n    json: {\n      title: parsed.title,\n      content: parsed.content\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,96],"id":"989cc9c5-da5f-4e47-b49d-efd361b4949a","name":"Code in JavaScript"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/blogger/v3/blogs/386446186967615496/posts","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendBody":true,"bodyParameters":{"parameters":[{"name":"kind","value":"blogger#post"},{"name":"title","value":"={{ $json.title }}"},{"name":"content","value":"={{ $json.content }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-224,224],"id":"f5a78977-4ff2-4b40-a664-10ac0a68f7c2","name":"HTTP Request1","disabled":true},{"parameters":{"person":"6EXGcXHgAw","text":"={{ $json.content.slice(0, 2950) }}","additionalFields":{"visibility":"PUBLIC"}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[-272,-48],"id":"35eeba88-feb5-49d5-a0da-df13545cfa27","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"cwRmvXdzDoDbaoJF","name":"LinkedIn account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"HTTP Request1","type":"main","index":0},{"node":"Create a post","type":"main","index":0}]]}},"authors":"adam aljahdhami","name":"Version 4f72ca33","description":"","autosaved":true},"tags":[]}