workflows/linkedin post chat.json
{"updatedAt":"2026-01-13T02:00:59.555Z","createdAt":"2026-01-11T01:23:17.210Z","id":"9i_XdUh-e1VC2MIoU9mx5","name":"linkedin post chat","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-176,-96],"id":"e0fef428-d11b-4e6e-a319-e27c207864d1","name":"When chat message received","webhookId":"cbb98dd3-cf89-4683-acca-3070b0d44570"},{"parameters":{"modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"responses":{"values":[{"content":"={{ $json.chatInput }}"},{"content":"=you are ai poster linkedi anget .\nyour job is to create a proffiunal writer  post form the qution you receve from the user.\n   current date and timer is : {{ $now }}\n## rule\ndo not include the qution in the post \ndont include this to the post:Absolutely! Here's a professional LinkedIn-style post based on the sentiment you shared:\n\n"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[64,-80],"id":"e5da3530-ab23-4ae2-a366-5b2198c1276d","name":"Message a model","credentials":{"openAiApi":{"id":"48TEmGCBXdVXf76y","name":"OpenAi account"}}},{"parameters":{"person":"6EXGcXHgAw","text":"={{ $json.output[0].content[0].text }}","shareMediaCategory":"IMAGE","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[896,-112],"id":"58989e57-5b64-4f50-a695-9051004b3142","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"cwRmvXdzDoDbaoJF","name":"LinkedIn account"}}},{"parameters":{"resource":"image","prompt":"={{ $json.output[0].content[0].text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[464,-240],"id":"85652506-b643-4515-a077-029573fc8a34","name":"Generate an image","credentials":{"openAiApi":{"id":"48TEmGCBXdVXf76y","name":"OpenAi account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[640,-96],"id":"18bd7aff-85ff-4fdd-8c76-1134af973908","name":"Merge"}],"connections":{"When chat message received":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Generate an image","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Generate an image":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Create a post","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","timezone":"America/Chicago","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"h_OUfENFlQWrNGj_frFoP"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"30b5932b-7667-4361-ad10-e68738d40de2","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-11T01:23:17.216Z","createdAt":"2026-01-11T01:23:17.216Z","role":"workflow:owner","workflowId":"9i_XdUh-e1VC2MIoU9mx5","projectId":"f7lZ9I1x9DksCYtb"}],"activeVersion":null,"tags":[]}