workflows/linkedin image post.json
{"updatedAt":"2026-02-18T17:31:43.745Z","createdAt":"2026-01-03T03:39:01.619Z","id":"Ikd25DkhaZoqp1Bx93EU_","name":"linkedin image post","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-592,368],"id":"41e882cf-2c37-477c-a8be-185f370d005f","name":"Wait","webhookId":"678e9484-ffbc-4d26-80f9-b12211972e12"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-880,16],"id":"842a96c5-4617-47fe-a7af-2f2b252d16f3","name":"Schedule Trigger1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-272,16],"id":"34919174-6082-4552-a0dc-722101ae5408","name":"Loop Over Items1"},{"parameters":{"promptType":"define","text":"={{ $json.url }}","options":{"systemMessage":"=create a headline for the single post on linkedin with 3 to 4 paragraphs for each images for the link i have provided to you. It needs to be attention grabbing and short.Donot use #,,emojis, or \"\" like that,just plain text\n\ncureent date and time is:{{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,0],"id":"226c5bb7-e84d-49db-a73d-66e13efc7f85","name":"AI Agent1"},{"parameters":{"jsCode":"const MAX_LENGTH = 700; // Leave space for your fixed prompt text\n\nconst items = $input.all();\n\nreturn items.map(item => {\n  let text = item.json.output || \"\";\n\n  if (text.length > MAX_LENGTH) {\n    text = text.substring(0, MAX_LENGTH);\n  }\n\n  item.json.output = text;\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[336,0],"id":"5b853f2d-5932-48ff-8688-38d0ccd1f5c2","name":"capitalize the title"},{"parameters":{"jsCode":"const items = $input.all();\nlet output = [];\n\nfor (const item of items) {\n  for (const article of item.json.articles) {\n    output.push({\n      json: {\n        title: article.title,\n        url:article.url,\n        image: article.image,\n        description : article.description\n      }\n    });\n  }\n}\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,16],"id":"f0fd7609-2511-44ef-9219-03bc814b3601","name":"extract"},{"parameters":{"url":"https://gnews.io/api/v4/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"artificial intelligence"},{"name":"lang","value":"en"},{"name":"token","value":"ee4b77e439e3e988a6a7e50076279d27"},{"name":"max","value":"4"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-688,16],"id":"fcfe1c8f-e3e9-41ae-9cf2-1fee0872bf0d","name":"GNews","retryOnFail":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-384,384],"id":"821d834d-5f2f-49ef-aa3a-1827bd49a10a","name":"Merge"},{"parameters":{"person":"6EXGcXHgAw","text":"={{ $('AI Agent1').item.json.output }}","shareMediaCategory":"IMAGE","additionalFields":{"visibility":"PUBLIC"}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[272,368],"id":"75d5eff3-c6bd-4aee-9cd8-67de2701a15f","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"cwRmvXdzDoDbaoJF","name":"LinkedIn account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-176,384],"id":"37d75cb5-a719-4542-834d-c30011f579ad","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"45016506-ca54-4e4c-84a7-c6984190a6c1","leftValue":"={{ $binary.data }}","rightValue":"exists","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[48,368],"id":"e6047998-3d06-42d7-b281-a8bd4c97c9bc","name":"Filter"},{"parameters":{"model":"openai/gpt-4","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-96,208],"id":"6c2a6e18-2d5d-4df7-96a9-c903f12772fd","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"ypsTIXKbBaqMjw1s","name":"OpenRouter account"}}},{"parameters":{"method":"POST","url":"https://router.huggingface.co/hf-inference/models/black-forest-labs/FLUX.1-schnell","authentication":"predefinedCredentialType","nodeCredentialType":"huggingFaceApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"image/png"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inputs","value":"=({\n    provider: \"nscale\",\n    model: \"black-forest-labs/FLUX.1-schnell\",\n\tinputs: \"{{ $json.output }}\",\n\tparameters: { num_inference_steps: 5 },\n});"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"id":"c9e6f473-73b7-4a81-aa09-7b0d03d945e6","name":"Generate featured image using HuggingFace FLUX","type":"n8n-nodes-base.httpRequest","position":[-800,352],"typeVersion":4.3,"credentials":{"huggingFaceApi":{"id":"utDikyPvJv4mJSaN","name":"HuggingFaceApi account"}}}],"connections":{"Wait":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"GNews","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"AI Agent1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"capitalize the title","type":"main","index":0}]]},"capitalize the title":{"main":[[{"node":"Generate featured image using HuggingFace FLUX","type":"main","index":0}]]},"extract":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"GNews":{"main":[[{"node":"extract","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create a post":{"main":[[]]},"Loop Over Items":{"main":[[{"node":"Filter","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Create a post","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Generate featured image using HuggingFace FLUX":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","timezone":"America/Chicago","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"h_OUfENFlQWrNGj_frFoP"},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[12]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger1":[{"json":{"timestamp":"2026-02-18T00:00:04.003-06:00","Readable date":"February 18th 2026, 12:00:04 am","Readable time":"12:00:04 am","Day of week":"Wednesday","Year":"2026","Month":"February","Day of month":"18","Hour":"00","Minute":"00","Second":"04","Timezone":"America/Chicago (UTC-06:00)"},"pairedItem":{"item":0}}]},"versionId":"59a53220-5e48-45bb-b806-2665a0547f4f","activeVersionId":"59a53220-5e48-45bb-b806-2665a0547f4f","triggerCount":1,"shared":[{"updatedAt":"2026-01-03T03:39:01.664Z","createdAt":"2026-01-03T03:39:01.664Z","role":"workflow:owner","workflowId":"Ikd25DkhaZoqp1Bx93EU_","projectId":"f7lZ9I1x9DksCYtb"}],"activeVersion":{"updatedAt":"2026-02-18T17:33:33.000Z","createdAt":"2026-02-18T17:31:43.748Z","versionId":"59a53220-5e48-45bb-b806-2665a0547f4f","workflowId":"Ikd25DkhaZoqp1Bx93EU_","nodes":[{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-592,368],"id":"41e882cf-2c37-477c-a8be-185f370d005f","name":"Wait","webhookId":"678e9484-ffbc-4d26-80f9-b12211972e12"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-880,16],"id":"842a96c5-4617-47fe-a7af-2f2b252d16f3","name":"Schedule Trigger1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-272,16],"id":"34919174-6082-4552-a0dc-722101ae5408","name":"Loop Over Items1"},{"parameters":{"promptType":"define","text":"={{ $json.url }}","options":{"systemMessage":"=create a headline for the single post on linkedin with 3 to 4 paragraphs for each images for the link i have provided to you. It needs to be attention grabbing and short.Donot use #,,emojis, or \"\" like that,just plain text\n\ncureent date and time is:{{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,0],"id":"226c5bb7-e84d-49db-a73d-66e13efc7f85","name":"AI Agent1"},{"parameters":{"jsCode":"const MAX_LENGTH = 700; // Leave space for your fixed prompt text\n\nconst items = $input.all();\n\nreturn items.map(item => {\n  let text = item.json.output || \"\";\n\n  if (text.length > MAX_LENGTH) {\n    text = text.substring(0, MAX_LENGTH);\n  }\n\n  item.json.output = text;\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[336,0],"id":"5b853f2d-5932-48ff-8688-38d0ccd1f5c2","name":"capitalize the title"},{"parameters":{"jsCode":"const items = $input.all();\nlet output = [];\n\nfor (const item of items) {\n  for (const article of item.json.articles) {\n    output.push({\n      json: {\n        title: article.title,\n        url:article.url,\n        image: article.image,\n        description : article.description\n      }\n    });\n  }\n}\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,16],"id":"f0fd7609-2511-44ef-9219-03bc814b3601","name":"extract"},{"parameters":{"url":"https://gnews.io/api/v4/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"artificial intelligence"},{"name":"lang","value":"en"},{"name":"token","value":"ee4b77e439e3e988a6a7e50076279d27"},{"name":"max","value":"4"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-688,16],"id":"fcfe1c8f-e3e9-41ae-9cf2-1fee0872bf0d","name":"GNews","retryOnFail":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-384,384],"id":"821d834d-5f2f-49ef-aa3a-1827bd49a10a","name":"Merge"},{"parameters":{"person":"6EXGcXHgAw","text":"={{ $('AI Agent1').item.json.output }}","shareMediaCategory":"IMAGE","additionalFields":{"visibility":"PUBLIC"}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[272,368],"id":"75d5eff3-c6bd-4aee-9cd8-67de2701a15f","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"cwRmvXdzDoDbaoJF","name":"LinkedIn account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-176,384],"id":"37d75cb5-a719-4542-834d-c30011f579ad","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"45016506-ca54-4e4c-84a7-c6984190a6c1","leftValue":"={{ $binary.data }}","rightValue":"exists","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[48,368],"id":"e6047998-3d06-42d7-b281-a8bd4c97c9bc","name":"Filter"},{"parameters":{"model":"openai/gpt-4","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-96,208],"id":"6c2a6e18-2d5d-4df7-96a9-c903f12772fd","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"ypsTIXKbBaqMjw1s","name":"OpenRouter account"}}},{"parameters":{"method":"POST","url":"https://router.huggingface.co/hf-inference/models/black-forest-labs/FLUX.1-schnell","authentication":"predefinedCredentialType","nodeCredentialType":"huggingFaceApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"image/png"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inputs","value":"=({\n    provider: \"nscale\",\n    model: \"black-forest-labs/FLUX.1-schnell\",\n\tinputs: \"{{ $json.output }}\",\n\tparameters: { num_inference_steps: 5 },\n});"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"id":"c9e6f473-73b7-4a81-aa09-7b0d03d945e6","name":"Generate featured image using HuggingFace FLUX","type":"n8n-nodes-base.httpRequest","position":[-800,352],"typeVersion":4.3,"credentials":{"huggingFaceApi":{"id":"utDikyPvJv4mJSaN","name":"HuggingFaceApi account"}}}],"connections":{"Wait":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"GNews","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"AI Agent1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"capitalize the title","type":"main","index":0}]]},"capitalize the title":{"main":[[{"node":"Generate featured image using HuggingFace FLUX","type":"main","index":0}]]},"extract":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"GNews":{"main":[[{"node":"extract","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create a post":{"main":[[]]},"Loop Over Items":{"main":[[{"node":"Filter","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Create a post","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Generate featured image using HuggingFace FLUX":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"authors":"adam aljahdhami","name":"Version 59a53220","description":"","autosaved":true},"tags":[]}