workflows/linkedin post hourly.json
{"updatedAt":"2026-02-13T01:02:55.857Z","createdAt":"2026-01-13T23:12:02.857Z","id":"JH4LDyfUf8GjMy5AgXjTX","name":"linkedin post hourly","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"id":"daebc2a9-8037-4fad-9afb-6379bdc233bc","name":"Trigger at 8am daily","type":"n8n-nodes-base.scheduleTrigger","position":[-592,48],"typeVersion":1.2},{"parameters":{"url":"https://gnews.io/api/v4/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"Technology"},{"name":"lang","value":"en"},{"name":"apikey","value":"f7cd92bc3517806c84b8ba6fa14ede60"},{"name":"lang","value":"Arabic"}]},"options":{}},"id":"a7278446-c62b-4a59-8f18-00c1de6f24b0","name":"Fetch GNews articles","type":"n8n-nodes-base.httpRequest","position":[-368,-48],"typeVersion":4.2},{"parameters":{"url":"https://newsapi.org/v2/everything","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"News"},{"name":"language","value":"en"},{"name":"sortBy","value":"publishedAt"},{"name":"pageSize","value":"20"},{"name":"language","value":"arabic"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"c82564e99c734d12bee83cf8e12b2b2b"}]},"options":{}},"id":"da36845e-abf4-48a9-bb83-673468f79378","name":"Fetch NewsAPI articles","type":"n8n-nodes-base.httpRequest","position":[-368,144],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"name":"articles","type":"string","value":"={{ $json.articles }}"}]},"options":{}},"id":"5e813c0a-a24e-4da6-ad2b-7792bcda8cdc","name":"GNews: Map to articles","type":"n8n-nodes-base.set","position":[-144,-48],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"name":"articles","type":"string","value":"={{ $json.articles }}"}]},"options":{}},"id":"bc05cb92-f7f8-4abc-a672-831dcbedde51","name":"NewsAPI: Map to articles","type":"n8n-nodes-base.set","position":[-144,144],"typeVersion":3.4},{"parameters":{},"id":"a6a8a066-d031-4c42-8cd8-ed797bc84f7d","name":"Merge GNews & NewsAPI","type":"n8n-nodes-base.merge","position":[80,48],"typeVersion":3.1},{"parameters":{"promptType":"define","text":"=You are an expert AI news analyst specializing in emerging technology trends.\ncurrent date and time is :{{ $now }}\nYour task:\n1. Analyze the provided list of AI-related articles:  \n   {{ $json.articles }}\n\n2. From this list, select the 15 most relevant and impactful articles about:\n   - AI technology progress\n   - Real-world applications of AI\n   - Innovations in machine learning, robotics, or AI-driven products\n\n3. For each selected article, generate a short summary with the following format:\n   - **Title:** [Article title]\n   - **Summary:** [1–2 sentences explaining what makes it relevant or interesting]\n   - **URL:** [Link to the article]\n\n4. Combine all summaries into a single, readable text block suitable for posting on LinkedIn or email newsletters.\n\n5. Make sure the tone is professional, engaging, and informative. Avoid repetition or generic language.\n\n6. Conclude with one line summarizing the overall theme or trend emerging from these articles.\n\n\nHere are the 15 most relevant articles on AI technology progress and applications this week:\n\n1. **Smart Glasses Are the Next AI Interface**\n   Summary: Explores how photonics and AI merge to create smart glasses, potentially replacing smartphones as the next major interface.\n   URL: https://www.marketcreener.com/news/...\n\n2. **Windows 11 November Update Introduces AI-Powered Features**\n   Summary: Microsoft adds AI assistants, productivity tools, and security enhancements in its latest Windows 11 release.\n   URL: https://www.windowscentral.com/news/...\n\n## you must add #avalimo.net in the end of the post.\n\n","options":{}},"id":"4003710b-e885-400f-812a-dd441edd949c","name":"AI summarizer & translator","type":"@n8n/n8n-nodes-langchain.agent","position":[256,16],"typeVersion":1.8},{"parameters":{"person":"6EXGcXHgAw","text":"={{ $json.content }}","additionalFields":{"visibility":"PUBLIC"}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[752,32],"id":"bfb152e4-dc00-4760-8b8c-4d83f8f59f0c","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"cwRmvXdzDoDbaoJF","name":"LinkedIn account"}}},{"parameters":{"jsCode":"// Get the first input item\nconst item = items[0];\n\n// Extract AI output safely\nconst output = item.json.output;\n\n// If output is an object with .subject/content — use them\n// If it's a string — treat it as full content\nlet subject = \"\";\nlet content = \"\";\n\nif (typeof output === \"object\" && (output.subject || output.content)) {\n  subject = output.subject || \"AI Summary\";\n  content = output.content || \"\";\n} else {\n  // Fallback for string-type output\n  subject = \"AI Summary\";\n  content = String(output || \"\");\n}\n\n// Clean and truncate text\nconst plainText = content\n  .replace(/<[^>]*>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\n// Limit for LinkedIn\nconst maxContent = 2800 - subject.length;\nconst truncated =\n  plainText.length > maxContent\n    ? plainText.substring(0, maxContent) + '...'\n    : plainText;\n\n// Return result\nreturn [\n  {\n    json: {\n      subject,\n      content: truncated,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,32],"id":"1439c160-9a77-4578-b498-c3667fa57dfe","name":"Code in JavaScript"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[224,208],"id":"9ff647e6-ace9-4d6c-9033-943e0492822b","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"zpeqczLumycFK36P","name":"Google Gemini(PaLM) Api account 2"}}}],"connections":{"Trigger at 8am daily":{"main":[[{"node":"Fetch GNews articles","type":"main","index":0},{"node":"Fetch NewsAPI articles","type":"main","index":0}]]},"Fetch GNews articles":{"main":[[{"node":"GNews: Map to articles","type":"main","index":0}]]},"Fetch NewsAPI articles":{"main":[[{"node":"NewsAPI: Map to articles","type":"main","index":0}]]},"GNews: Map to articles":{"main":[[{"node":"Merge GNews & NewsAPI","type":"main","index":0}]]},"NewsAPI: Map to articles":{"main":[[{"node":"Merge GNews & NewsAPI","type":"main","index":1}]]},"Merge GNews & NewsAPI":{"main":[[{"node":"AI summarizer & translator","type":"main","index":0}]]},"AI summarizer & translator":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Create a post","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI summarizer & translator","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","timezone":"America/Chicago","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Trigger at 8am daily":{"recurrenceRules":[15]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Trigger at 8am daily":[{"json":{"timestamp":"2025-12-23T17:00:59.020+01:00","Readable date":"December 23rd 2025, 5:00:59 pm","Readable time":"5:00:59 pm","Day of week":"Tuesday","Year":"2025","Month":"December","Day of month":"23","Hour":"17","Minute":"00","Second":"59","Timezone":"Europe/Berlin (UTC+01:00)"}}]},"versionId":"bba01dd3-10cf-47ca-9520-fa6c3128371c","activeVersionId":"bba01dd3-10cf-47ca-9520-fa6c3128371c","triggerCount":1,"shared":[{"updatedAt":"2026-01-13T23:12:02.875Z","createdAt":"2026-01-13T23:12:02.875Z","role":"workflow:owner","workflowId":"JH4LDyfUf8GjMy5AgXjTX","projectId":"f7lZ9I1x9DksCYtb"}],"activeVersion":{"updatedAt":"2026-02-13T01:03:31.000Z","createdAt":"2026-02-13T01:02:55.859Z","versionId":"bba01dd3-10cf-47ca-9520-fa6c3128371c","workflowId":"JH4LDyfUf8GjMy5AgXjTX","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"id":"daebc2a9-8037-4fad-9afb-6379bdc233bc","name":"Trigger at 8am daily","type":"n8n-nodes-base.scheduleTrigger","position":[-592,48],"typeVersion":1.2},{"parameters":{"url":"https://gnews.io/api/v4/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"Technology"},{"name":"lang","value":"en"},{"name":"apikey","value":"f7cd92bc3517806c84b8ba6fa14ede60"},{"name":"lang","value":"Arabic"}]},"options":{}},"id":"a7278446-c62b-4a59-8f18-00c1de6f24b0","name":"Fetch GNews articles","type":"n8n-nodes-base.httpRequest","position":[-368,-48],"typeVersion":4.2},{"parameters":{"url":"https://newsapi.org/v2/everything","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"News"},{"name":"language","value":"en"},{"name":"sortBy","value":"publishedAt"},{"name":"pageSize","value":"20"},{"name":"language","value":"arabic"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"c82564e99c734d12bee83cf8e12b2b2b"}]},"options":{}},"id":"da36845e-abf4-48a9-bb83-673468f79378","name":"Fetch NewsAPI articles","type":"n8n-nodes-base.httpRequest","position":[-368,144],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"name":"articles","type":"string","value":"={{ $json.articles }}"}]},"options":{}},"id":"5e813c0a-a24e-4da6-ad2b-7792bcda8cdc","name":"GNews: Map to articles","type":"n8n-nodes-base.set","position":[-144,-48],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"name":"articles","type":"string","value":"={{ $json.articles }}"}]},"options":{}},"id":"bc05cb92-f7f8-4abc-a672-831dcbedde51","name":"NewsAPI: Map to articles","type":"n8n-nodes-base.set","position":[-144,144],"typeVersion":3.4},{"parameters":{},"id":"a6a8a066-d031-4c42-8cd8-ed797bc84f7d","name":"Merge GNews & NewsAPI","type":"n8n-nodes-base.merge","position":[80,48],"typeVersion":3.1},{"parameters":{"promptType":"define","text":"=You are an expert AI news analyst specializing in emerging technology trends.\ncurrent date and time is :{{ $now }}\nYour task:\n1. Analyze the provided list of AI-related articles:  \n   {{ $json.articles }}\n\n2. From this list, select the 15 most relevant and impactful articles about:\n   - AI technology progress\n   - Real-world applications of AI\n   - Innovations in machine learning, robotics, or AI-driven products\n\n3. For each selected article, generate a short summary with the following format:\n   - **Title:** [Article title]\n   - **Summary:** [1–2 sentences explaining what makes it relevant or interesting]\n   - **URL:** [Link to the article]\n\n4. Combine all summaries into a single, readable text block suitable for posting on LinkedIn or email newsletters.\n\n5. Make sure the tone is professional, engaging, and informative. Avoid repetition or generic language.\n\n6. Conclude with one line summarizing the overall theme or trend emerging from these articles.\n\n\nHere are the 15 most relevant articles on AI technology progress and applications this week:\n\n1. **Smart Glasses Are the Next AI Interface**\n   Summary: Explores how photonics and AI merge to create smart glasses, potentially replacing smartphones as the next major interface.\n   URL: https://www.marketcreener.com/news/...\n\n2. **Windows 11 November Update Introduces AI-Powered Features**\n   Summary: Microsoft adds AI assistants, productivity tools, and security enhancements in its latest Windows 11 release.\n   URL: https://www.windowscentral.com/news/...\n\n## you must add #avalimo.net in the end of the post.\n\n","options":{}},"id":"4003710b-e885-400f-812a-dd441edd949c","name":"AI summarizer & translator","type":"@n8n/n8n-nodes-langchain.agent","position":[256,16],"typeVersion":1.8},{"parameters":{"person":"6EXGcXHgAw","text":"={{ $json.content }}","additionalFields":{"visibility":"PUBLIC"}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[752,32],"id":"bfb152e4-dc00-4760-8b8c-4d83f8f59f0c","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"cwRmvXdzDoDbaoJF","name":"LinkedIn account"}}},{"parameters":{"jsCode":"// Get the first input item\nconst item = items[0];\n\n// Extract AI output safely\nconst output = item.json.output;\n\n// If output is an object with .subject/content — use them\n// If it's a string — treat it as full content\nlet subject = \"\";\nlet content = \"\";\n\nif (typeof output === \"object\" && (output.subject || output.content)) {\n  subject = output.subject || \"AI Summary\";\n  content = output.content || \"\";\n} else {\n  // Fallback for string-type output\n  subject = \"AI Summary\";\n  content = String(output || \"\");\n}\n\n// Clean and truncate text\nconst plainText = content\n  .replace(/<[^>]*>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\n// Limit for LinkedIn\nconst maxContent = 2800 - subject.length;\nconst truncated =\n  plainText.length > maxContent\n    ? plainText.substring(0, maxContent) + '...'\n    : plainText;\n\n// Return result\nreturn [\n  {\n    json: {\n      subject,\n      content: truncated,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,32],"id":"1439c160-9a77-4578-b498-c3667fa57dfe","name":"Code in JavaScript"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[224,208],"id":"9ff647e6-ace9-4d6c-9033-943e0492822b","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"zpeqczLumycFK36P","name":"Google Gemini(PaLM) Api account 2"}}}],"connections":{"Trigger at 8am daily":{"main":[[{"node":"Fetch GNews articles","type":"main","index":0},{"node":"Fetch NewsAPI articles","type":"main","index":0}]]},"Fetch GNews articles":{"main":[[{"node":"GNews: Map to articles","type":"main","index":0}]]},"Fetch NewsAPI articles":{"main":[[{"node":"NewsAPI: Map to articles","type":"main","index":0}]]},"GNews: Map to articles":{"main":[[{"node":"Merge GNews & NewsAPI","type":"main","index":0}]]},"NewsAPI: Map to articles":{"main":[[{"node":"Merge GNews & NewsAPI","type":"main","index":1}]]},"Merge GNews & NewsAPI":{"main":[[{"node":"AI summarizer & translator","type":"main","index":0}]]},"AI summarizer & translator":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Create a post","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI summarizer & translator","type":"ai_languageModel","index":0}]]}},"authors":"adam aljahdhami","name":"Version bba01dd3","description":"","autosaved":true},"tags":[]}