workflows/linkedin post chat.json
{"updatedAt":"2026-02-18T17:23:52.161Z","createdAt":"2026-01-11T01:23:17.210Z","id":"9i_XdUh-e1VC2MIoU9mx5","name":"linkedin post chat","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-176,-176],"id":"e0fef428-d11b-4e6e-a319-e27c207864d1","name":"When chat message received","webhookId":"cbb98dd3-cf89-4683-acca-3070b0d44570"},{"parameters":{"modelId":{"__rl":true,"value":"o3-mini","mode":"list","cachedResultName":"O3-MINI"},"responses":{"values":[{"content":"={{ $json.chatInput }}"},{"content":"=you are ai poster linkedi anget .\nyour job is to create a proffiunal writer  post form the qution you receve from the user.\n   current date and timer is : {{ $now }}\n## rule\ndo not include the qution in the post \ndont include this to the post:Absolutely! Here's a professional LinkedIn-style post based on the sentiment you shared:\n\n"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-16,48],"id":"e5da3530-ab23-4ae2-a366-5b2198c1276d","name":"Message a model","credentials":{"openAiApi":{"id":"48TEmGCBXdVXf76y","name":"quriat12"}},"disabled":true},{"parameters":{"person":"6EXGcXHgAw","text":"={{ $json.output[0].content[0].text }}","shareMediaCategory":"IMAGE","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[848,-176],"id":"58989e57-5b64-4f50-a695-9051004b3142","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"cwRmvXdzDoDbaoJF","name":"LinkedIn account"}},"disabled":true},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"={{ $json.content.parts[0].text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[416,-16],"id":"85652506-b643-4515-a077-029573fc8a34","name":"Generate an image","credentials":{"openAiApi":{"id":"dIbebkCdxuZQHQrG","name":"OpenAi account 2"}},"disabled":true},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[608,-192],"id":"18bd7aff-85ff-4fdd-8c76-1134af973908","name":"Merge"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemma-3-27b-it","mode":"list","cachedResultName":"models/gemma-3-27b-it"},"messages":{"values":[{"content":"=you are ai poster linkedi anget .\nyour job is to create a proffiunal writer  post form the qution you receve from the user.\n   current date and timer is : {{ $now }}\n## rule\ndo not include the qution in the post \ndont include this to the post:Absolutely! Here's a professional LinkedIn-style post based on the sentiment you shared:\n\n"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[48,-160],"id":"2ddc80f0-defb-43a1-b4ae-f2f37ee0d19d","name":"Message a model1","credentials":{"googlePalmApi":{"id":"6gfUtlfZ4c3pV5om","name":"quriat12"}}},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/gemini-2.0-flash-exp-image-generation","mode":"list","cachedResultName":"models/gemini-2.0-flash-exp-image-generation"},"prompt":"={{ $json.content.parts[0].text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[368,-240],"id":"6af78490-e982-4aa7-8c4a-b794a4b9e80d","name":"Generate an image1","credentials":{"googlePalmApi":{"id":"6gfUtlfZ4c3pV5om","name":"quriat12"}}}],"connections":{"When chat message received":{"main":[[{"node":"Message a model1","type":"main","index":0}]]},"Message a model":{"main":[[]]},"Generate an image":{"main":[[]]},"Merge":{"main":[[{"node":"Create a post","type":"main","index":0}]]},"Message a model1":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Generate an image1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","timezone":"America/Chicago","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"h_OUfENFlQWrNGj_frFoP"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7f13fc21-c255-42b6-90ca-d938987c64ff","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-11T01:23:17.216Z","createdAt":"2026-01-11T01:23:17.216Z","role":"workflow:owner","workflowId":"9i_XdUh-e1VC2MIoU9mx5","projectId":"f7lZ9I1x9DksCYtb"}],"activeVersion":null,"tags":[]}