workflows/linkedin image post.json
{"updatedAt":"2026-02-18T16:25:53.208Z","createdAt":"2026-01-03T03:39:01.619Z","id":"Ikd25DkhaZoqp1Bx93EU_","name":"linkedin image post","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-592,368],"id":"41e882cf-2c37-477c-a8be-185f370d005f","name":"Wait","webhookId":"678e9484-ffbc-4d26-80f9-b12211972e12"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-880,16],"id":"842a96c5-4617-47fe-a7af-2f2b252d16f3","name":"Schedule Trigger1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-272,16],"id":"34919174-6082-4552-a0dc-722101ae5408","name":"Loop Over Items1"},{"parameters":{"promptType":"define","text":"={{ $json.url }}","options":{"systemMessage":"=create a headline for the single post on linkedin with 3 to 4 paragraphs for each images for the link i have provided to you. It needs to be attention grabbing and short.Donot use #,,emojis, or \"\" like that,just plain text\n\ncureent date and time is:{{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,0],"id":"226c5bb7-e84d-49db-a73d-66e13efc7f85","name":"AI Agent1"},{"parameters":{"jsCode":"const items = $input.all();\nconst capitalizedOutput = items.map((item) => {\n  item.json.output = item.json.output.toUpperCase();\n  return item;\n});\nreturn capitalizedOutput;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[336,0],"id":"5b853f2d-5932-48ff-8688-38d0ccd1f5c2","name":"capitalize the title"},{"parameters":{"jsCode":"const items = $input.all();\nlet output = [];\n\nfor (const item of items) {\n  for (const article of item.json.articles) {\n    output.push({\n      json: {\n        title: article.title,\n        url:article.url,\n        image: article.image,\n        description : article.description\n      }\n    });\n  }\n}\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,16],"id":"f0fd7609-2511-44ef-9219-03bc814b3601","name":"extract"},{"parameters":{"url":"https://gnews.io/api/v4/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"artificial intelligence"},{"name":"lang","value":"en"},{"name":"token","value":"ee4b77e439e3e988a6a7e50076279d27"},{"name":"max","value":"4"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-688,16],"id":"fcfe1c8f-e3e9-41ae-9cf2-1fee0872bf0d","name":"GNews","retryOnFail":true},{"parameters":{"resource":"image","model":"dall-e-2","prompt":"=A generic, non-political editorial illustration inspired by the topic below.\nNo text, no real people, abstract shapes, modern flat design.\n\nTopic:\n{{ $json.output }}\n","options":{"size":"1024x1024"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-784,368],"id":"7b6e075a-2e99-45bb-9c07-d83a3f751d2b","name":"Generate an image","credentials":{"openAiApi":{"id":"dIbebkCdxuZQHQrG","name":"OpenAi account 2"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-384,384],"id":"821d834d-5f2f-49ef-aa3a-1827bd49a10a","name":"Merge"},{"parameters":{"person":"6EXGcXHgAw","text":"={{ $('AI Agent1').item.json.output }}","shareMediaCategory":"IMAGE","additionalFields":{"visibility":"PUBLIC"}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[272,368],"id":"75d5eff3-c6bd-4aee-9cd8-67de2701a15f","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"cwRmvXdzDoDbaoJF","name":"LinkedIn account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-176,384],"id":"37d75cb5-a719-4542-834d-c30011f579ad","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"45016506-ca54-4e4c-84a7-c6984190a6c1","leftValue":"={{ $binary.data }}","rightValue":"exists","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[48,368],"id":"e6047998-3d06-42d7-b281-a8bd4c97c9bc","name":"Filter"},{"parameters":{"model":"openai/gpt-4","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-96,208],"id":"6c2a6e18-2d5d-4df7-96a9-c903f12772fd","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"ypsTIXKbBaqMjw1s","name":"OpenRouter account"}}}],"connections":{"Wait":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"GNews","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"AI Agent1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"capitalize the title","type":"main","index":0}]]},"capitalize the title":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Generate an image","type":"main","index":0}]]},"extract":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"GNews":{"main":[[{"node":"extract","type":"main","index":0}]]},"Generate an image":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create a post":{"main":[[]]},"Loop Over Items":{"main":[[{"node":"Filter","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Create a post","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","timezone":"America/Chicago","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"h_OUfENFlQWrNGj_frFoP"},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[0]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger1":[{"json":{"timestamp":"2026-02-18T00:00:04.003-06:00","Readable date":"February 18th 2026, 12:00:04 am","Readable time":"12:00:04 am","Day of week":"Wednesday","Year":"2026","Month":"February","Day of month":"18","Hour":"00","Minute":"00","Second":"04","Timezone":"America/Chicago (UTC-06:00)"},"pairedItem":{"item":0}}],"AI Agent1":[{"json":{"output":"Headline: \"India Summit Highlights: Leapfrogging into the Future with AI Innovations\"\n\nThe inaugural day at the India Summit did not fail to astonish attendees with its focus on avant-garde AI technologies. One of the standout highlights was definitely the AI system designed to weave Indian sarees. Introducing innovative algorithms and pattern recognition abilities, this transformative technology allows for enhanced customization and complex design creation. The resultant output is nothing short of artistic brilliance, reinventing a centuries-old tradition with a modern tech twist.\n\nJust when we thought the summit had peaked, a working model of an AI-driven bike took center stage. Capable of self-navigation and automated safety controls, this pioneering innovation sheds light on India's ambitions towards intelligent transportation. This impressive feat certainly redefines mobility, nudging India towards a future of autonomous vehicles.\n\nMoreover, the medical field wasn't left behind. The showcase of an AI system trained to assist doctors stole the limelight. With its ability to analyze patient data and make predictive assessments, this shows an enormous potential in improving healthcare delivery. It signifies a promising leap towards a more streamlined, data-driven, and effective model of care, which could revolutionize the Indian medical landscape. \n\nThe future is here and AI-powered technology continues to bridge the gap and alter the norm. It’s becoming more and more evident as showcased in India’s summit today, that the potential of AI is wide-ranging and transformative in every aspect we could possibly fathom."},"pairedItem":{"item":0}},{"json":{"output":"Headline: Cutting-Edge Update: Anthropic's New AI Model Optimizes Computer Usage\n\n1st Paragraph: Groundbreaking developments in the AI sector today as Anthony's has revealed its innovative new AI model. This paradigm-shifting technology has been designed to streamline computer usage, significantly increasing operational efficiency and productivity.\n\n2nd Paragraph: Founded by renowned AI researchers, anthropic is on a relentless pursuit to keep pushing the boundaries of modern AI capabilities. The company's dedication to consistent innovation is an effort to provide state-of-the-art solutions for dynamic industries reliant on AI functionalities.\n\n3rd Paragraph: The new AI model's advanced capabilities in augmenting computer usage present substantial possibilities. These benefits will echo across various sectors implementing computer-intensive operations, with effects such as reduced processing time and lower operational costs.\n\n4th Paragraph: This revolutionary step marks a significant milestone in our journey to the future of AI technologies. Expect an evolution in numerous disciplines, from machine learning and big data analysis to automated systems and beyond. Inspiring days are ahead as we close the gap between technology today and the future we dream of."},"pairedItem":{"item":1}},{"json":{"output":"Headline: \"Shaking Up the AI Era: Apple's Groundbreaking Innovations\"\n\nPost Content: \nIn an exciting move, Apple has explicitly revealed its aspiration to be the global leader in the AI Era. By expanding its horizons towards immersive technologies, Apple is making gargantuan strides into our technological future. According to an article on Bloomberg, the tech giant is currently accelerating efforts on several distinctive projects.\n\nOne of the highlights is the development of glasses that overlay digital information such as text messages and maps onto the real world. This advancement builds on the augmented reality capabilities that Apple has already introduced in its phones and tablets. With such glasses, our interaction with real-world surroundings will transform, introducing a novel perspective to our daily lives.\n\nSimultaneously, Apple is working on a new camera feature for its AirPods. This innovative feature would allow users to have access to command-based AI functionalities directly from the pods. A wearable pendant is also in the pipeline, promising to unlock a new generation of on-person technologies. \n\nThis progress report from the company has sparked immense interest and anticipation from tech enthusiasts around the world. These initiatives certainly provide a glimpse into the future and assure us that Apple remains committed to its supreme manifestation of relentless innovation."},"pairedItem":{"item":2}},{"json":{"output":"Headline: Unveiling the Mystery: X, Formerly Twitter, Under Investigation - Insights from Spain and Ireland\n\nFirst Paragraph: In a world driven by social media, it's essential to stay informed about the platforms we use daily. When a giant such as Twitter undergoes a significant transformation, the ripples shake the entire industry. This post shines a light on the current investigation happening in Spain and Ireland involving X, the entity formerly known as Twitter.\n\nSecond Paragraph: In trying times, transparency and trustworthiness are qualities everyone seeks in social media platforms. These investigations aim to ensure that X maintains these core values, ensuring a fair and safe environment for users globally. Understanding these proceedings helps us maintain our own social media integrity and the choices we make.\n\nThird Paragraph: As users, businesses, or digital marketers, it is crucial to be updated about these significant changes and their implications. In the current evolving digital landscape, staying aware and informed of these pivotal moments will help us adapt quickly. \n\nLast Paragraph: Delve into the details of this captivating story and keep yourself updated about the proceedings. Let's engage in an insightful discussion about this investigation and its potential impact on our digital lives."},"pairedItem":{"item":3}}]},"versionId":"d70b6474-cd37-4406-a90e-b6682ada5fdc","activeVersionId":"8fb9b9fe-bdc1-4a0a-a171-7580642be123","triggerCount":1,"shared":[{"updatedAt":"2026-01-03T03:39:01.664Z","createdAt":"2026-01-03T03:39:01.664Z","role":"workflow:owner","workflowId":"Ikd25DkhaZoqp1Bx93EU_","projectId":"f7lZ9I1x9DksCYtb"}],"activeVersion":{"updatedAt":"2026-02-13T00:48:02.000Z","createdAt":"2026-02-13T00:46:16.148Z","versionId":"8fb9b9fe-bdc1-4a0a-a171-7580642be123","workflowId":"Ikd25DkhaZoqp1Bx93EU_","nodes":[{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-592,368],"id":"41e882cf-2c37-477c-a8be-185f370d005f","name":"Wait","webhookId":"678e9484-ffbc-4d26-80f9-b12211972e12"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-880,16],"id":"842a96c5-4617-47fe-a7af-2f2b252d16f3","name":"Schedule Trigger1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-272,16],"id":"34919174-6082-4552-a0dc-722101ae5408","name":"Loop Over Items1"},{"parameters":{"promptType":"define","text":"={{ $json.url }}","options":{"systemMessage":"=create a headline for the single post on linkedin with 3 to 4 paragraphs for each images for the link i have provided to you. It needs to be attention grabbing and short.Donot use #,,emojis, or \"\" like that,just plain text\n\ncureent date and time is:{{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,0],"id":"226c5bb7-e84d-49db-a73d-66e13efc7f85","name":"AI Agent1"},{"parameters":{"jsCode":"const items = $input.all();\nconst capitalizedOutput = items.map((item) => {\n  item.json.output = item.json.output.toUpperCase();\n  return item;\n});\nreturn capitalizedOutput;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[336,0],"id":"5b853f2d-5932-48ff-8688-38d0ccd1f5c2","name":"capitalize the title"},{"parameters":{"jsCode":"const items = $input.all();\nlet output = [];\n\nfor (const item of items) {\n  for (const article of item.json.articles) {\n    output.push({\n      json: {\n        title: article.title,\n        url:article.url,\n        image: article.image,\n        description : article.description\n      }\n    });\n  }\n}\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,16],"id":"f0fd7609-2511-44ef-9219-03bc814b3601","name":"extract"},{"parameters":{"url":"https://gnews.io/api/v4/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"artificial intelligence"},{"name":"lang","value":"en"},{"name":"token","value":"ee4b77e439e3e988a6a7e50076279d27"},{"name":"max","value":"4"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-688,16],"id":"fcfe1c8f-e3e9-41ae-9cf2-1fee0872bf0d","name":"GNews","retryOnFail":true},{"parameters":{"resource":"image","prompt":"=A generic, non-political editorial illustration inspired by the topic below.\nNo text, no real people, abstract shapes, modern flat design.\n\nTopic:\n{{ $json.output }}\n","options":{"size":"1024x1024"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-784,368],"id":"7b6e075a-2e99-45bb-9c07-d83a3f751d2b","name":"Generate an image","credentials":{"openAiApi":{"id":"48TEmGCBXdVXf76y","name":"quriat12"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-384,384],"id":"821d834d-5f2f-49ef-aa3a-1827bd49a10a","name":"Merge"},{"parameters":{"person":"6EXGcXHgAw","text":"={{ $('AI Agent1').item.json.output }}","shareMediaCategory":"IMAGE","additionalFields":{"visibility":"PUBLIC"}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[272,368],"id":"75d5eff3-c6bd-4aee-9cd8-67de2701a15f","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"cwRmvXdzDoDbaoJF","name":"LinkedIn account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-176,384],"id":"37d75cb5-a719-4542-834d-c30011f579ad","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"45016506-ca54-4e4c-84a7-c6984190a6c1","leftValue":"={{ $binary.data }}","rightValue":"exists","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[48,368],"id":"e6047998-3d06-42d7-b281-a8bd4c97c9bc","name":"Filter"},{"parameters":{"model":"openai/gpt-4","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-96,208],"id":"6c2a6e18-2d5d-4df7-96a9-c903f12772fd","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"ypsTIXKbBaqMjw1s","name":"OpenRouter account"}}}],"connections":{"Wait":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"GNews","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"AI Agent1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"capitalize the title","type":"main","index":0}]]},"capitalize the title":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Generate an image","type":"main","index":0}]]},"extract":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"GNews":{"main":[[{"node":"extract","type":"main","index":0}]]},"Generate an image":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create a post":{"main":[[]]},"Loop Over Items":{"main":[[{"node":"Filter","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Create a post","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]}},"authors":"adam aljahdhami","name":"Version 8fb9b9fe","description":"","autosaved":true},"tags":[]}