workflows/Master linkedin post 12 hours.json
{"updatedAt":"2026-02-14T18:37:26.058Z","createdAt":"2026-01-13T23:48:06.663Z","id":"3mjN-KQXtdsIQmqfauBKH","name":"Master linkedin post 12 hours","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12}]}},"id":"33380f76-74f4-420b-9b3e-22126d98222a","name":"Schedule (3x Daily)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1936,48],"notes":"Runs at 8 AM, 2 PM, and 6 PM"},{"parameters":{"assignments":{"assignments":[{"id":"time-slot","name":"timeSlot","value":"={{ $now.hour() < 12 ? 'morning' : $now.hour() < 17 ? 'afternoon' : 'evening' }}","type":"string"},{"id":"content-type","name":"contentType","value":"={{ $now.hour() === 8 ? 'news' : $now.hour() === 14 ? 'tech' : 'business' }}","type":"string"},{"id":"execution-id","name":"executionId","value":"={{ $execution.id }}","type":"string"}]},"options":{}},"id":"73533962-c1fb-4f90-8523-afdae39093be","name":"Set Execution Context","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1728,48]},{"parameters":{"url":"={{ $json.contentType === 'news' ? 'https://api.currentsapi.services/v1/latest-news' : $json.contentType === 'tech' ? 'https://newsapi.org/v2/top-headlines?category=technology' : 'https://newsapi.org/v2/top-headlines?category=business' }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"apiKey","value":"={{ $json.contentType === 'news' ? 'RyyFWG0DyBXm1LStojK3guMuHoHvttc0Y-6RMxod__6QyMwB' : 'cc6465e19ce94c23a56eec2715d1f220' }}"},{"name":"language","value":"en"},{"name":"pageSize","value":"5"}]},"options":{"timeout":10000}},"id":"5f34ccd3-7634-47df-a1a6-f9e7bc4a6bfb","name":"Fetch News by Type","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1504,48],"retryOnFail":true,"maxTries":3,"waitBetween":2000},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"has-articles","leftValue":"={{ $json.articles?.length || 0 }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"68c443b3-7888-4778-ad70-41306df5c557","name":"Has Articles?","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-1280,48]},{"parameters":{"assignments":{"assignments":[{"id":"article-data","name":"articleData","value":"={{ JSON.stringify($json.articles.slice(0, 3)) }}","type":"string"},{"id":"topic-focus","name":"topicFocus","value":"={{ $('Set Execution Context').item.json.contentType }}","type":"string"}]},"options":{}},"id":"29d8fee8-0b7c-4a83-af52-3642e8b55e11","name":"Prepare for AI","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1072,48]},{"parameters":{"assignments":{"assignments":[{"id":"error-msg","name":"error","value":"No articles found for {{ $('Set Execution Context').item.json.contentType }}","type":"string"},{"id":"skip","name":"skipExecution","value":true,"type":"boolean"}]},"options":{}},"id":"5712b5f3-edef-44cb-a97d-d16bb4d12216","name":"Log No Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1104,272]},{"parameters":{"promptType":"define","text":"=Current time: {{ $now.format('YYYY-MM-DD HH:mm') }}\nContent focus: {{ $json.topicFocus }}\n\nRecent articles:\n{{ $json.articleData }}\n\nCreate an engaging LinkedIn post that:\n1. Highlights the most interesting insight from these articles\n2. Provides value to a professional audience\n3. Includes a clear call-to-action or thought-provoking question\n4. Uses proper LinkedIn formatting (emojis, line breaks)\n5. Stays under 1300 characters\n6. Does not use hashtags (we'll add them separately)","hasOutputParser":true,"batching":{}},"id":"f018a83a-9efc-41e3-8f04-80ed882834cb","name":"AI Content Generator","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-912,16]},{"parameters":{"model":"llama-3.3-70b-versatile","options":{"temperature":0.7}},"id":"70822ddc-12c7-4e85-88c1-bcee3473feac","name":"Groq LLM (Free)","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-848,288],"credentials":{"groqApi":{"id":"8FkOpRZITfFWw8sH","name":"Groq account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"title\": \"Compelling headline\",\n  \"content\": \"LinkedIn post content with emojis and formatting\",\n  \"imagePrompt\": \"Detailed description for image generation\"\n}"},"id":"0c33a6a7-0274-4b62-a0df-d82eb9b27643","name":"Structured Output","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-640,224]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"has-content","leftValue":"={{ $json.output?.content?.length || 0 }}","rightValue":50,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"6bee9dfb-1d23-4e49-8af5-17e9df649672","name":"Content Valid?","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-576,16]},{"parameters":{"assignments":{"assignments":[{"id":"add-hashtags","name":"finalContent","value":"={{ $json.output.content }}\n\n{{ $('Set Execution Context').item.json.contentType === 'news' ? '#News #CurrentEvents #Business' : $('Set Execution Context').item.json.contentType === 'tech' ? '#Technology #Innovation #AI #TechNews' : '#Business #Leadership #Strategy #Entrepreneurship' }}","type":"string"},{"id":"image-prompt","name":"imagePrompt","value":"={{ $json.output.imagePrompt }}","type":"string"},{"id":"title","name":"postTitle","value":"={{ $json.output.title }}","type":"string"}]},"options":{}},"id":"26500741-4b26-40f7-b83f-58772bd21f56","name":"Format Final Post","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-368,-16]},{"parameters":{"resource":"image","prompt":"={{ $json.imagePrompt }}. Professional, modern, high-quality, suitable for LinkedIn business audience. 16:9 aspect ratio.","model":"dall-e-3","options":{"quality":"standard","size":"1792x1024"},"requestOptions":{}},"id":"419cffbd-e32a-461f-8e83-468a1366c8c4","name":"Generate Image (DALL-E)","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[-176,0],"credentials":{"openAiApi":{"id":"48TEmGCBXdVXf76y","name":"quriat12"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"dd90ce35-f8ce-4fe6-943c-1a461c928399","name":"Merge Content & Image","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[80,64]},{"parameters":{"person":"6EXGcXHgAw","text":"={{ $json.output.content }}","shareMediaCategory":"IMAGE","additionalFields":{"visibility":"PUBLIC"}},"id":"2afeca91-9fd0-4ce2-9af5-8599751f1cf1","name":"Post to LinkedIn","type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[304,64],"credentials":{"linkedInOAuth2Api":{"id":"cwRmvXdzDoDbaoJF","name":"LinkedIn account"}}},{"parameters":{"assignments":{"assignments":[{"id":"log-success","name":"status","value":"success","type":"string"},{"id":"log-time","name":"postedAt","value":"={{ $now.toISOString() }}","type":"string"},{"id":"log-type","name":"contentType","value":"={{ $('Set Execution Context').item.json.contentType }}","type":"string"},{"id":"log-title","name":"title","value":"={{ $('Format Final Post').item.json.postTitle }}","type":"string"}]},"options":{}},"id":"14daa090-336b-409b-bd26-852a3db28bd1","name":"Log Success","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[496,80]}],"connections":{"Schedule (3x Daily)":{"main":[[{"node":"Set Execution Context","type":"main","index":0}]]},"Set Execution Context":{"main":[[{"node":"Fetch News by Type","type":"main","index":0}]]},"Fetch News by Type":{"main":[[{"node":"Has Articles?","type":"main","index":0}]]},"Has Articles?":{"main":[[{"node":"Prepare for AI","type":"main","index":0}],[{"node":"Log No Data","type":"main","index":0}]]},"Prepare for AI":{"main":[[{"node":"AI Content Generator","type":"main","index":0}]]},"AI Content Generator":{"main":[[{"node":"Content Valid?","type":"main","index":0},{"node":"Merge Content & Image","type":"main","index":1}]]},"Groq LLM (Free)":{"ai_languageModel":[[{"node":"AI Content Generator","type":"ai_languageModel","index":0}]]},"Structured Output":{"ai_outputParser":[[{"node":"AI Content Generator","type":"ai_outputParser","index":0}]]},"Content Valid?":{"main":[[{"node":"Format Final Post","type":"main","index":0}]]},"Format Final Post":{"main":[[{"node":"Generate Image (DALL-E)","type":"main","index":0}]]},"Generate Image (DALL-E)":{"main":[[{"node":"Merge Content & Image","type":"main","index":0}]]},"Merge Content & Image":{"main":[[{"node":"Post to LinkedIn","type":"main","index":0}]]},"Post to LinkedIn":{"main":[[{"node":"Log Success","type":"main","index":0}]]},"Log Success":{"main":[[]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","timezone":"America/Chicago","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule (3x Daily)":{"recurrenceRules":[12]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule (3x Daily)":[{"json":{"timestamp":"2026-02-14T12:00:53.003-06:00","Readable date":"February 14th 2026, 12:00:53 pm","Readable time":"12:00:53 pm","Day of week":"Saturday","Year":"2026","Month":"February","Day of month":"14","Hour":"12","Minute":"00","Second":"53","Timezone":"America/Chicago (UTC-06:00)"},"pairedItem":{"item":0}}]},"versionId":"c3d02f77-a21a-4e16-a515-7311540d5e01","activeVersionId":"c3d02f77-a21a-4e16-a515-7311540d5e01","triggerCount":1,"shared":[{"updatedAt":"2026-01-13T23:48:06.670Z","createdAt":"2026-01-13T23:48:06.670Z","role":"workflow:owner","workflowId":"3mjN-KQXtdsIQmqfauBKH","projectId":"f7lZ9I1x9DksCYtb"}],"activeVersion":{"updatedAt":"2026-02-14T18:39:41.000Z","createdAt":"2026-02-14T18:37:26.060Z","versionId":"c3d02f77-a21a-4e16-a515-7311540d5e01","workflowId":"3mjN-KQXtdsIQmqfauBKH","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12}]}},"id":"33380f76-74f4-420b-9b3e-22126d98222a","name":"Schedule (3x Daily)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1936,48],"notes":"Runs at 8 AM, 2 PM, and 6 PM"},{"parameters":{"assignments":{"assignments":[{"id":"time-slot","name":"timeSlot","value":"={{ $now.hour() < 12 ? 'morning' : $now.hour() < 17 ? 'afternoon' : 'evening' }}","type":"string"},{"id":"content-type","name":"contentType","value":"={{ $now.hour() === 8 ? 'news' : $now.hour() === 14 ? 'tech' : 'business' }}","type":"string"},{"id":"execution-id","name":"executionId","value":"={{ $execution.id }}","type":"string"}]},"options":{}},"id":"73533962-c1fb-4f90-8523-afdae39093be","name":"Set Execution Context","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1728,48]},{"parameters":{"url":"={{ $json.contentType === 'news' ? 'https://api.currentsapi.services/v1/latest-news' : $json.contentType === 'tech' ? 'https://newsapi.org/v2/top-headlines?category=technology' : 'https://newsapi.org/v2/top-headlines?category=business' }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"apiKey","value":"={{ $json.contentType === 'news' ? 'RyyFWG0DyBXm1LStojK3guMuHoHvttc0Y-6RMxod__6QyMwB' : 'cc6465e19ce94c23a56eec2715d1f220' }}"},{"name":"language","value":"en"},{"name":"pageSize","value":"5"}]},"options":{"timeout":10000}},"id":"5f34ccd3-7634-47df-a1a6-f9e7bc4a6bfb","name":"Fetch News by Type","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1504,48],"retryOnFail":true,"maxTries":3,"waitBetween":2000},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"has-articles","leftValue":"={{ $json.articles?.length || 0 }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"68c443b3-7888-4778-ad70-41306df5c557","name":"Has Articles?","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-1280,48]},{"parameters":{"assignments":{"assignments":[{"id":"article-data","name":"articleData","value":"={{ JSON.stringify($json.articles.slice(0, 3)) }}","type":"string"},{"id":"topic-focus","name":"topicFocus","value":"={{ $('Set Execution Context').item.json.contentType }}","type":"string"}]},"options":{}},"id":"29d8fee8-0b7c-4a83-af52-3642e8b55e11","name":"Prepare for AI","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1072,48]},{"parameters":{"assignments":{"assignments":[{"id":"error-msg","name":"error","value":"No articles found for {{ $('Set Execution Context').item.json.contentType }}","type":"string"},{"id":"skip","name":"skipExecution","value":true,"type":"boolean"}]},"options":{}},"id":"5712b5f3-edef-44cb-a97d-d16bb4d12216","name":"Log No Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1104,272]},{"parameters":{"promptType":"define","text":"=Current time: {{ $now.format('YYYY-MM-DD HH:mm') }}\nContent focus: {{ $json.topicFocus }}\n\nRecent articles:\n{{ $json.articleData }}\n\nCreate an engaging LinkedIn post that:\n1. Highlights the most interesting insight from these articles\n2. Provides value to a professional audience\n3. Includes a clear call-to-action or thought-provoking question\n4. Uses proper LinkedIn formatting (emojis, line breaks)\n5. Stays under 1300 characters\n6. Does not use hashtags (we'll add them separately)","hasOutputParser":true,"batching":{}},"id":"f018a83a-9efc-41e3-8f04-80ed882834cb","name":"AI Content Generator","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-912,16]},{"parameters":{"model":"llama-3.3-70b-versatile","options":{"temperature":0.7}},"id":"70822ddc-12c7-4e85-88c1-bcee3473feac","name":"Groq LLM (Free)","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-848,288],"credentials":{"groqApi":{"id":"8FkOpRZITfFWw8sH","name":"Groq account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"title\": \"Compelling headline\",\n  \"content\": \"LinkedIn post content with emojis and formatting\",\n  \"imagePrompt\": \"Detailed description for image generation\"\n}"},"id":"0c33a6a7-0274-4b62-a0df-d82eb9b27643","name":"Structured Output","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-640,224]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"has-content","leftValue":"={{ $json.output?.content?.length || 0 }}","rightValue":50,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"6bee9dfb-1d23-4e49-8af5-17e9df649672","name":"Content Valid?","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-576,16]},{"parameters":{"assignments":{"assignments":[{"id":"add-hashtags","name":"finalContent","value":"={{ $json.output.content }}\n\n{{ $('Set Execution Context').item.json.contentType === 'news' ? '#News #CurrentEvents #Business' : $('Set Execution Context').item.json.contentType === 'tech' ? '#Technology #Innovation #AI #TechNews' : '#Business #Leadership #Strategy #Entrepreneurship' }}","type":"string"},{"id":"image-prompt","name":"imagePrompt","value":"={{ $json.output.imagePrompt }}","type":"string"},{"id":"title","name":"postTitle","value":"={{ $json.output.title }}","type":"string"}]},"options":{}},"id":"26500741-4b26-40f7-b83f-58772bd21f56","name":"Format Final Post","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-368,-16]},{"parameters":{"resource":"image","prompt":"={{ $json.imagePrompt }}. Professional, modern, high-quality, suitable for LinkedIn business audience. 16:9 aspect ratio.","model":"dall-e-3","options":{"quality":"standard","size":"1792x1024"},"requestOptions":{}},"id":"419cffbd-e32a-461f-8e83-468a1366c8c4","name":"Generate Image (DALL-E)","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[-176,0],"credentials":{"openAiApi":{"id":"48TEmGCBXdVXf76y","name":"quriat12"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"dd90ce35-f8ce-4fe6-943c-1a461c928399","name":"Merge Content & Image","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[80,64]},{"parameters":{"person":"6EXGcXHgAw","text":"={{ $json.output.content }}","shareMediaCategory":"IMAGE","additionalFields":{"visibility":"PUBLIC"}},"id":"2afeca91-9fd0-4ce2-9af5-8599751f1cf1","name":"Post to LinkedIn","type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[304,64],"credentials":{"linkedInOAuth2Api":{"id":"cwRmvXdzDoDbaoJF","name":"LinkedIn account"}}},{"parameters":{"assignments":{"assignments":[{"id":"log-success","name":"status","value":"success","type":"string"},{"id":"log-time","name":"postedAt","value":"={{ $now.toISOString() }}","type":"string"},{"id":"log-type","name":"contentType","value":"={{ $('Set Execution Context').item.json.contentType }}","type":"string"},{"id":"log-title","name":"title","value":"={{ $('Format Final Post').item.json.postTitle }}","type":"string"}]},"options":{}},"id":"14daa090-336b-409b-bd26-852a3db28bd1","name":"Log Success","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[496,80]}],"connections":{"Schedule (3x Daily)":{"main":[[{"node":"Set Execution Context","type":"main","index":0}]]},"Set Execution Context":{"main":[[{"node":"Fetch News by Type","type":"main","index":0}]]},"Fetch News by Type":{"main":[[{"node":"Has Articles?","type":"main","index":0}]]},"Has Articles?":{"main":[[{"node":"Prepare for AI","type":"main","index":0}],[{"node":"Log No Data","type":"main","index":0}]]},"Prepare for AI":{"main":[[{"node":"AI Content Generator","type":"main","index":0}]]},"AI Content Generator":{"main":[[{"node":"Content Valid?","type":"main","index":0},{"node":"Merge Content & Image","type":"main","index":1}]]},"Groq LLM (Free)":{"ai_languageModel":[[{"node":"AI Content Generator","type":"ai_languageModel","index":0}]]},"Structured Output":{"ai_outputParser":[[{"node":"AI Content Generator","type":"ai_outputParser","index":0}]]},"Content Valid?":{"main":[[{"node":"Format Final Post","type":"main","index":0}]]},"Format Final Post":{"main":[[{"node":"Generate Image (DALL-E)","type":"main","index":0}]]},"Generate Image (DALL-E)":{"main":[[{"node":"Merge Content & Image","type":"main","index":0}]]},"Merge Content & Image":{"main":[[{"node":"Post to LinkedIn","type":"main","index":0}]]},"Post to LinkedIn":{"main":[[{"node":"Log Success","type":"main","index":0}]]},"Log Success":{"main":[[]]}},"authors":"adam aljahdhami","name":"Version c3d02f77","description":"","autosaved":true},"tags":[]}