workflows/Multimodal chat assistant with GPT-4o for text, images, and PDFs.json
{"updatedAt":"2026-02-12T21:15:46.774Z","createdAt":"2026-01-01T03:07:43.450Z","id":"58YsKF7XiK7DrAJV","name":"Multimodal chat assistant with GPT-4o for text, images, and PDFs","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"GPT-4O"},"text":"=Describe the content of the image or pdf in detail then wait for questions about it. Based on what is in the content, suggest 3 questions the user may ask","inputType":"base64","binaryPropertyName":"data0","options":{"detail":"high"}},"id":"6f6eb820-f3d4-4aa9-b856-1f327650924d","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","position":[1008,368],"typeVersion":1.8,"credentials":{"openAiApi":{"id":"48TEmGCBXdVXf76y","name":"quriat12"}}},{"parameters":{"promptType":"define","text":"=Describe `{{ $json.content }}`\n\nUse the text from the chat to focus the response:\n`{{ $('chat').item.json.chatInput }}`","batching":{}},"id":"64b1e72e-ad85-4759-8def-785ca524e468","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1296,464],"typeVersion":1.7},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"gpt-4o"},"options":{}},"id":"16246a1a-2adb-4b41-809c-64e173738aba","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1376,688],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"48TEmGCBXdVXf76y","name":"quriat12"}}},{"parameters":{"promptType":"define","text":"=You are an expert and will help the user with their query `{{ $(\"chat\").item.json.chatInput }}` about\n{{ $('chat').item.json.chatInput }}\n","options":{}},"id":"00dafa35-ee47-4c21-8ba6-de6e139b5cba","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1296,976],"typeVersion":2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c9a2577d-0589-41ca-9480-2feda2dfbd9b","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.files[0].fileName }}","rightValue":""}]},"options":{}},"id":"39223440-863c-4285-9f27-edf971e953d1","name":"If","type":"n8n-nodes-base.if","position":[720,576],"typeVersion":2.2},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('chat').item.json.sessionId }}"},"id":"e1970f2b-1a01-4a11-bf65-9b3d9f0e2001","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1440,1200],"typeVersion":1.3},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"gpt-4o"},"options":{}},"id":"ee3533c1-f12a-4955-bcb8-a0618f80a67c","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1312,1200],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"48TEmGCBXdVXf76y","name":"quriat12"}}},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"ai","message":"={{ $json.content }}"}]}},"id":"2bced281-2c19-407f-ad4b-53075667da17","name":"chatmem","type":"@n8n/n8n-nodes-langchain.memoryManager","position":[1296,64],"typeVersion":1.1},{"parameters":{"simplifyOutput":false,"options":{}},"id":"d5622336-38c3-41f5-880c-a673a90c3ab3","name":"chatmem1","type":"@n8n/n8n-nodes-langchain.memoryManager","position":[944,976],"typeVersion":1.1},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $(\"chat\").item.json.sessionId }}"},"id":"01d2fa3b-0d56-41a9-ad8a-c79c0038a9b8","name":"Simple Memory1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1376,288],"typeVersion":1.3},{"parameters":{"public":true,"initialMessages":"","options":{"allowFileUploads":true}},"id":"417d63c5-3577-446c-844e-bdc9369571f1","name":"chat","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[496,576],"webhookId":"80032670-58d5-4d08-a1cf-4d1c7aaeca75","typeVersion":1.1},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $(\"chat\").item.json.sessionId }}"},"id":"9ac78a30-890a-46e7-9148-29795d8ce432","name":"Simple Memory2","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1024,1200],"typeVersion":1.3},{"parameters":{"content":"## Chat with thing\n\nThis n8n template lets you build a smart AI chat assistant that can handle text, images, and PDFs — using OpenAI's GPT-4o multimodal model. It supports dynamic conversations and file analysis, making it great for AI-driven support bots, personal assistants, or embedded chat widgets.","height":480,"width":340},"id":"1e545980-1e75-436d-ad79-a4a434c6a7dd","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[384,256],"typeVersion":1},{"parameters":{"content":"This route runs when an image/file/pdf is attached. It saves what it sees in the chatmem"},"id":"11295c5b-fa66-4487-807c-2593991b48c0","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[800,240],"typeVersion":1},{"parameters":{"content":"Use this node to set the conversation"},"id":"dee500b2-edba-4639-b505-d0bdec350c0f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1536,352],"typeVersion":1},{"parameters":{"content":"This runs after the upload, it retrieves the initial content from the memory\n"},"id":"ac84b377-ce03-4a19-a5ed-6fd5952e702c","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[928,832],"typeVersion":1},{"parameters":{"content":"This is the main chat, adjust the prompt to match your use case."},"id":"3dd32789-a317-44aa-9bc7-2b440a5e57f9","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1552,768],"typeVersion":1},{"parameters":{"sendTo":"quriat@gmail.com","subject":"ai agent","emailType":"text","message":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1968,624],"id":"89e58fbc-2f8b-4723-9630-04c9dfea20af","name":"Send a message","webhookId":"73ab9b71-b06f-403e-b95c-809f1ce4f7e7","credentials":{"gmailOAuth2":{"id":"DVdDtnWIadL4aPIV","name":"Gmail account"}}}],"connections":{"If":{"main":[[{"node":"OpenAI","type":"main","index":0}],[{"node":"chatmem1","type":"main","index":0}]]},"chat":{"main":[[{"node":"If","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0},{"node":"chatmem","type":"main","index":0}]]},"chatmem1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"chatmem","type":"ai_memory","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"chatmem1","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"chatmem":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","timezone":"America/Chicago","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"h_OUfENFlQWrNGj_frFoP"},"staticData":null,"meta":{"templateId":"5857","templateCredsSetupCompleted":true},"pinData":{},"versionId":"0b8931aa-5a26-4b54-8a3b-6e187da2c14c","activeVersionId":"674a44e2-d07a-4874-a2a3-699caa1fd3ed","triggerCount":1,"shared":[{"updatedAt":"2026-01-01T03:07:43.482Z","createdAt":"2026-01-01T03:07:43.482Z","role":"workflow:owner","workflowId":"58YsKF7XiK7DrAJV","projectId":"f7lZ9I1x9DksCYtb"}],"activeVersion":{"updatedAt":"2026-01-12T22:46:37.000Z","createdAt":"2026-01-01T03:08:31.648Z","versionId":"674a44e2-d07a-4874-a2a3-699caa1fd3ed","workflowId":"58YsKF7XiK7DrAJV","nodes":[{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"GPT-4O"},"text":"=Describe the content of the image or pdf in detail then wait for questions about it. Based on what is in the content, suggest 3 questions the user may ask","inputType":"base64","binaryPropertyName":"data0","options":{"detail":"high"}},"id":"6f6eb820-f3d4-4aa9-b856-1f327650924d","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","position":[1008,368],"typeVersion":1.8,"credentials":{"openAiApi":{"id":"48TEmGCBXdVXf76y","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Describe `{{ $json.content }}`\n\nUse the text from the chat to focus the response:\n`{{ $('chat').item.json.chatInput }}`","batching":{}},"id":"64b1e72e-ad85-4759-8def-785ca524e468","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1296,464],"typeVersion":1.7},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"gpt-4o"},"options":{}},"id":"16246a1a-2adb-4b41-809c-64e173738aba","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1368,688],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"48TEmGCBXdVXf76y","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=You are an expert and will help the user with their query `{{ $(\"chat\").item.json.chatInput }}` about\n{{ $json.messages[$json.messages.length - 1].kwargs.content }}\n","options":{}},"id":"00dafa35-ee47-4c21-8ba6-de6e139b5cba","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1296,968],"typeVersion":2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c9a2577d-0589-41ca-9480-2feda2dfbd9b","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.files[0].fileName }}","rightValue":""}]},"options":{}},"id":"39223440-863c-4285-9f27-edf971e953d1","name":"If","type":"n8n-nodes-base.if","position":[720,568],"typeVersion":2.2},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('chat').item.json.sessionId }}"},"id":"e1970f2b-1a01-4a11-bf65-9b3d9f0e2001","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1432,1192],"typeVersion":1.3},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"gpt-4o"},"options":{}},"id":"ee3533c1-f12a-4955-bcb8-a0618f80a67c","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1304,1192],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"48TEmGCBXdVXf76y","name":"OpenAi account"}}},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"ai","message":"={{ $json.content }}"}]}},"id":"2bced281-2c19-407f-ad4b-53075667da17","name":"chatmem","type":"@n8n/n8n-nodes-langchain.memoryManager","position":[1296,64],"typeVersion":1.1},{"parameters":{"simplifyOutput":false,"options":{}},"id":"d5622336-38c3-41f5-880c-a673a90c3ab3","name":"chatmem1","type":"@n8n/n8n-nodes-langchain.memoryManager","position":[944,968],"typeVersion":1.1},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $(\"chat\").item.json.sessionId }}"},"id":"01d2fa3b-0d56-41a9-ad8a-c79c0038a9b8","name":"Simple Memory1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1368,288],"typeVersion":1.3},{"parameters":{"public":true,"initialMessages":"","options":{"allowFileUploads":true}},"id":"417d63c5-3577-446c-844e-bdc9369571f1","name":"chat","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[496,568],"webhookId":"80032670-58d5-4d08-a1cf-4d1c7aaeca75","typeVersion":1.1},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $(\"chat\").item.json.sessionId }}"},"id":"9ac78a30-890a-46e7-9148-29795d8ce432","name":"Simple Memory2","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1016,1192],"typeVersion":1.3},{"parameters":{"content":"## Chat with thing\n\nThis n8n template lets you build a smart AI chat assistant that can handle text, images, and PDFs — using OpenAI's GPT-4o multimodal model. It supports dynamic conversations and file analysis, making it great for AI-driven support bots, personal assistants, or embedded chat widgets.","height":480,"width":340},"id":"1e545980-1e75-436d-ad79-a4a434c6a7dd","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[374,248],"typeVersion":1},{"parameters":{"content":"This route runs when an image/file/pdf is attached. It saves what it sees in the chatmem"},"id":"11295c5b-fa66-4487-807c-2593991b48c0","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[800,240],"typeVersion":1},{"parameters":{"content":"Use this node to set the conversation"},"id":"dee500b2-edba-4639-b505-d0bdec350c0f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1536,352],"typeVersion":1},{"parameters":{"content":"This runs after the upload, it retrieves the initial content from the memory\n"},"id":"ac84b377-ce03-4a19-a5ed-6fd5952e702c","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[928,832],"typeVersion":1},{"parameters":{"content":"This is the main chat, adjust the prompt to match your use case."},"id":"3dd32789-a317-44aa-9bc7-2b440a5e57f9","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1536,848],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"OpenAI","type":"main","index":0}],[{"node":"chatmem1","type":"main","index":0}]]},"chat":{"main":[[{"node":"If","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0},{"node":"chatmem","type":"main","index":0}]]},"chatmem1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"chatmem","type":"ai_memory","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"chatmem1","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"authors":"adam quriat12@gmail.com","name":"Dec 31 at 21:08:31","description":"","autosaved":false},"tags":[]}