workflows/my learing subject.json
{"updatedAt":"2026-01-14T02:44:24.156Z","createdAt":"2026-01-14T02:40:25.776Z","id":"59MfS7xoTG7jMIZ5u8X09","name":"my learing subject","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=Your Task is to find the best resources to learn {{ $('GetTopicFromToLearn').item.json[\"I want to learn\"] }}. \n\nI have scraped the HackerNews and The following is the list of comments from HackerNews on topic about Learning {{ $('GetTopicFromToLearn').item.json[\"I want to learn\"] }}\n\n\nFocus only on comments that provide any resouces or advice or insight about learning {{ $('GetTopicFromToLearn').item.json.Learn }}. Ignore all other comments that are off topic discussions.\n\nNow based on these comments, you need to find the top resources and list them. \n\nCategorize them based on resource type (course, book, article, youtube videos, lectures, etc) and also figure out the difficultiy level (beginner, intermediate, advanced, expert).\n\nYou don't always to have fill in these categories exactly, these are given here for reference. Use your intution to find the best categorization.\n\nNow based on these metrics and running a basic sentiment analysis on comments you need to figure out what the top resources are. \n\nRespond back in Markdown formatted text. In the following format\n\n**OUTPUT FORMAT**\n\n```\n\n## Top HN Recomended Resources To Learn <topic Name> \n\n### Category 1\n\n- **Resource 1** - One line description\n- **Resource 2** - One line description\n- ... \n\n<add hyperlinks if any exists>\n\n### Category 2\n\n- **Resource 1** - One line description\n- **Resource 2** - One line description\n- ... \n\n<add hyperlinks in markdown format to the resource name itself if any exists. Example [resource name](https://example.com)>\n\n...\n```\n\nHere is the list of HackerNews Comments.\n\n{{ $json.text }}"},"id":"0175fa21-c967-4574-981e-9a25f056af28","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[-944,-48],"typeVersion":1.5},{"parameters":{"resource":"all","limit":150,"additionalFields":{"keyword":"={{ $json[\"I want to learn\"] }}","tags":["ask_hn"]}},"id":"9efac767-1948-4811-859b-6eff3ec0f8ad","name":"SearchAskHN","type":"n8n-nodes-base.hackerNews","position":[-1792,-48],"typeVersion":1},{"parameters":{"url":"=https://hacker-news.firebaseio.com/v0/item/{{ $json.children }}.json?print=pretty","options":{}},"id":"20de6875-60e2-4887-baee-e46865801f48","name":"FindHNComments","type":"n8n-nodes-base.httpRequest","position":[-1376,-48],"typeVersion":4.2},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text"}]},"options":{}},"id":"e289c927-d444-496a-b3d6-c7d34bb6dc24","name":"CombineIntoSingleText","type":"n8n-nodes-base.aggregate","position":[-1152,-48],"typeVersion":1},{"parameters":{"fieldToSplitOut":"children","options":{}},"id":"f6e60ca0-7e96-4b9c-8ff5-70cdac337d79","name":"SplitOutChildrenIDs","type":"n8n-nodes-base.splitOut","position":[-1600,-48],"typeVersion":1},{"parameters":{"formTitle":"What do You want to learn ?","formDescription":"We'll find the best resources from HackerNews and send you an email","formFields":{"values":[{"fieldLabel":"I want to learn","placeholder":"Python, DevOps, Ai, or just about anything"},{"fieldLabel":"What's your email ?","fieldType":"email","placeholder":"john.doe@example.com","requiredField":true}]},"options":{"buttonLabel":"Submit","path":"learn","respondWithOptions":{"values":{"formSubmittedText":"We'll shortly send you an email with top recommendations."}}}},"id":"620dc9bd-73e3-4483-82ea-ec30b6ead483","name":"GetTopicFromToLearn","type":"n8n-nodes-base.formTrigger","position":[-1984,-48],"webhookId":"4524d82f-86a6-4fab-ba09-1d24001e15f3","typeVersion":2.2},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.text }}","options":{}},"id":"563b4fda-790b-45e8-a59a-ba41019082e0","name":"Convert2HTML","type":"n8n-nodes-base.markdown","position":[-544,-48],"typeVersion":1},{"parameters":{},"id":"3830f90f-4e6c-490f-9874-0e23466f7d86","name":"Finished","type":"n8n-nodes-base.noOp","position":[-48,-64],"typeVersion":1},{"parameters":{"sendTo":"quriat@gmail.com","subject":"learn","emailType":"text","message":"={{ $json.text }}\n{{ $json.data }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-320,-64],"id":"013526af-07cc-4fba-84de-777ec931a653","name":"Send a message","webhookId":"d216eba3-5edc-479d-baf5-79bbe0e85fe1","credentials":{"gmailOAuth2":{"id":"DVdDtnWIadL4aPIV","name":"Gmail account"}}},{"parameters":{"model":"eleutherai/llemma_7b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1008,160],"id":"658a0b62-82c6-4c04-953e-289c836a079e","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"ypsTIXKbBaqMjw1s","name":"OpenRouter account"}}}],"connections":{"Basic LLM Chain":{"main":[[{"node":"Convert2HTML","type":"main","index":0}]]},"SearchAskHN":{"main":[[{"node":"SplitOutChildrenIDs","type":"main","index":0}]]},"FindHNComments":{"main":[[{"node":"CombineIntoSingleText","type":"main","index":0}]]},"CombineIntoSingleText":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"SplitOutChildrenIDs":{"main":[[{"node":"FindHNComments","type":"main","index":0}]]},"GetTopicFromToLearn":{"main":[[{"node":"SearchAskHN","type":"main","index":0}]]},"Convert2HTML":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Finished","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","timezone":"America/Chicago","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"h_OUfENFlQWrNGj_frFoP"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d29ff0a0-d775-4f1a-9189-c6e495caef6f","activeVersionId":"d29ff0a0-d775-4f1a-9189-c6e495caef6f","triggerCount":1,"shared":[{"updatedAt":"2026-01-14T02:40:25.780Z","createdAt":"2026-01-14T02:40:25.780Z","role":"workflow:owner","workflowId":"59MfS7xoTG7jMIZ5u8X09","projectId":"f7lZ9I1x9DksCYtb"}],"activeVersion":{"updatedAt":"2026-01-14T02:44:04.000Z","createdAt":"2026-01-14T02:41:14.279Z","versionId":"d29ff0a0-d775-4f1a-9189-c6e495caef6f","workflowId":"59MfS7xoTG7jMIZ5u8X09","nodes":[{"parameters":{"promptType":"define","text":"=Your Task is to find the best resources to learn {{ $('GetTopicFromToLearn').item.json[\"I want to learn\"] }}. \n\nI have scraped the HackerNews and The following is the list of comments from HackerNews on topic about Learning {{ $('GetTopicFromToLearn').item.json[\"I want to learn\"] }}\n\n\nFocus only on comments that provide any resouces or advice or insight about learning {{ $('GetTopicFromToLearn').item.json.Learn }}. Ignore all other comments that are off topic discussions.\n\nNow based on these comments, you need to find the top resources and list them. \n\nCategorize them based on resource type (course, book, article, youtube videos, lectures, etc) and also figure out the difficultiy level (beginner, intermediate, advanced, expert).\n\nYou don't always to have fill in these categories exactly, these are given here for reference. Use your intution to find the best categorization.\n\nNow based on these metrics and running a basic sentiment analysis on comments you need to figure out what the top resources are. \n\nRespond back in Markdown formatted text. In the following format\n\n**OUTPUT FORMAT**\n\n```\n\n## Top HN Recomended Resources To Learn <topic Name> \n\n### Category 1\n\n- **Resource 1** - One line description\n- **Resource 2** - One line description\n- ... \n\n<add hyperlinks if any exists>\n\n### Category 2\n\n- **Resource 1** - One line description\n- **Resource 2** - One line description\n- ... \n\n<add hyperlinks in markdown format to the resource name itself if any exists. Example [resource name](https://example.com)>\n\n...\n```\n\nHere is the list of HackerNews Comments.\n\n{{ $json.text }}"},"id":"0175fa21-c967-4574-981e-9a25f056af28","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[-944,-48],"typeVersion":1.5},{"parameters":{"resource":"all","limit":150,"additionalFields":{"keyword":"={{ $json[\"I want to learn\"] }}","tags":["ask_hn"]}},"id":"9efac767-1948-4811-859b-6eff3ec0f8ad","name":"SearchAskHN","type":"n8n-nodes-base.hackerNews","position":[-1792,-48],"typeVersion":1},{"parameters":{"url":"=https://hacker-news.firebaseio.com/v0/item/{{ $json.children }}.json?print=pretty","options":{}},"id":"20de6875-60e2-4887-baee-e46865801f48","name":"FindHNComments","type":"n8n-nodes-base.httpRequest","position":[-1376,-48],"typeVersion":4.2},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text"}]},"options":{}},"id":"e289c927-d444-496a-b3d6-c7d34bb6dc24","name":"CombineIntoSingleText","type":"n8n-nodes-base.aggregate","position":[-1152,-48],"typeVersion":1},{"parameters":{"fieldToSplitOut":"children","options":{}},"id":"f6e60ca0-7e96-4b9c-8ff5-70cdac337d79","name":"SplitOutChildrenIDs","type":"n8n-nodes-base.splitOut","position":[-1600,-48],"typeVersion":1},{"parameters":{"formTitle":"What do You want to learn ?","formDescription":"We'll find the best resources from HackerNews and send you an email","formFields":{"values":[{"fieldLabel":"I want to learn","placeholder":"Python, DevOps, Ai, or just about anything"},{"fieldLabel":"What's your email ?","fieldType":"email","placeholder":"john.doe@example.com","requiredField":true}]},"options":{"buttonLabel":"Submit","path":"learn","respondWithOptions":{"values":{"formSubmittedText":"We'll shortly send you an email with top recommendations."}}}},"id":"620dc9bd-73e3-4483-82ea-ec30b6ead483","name":"GetTopicFromToLearn","type":"n8n-nodes-base.formTrigger","position":[-1984,-48],"webhookId":"4524d82f-86a6-4fab-ba09-1d24001e15f3","typeVersion":2.2},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.text }}","options":{}},"id":"563b4fda-790b-45e8-a59a-ba41019082e0","name":"Convert2HTML","type":"n8n-nodes-base.markdown","position":[-544,-48],"typeVersion":1},{"parameters":{},"id":"3830f90f-4e6c-490f-9874-0e23466f7d86","name":"Finished","type":"n8n-nodes-base.noOp","position":[-48,-64],"typeVersion":1},{"parameters":{"sendTo":"quriat@gmail.com","subject":"learn","emailType":"text","message":"={{ $json.text }}\n{{ $json.data }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-320,-64],"id":"013526af-07cc-4fba-84de-777ec931a653","name":"Send a message","webhookId":"d216eba3-5edc-479d-baf5-79bbe0e85fe1","credentials":{"gmailOAuth2":{"id":"DVdDtnWIadL4aPIV","name":"Gmail account"}}},{"parameters":{"model":"eleutherai/llemma_7b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1008,160],"id":"658a0b62-82c6-4c04-953e-289c836a079e","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"ypsTIXKbBaqMjw1s","name":"OpenRouter account"}}}],"connections":{"Basic LLM Chain":{"main":[[{"node":"Convert2HTML","type":"main","index":0}]]},"SearchAskHN":{"main":[[{"node":"SplitOutChildrenIDs","type":"main","index":0}]]},"FindHNComments":{"main":[[{"node":"CombineIntoSingleText","type":"main","index":0}]]},"CombineIntoSingleText":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"SplitOutChildrenIDs":{"main":[[{"node":"FindHNComments","type":"main","index":0}]]},"GetTopicFromToLearn":{"main":[[{"node":"SearchAskHN","type":"main","index":0}]]},"Convert2HTML":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Finished","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]}},"authors":"adam quriat12@gmail.com","name":"Version d29ff0a0","description":"","autosaved":true},"tags":[]}