workflows/Personalized AI Tech Newsletter Using RSS, OpenAI and Gmail.json
{"updatedAt":"2026-01-18T01:11:48.919Z","createdAt":"2026-01-18T00:53:16.784Z","id":"8OLbg9ZGtbQLmJIWvsEzJ","name":"Personalized AI Tech Newsletter Using RSS, OpenAI and Gmail","active":false,"isArchived":false,"nodes":[{"parameters":{"fieldToSplitOut":"rss","options":{}},"id":"cdc64236-34b9-4695-9997-8d7a615fa3d0","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[1120,272],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"e9f27ceb-c5f2-4997-8cb1-67576a7bb337","name":"title","type":"string","value":"={{ $json.title }}"},{"id":"4c4f9417-40f2-4fb0-9976-d09f5984680f","name":"content","type":"string","value":"={{ $json['content:encodedSnippet'] ?? $json.contentSnippet}}"},{"id":"e1986bac-054e-4240-ba50-536dbcd27337","name":"date","type":"string","value":"={{ $json.isoDate}}"}]},"options":{}},"id":"e9f6b73b-3112-4533-a8ad-dfd39f258273","name":"Normalize Fields","type":"n8n-nodes-base.set","position":[1568,272],"typeVersion":3.4},{"parameters":{"options":{}},"id":"57271318-8ec6-44b1-ae83-81b0d7464b4c","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[1968,480],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"dIbebkCdxuZQHQrG","name":"OpenAi account 2"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"=# {{ $json.title }}\n{{ $json.content }}","options":{"metadata":{"metadataValues":[{"name":"title","value":"={{ $json.title }}"},{"name":"=createDate","value":"={{ $now.toISO() }}"},{"name":"publishDate","value":"={{ $json.date }}"}]}}},"id":"bed6ea69-2b38-4d99-800e-1e0c721e5dc2","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[2096,480],"typeVersion":1},{"parameters":{"chunkSize":3000,"options":{}},"id":"a0991dfd-a691-41a0-81b5-dbadbf89c5b3","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[2176,688],"typeVersion":1},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"gpt-4o"},"options":{}},"id":"1965238c-e46f-45f9-bc40-e89d4810bf8e","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[864,848],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"dIbebkCdxuZQHQrG","name":"OpenAi account 2"}}},{"parameters":{"rule":{"interval":[{}]}},"id":"bda4d549-239d-4da2-9824-6c6fae7fa445","name":"Get Articles Daily","type":"n8n-nodes-base.scheduleTrigger","position":[688,272],"typeVersion":1.2},{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"id":"4aec6267-134b-4594-9b27-161324bf1603","name":"Send Weekly Summary","type":"n8n-nodes-base.scheduleTrigger","position":[432,688],"typeVersion":1.2},{"parameters":{"content":"## 1. Save news in a vector store (runs daily)","height":740,"width":1828,"color":7},"id":"dbbde6e6-ad61-4e0c-9e0e-016da1019e79","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[640,64],"typeVersion":1},{"parameters":{"content":"## 2. Send a summary (runs once a week)","height":600,"width":1508,"color":7},"id":"20823d4c-0699-404b-9e12-f7c43cdc7094","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[368,528],"typeVersion":1},{"parameters":{"promptType":"define","text":"=Summarize last week's news.","options":{"systemMessage":"=Only get last week's news. Act as a tech news aggregator and write in plain, easy-to-understand English. Prioritize news related to the following topics: {{ $json.Interests }}.\nIf none of those topics are mentioned in the news, use your best judgment to highlight the most newsworthy, frequently mentioned and relevant events in technology.\n\nProvide a total of {{ $json['Number of news items to include'] }} news items.\ncurrent date and time is :{{ $now }}"}},"id":"4c36c8dc-3e3a-40c5-98e9-01e6c43bd026","name":"News reader AI","type":"@n8n/n8n-nodes-langchain.agent","position":[880,624],"typeVersion":1.9},{"parameters":{"sendTo":"quriat12@gmail.com","subject":"Weekly tech newsletter","message":"={{ $json.data }}","options":{}},"id":"f8364bb7-5011-4330-a8ba-035353e978a9","name":"Send Newsletter","type":"n8n-nodes-base.gmail","position":[1648,752],"webhookId":"0de8b6e8-8611-48a9-ba25-1d023698f577","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"DVdDtnWIadL4aPIV","name":"Gmail account"}}},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.output }}","options":{}},"id":"5f76810c-e194-479b-bbeb-ebbc11359e7b","name":"Convert Response to an Email-Friendly Format","type":"n8n-nodes-base.markdown","position":[1248,624],"typeVersion":1},{"parameters":{"content":"### Edit this:","height":240,"width":220,"color":3},"id":"cc9714c9-763a-4da5-b703-0ade31bd8380","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[592,624],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"018882ca-37c3-45af-944f-2081b0605065","name":"Interests","type":"string","value":"AI, games, gadgets,automation"},{"id":"4cfdafc1-47a4-41cc-9eb8-72880ea34511","name":"Number of news items to include","type":"string","value":"20"}]},"options":{}},"id":"256c68ff-3851-44a3-9f78-59c3ece38f00","name":"Your topics of interest","type":"n8n-nodes-base.set","position":[640,688],"typeVersion":3.4},{"parameters":{"mode":"insert","memoryKey":"news_store_key","embeddingBatchSize":250},"id":"f41cf8a4-ee32-4a72-942d-b1afc59c652a","name":"Store News Articles","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","position":[1792,272],"typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"b8c00469-890b-4b5b-8e2e-2ad9ec2d0815","name":"rss","type":"array","value":"=[\n  \"https://www.engadget.com/rss.xml\",\n  \"https://feeds.arstechnica.com/arstechnica/index\",\n  \"https://www.theverge.com/rss/index.xml\",\n  \"https://www.wired.com/feed/rss\",\n  \"https://www.technologyreview.com/topnews.rss\",\n  \"https://techcrunch.com/feed/\"\n]\n"}]},"options":{}},"id":"1c590b96-068d-41a7-bbb1-54357d28cdc9","name":"Set Tech News RSS Feeds","type":"n8n-nodes-base.set","position":[912,272],"typeVersion":3.4},{"parameters":{"url":"={{ $json.rss }}","options":{"ignoreSSL":false}},"id":"66aa298a-52d7-4290-82d8-a5592f1b6ff4","name":"Read RSS News Feeds","type":"n8n-nodes-base.rssFeedRead","position":[1344,272],"typeVersion":1.1},{"parameters":{"mode":"retrieve-as-tool","toolName":"get_news","toolDescription":"Call this tool to get the latest news articles.","memoryKey":"news_store_key","topK":20},"id":"5af525c2-395a-4ed1-8aea-a07c0002b8fe","name":"Get News Articles","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","position":[1008,832],"typeVersion":1.1},{"parameters":{"options":{}},"id":"501e5cf7-0a49-4c2a-832c-82c5e47703b3","name":"Embeddings OpenAI2","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[1104,960],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"dIbebkCdxuZQHQrG","name":"OpenAi account 2"}}},{"parameters":{"content":"### Edit this:","height":240,"width":220,"color":3},"id":"98bb6600-ab84-4f11-8b20-f7b9913e5612","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[848,208],"typeVersion":1},{"parameters":{"person":"6EXGcXHgAw","text":"={{$json.linkedinText}}\n","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1712,544],"id":"3d6d7fdb-1b3a-449c-a0a5-69f9b76134ae","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"cwRmvXdzDoDbaoJF","name":"LinkedIn account"}}},{"parameters":{"jsCode":"const MAX_LENGTH = 3000;\n\n// 1. Collect all possible text sources\nlet text =\n  $json.cleanText ??\n  $json.content ??\n  $json.text ??\n  $json.output ??\n  $json.data ??\n  (typeof $json === \"string\" ? $json : \"\");\n\n// 2. If still empty, inspect entire JSON (last-resort)\nif (!text || typeof text !== \"string\") {\n  throw new Error(\n    \"No text available for LinkedIn post. Available keys: \" +\n    Object.keys($json).join(\", \")\n  );\n}\n\n// 3. Normalize whitespace\ntext = text.replace(/\\s+/g, \" \").trim();\n\n// 4. Enforce LinkedIn limit safely\nif (text.length > MAX_LENGTH) {\n  let truncated = text.slice(0, MAX_LENGTH);\n\n  // Prefer sentence boundary\n  const lastPeriod = truncated.lastIndexOf(\".\");\n  if (lastPeriod > 500) {\n    truncated = truncated.slice(0, lastPeriod + 1);\n  } else {\n    truncated = truncated.slice(0, truncated.lastIndexOf(\" \"));\n  }\n\n  text = truncated.trim();\n}\n\n// 5. Output\nreturn [\n  {\n    json: {\n      linkedinText: text\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,544],"id":"b0c7933a-26f4-4c95-92fb-0976e12bacef","name":"Code in JavaScript"}],"connections":{"Split Out":{"main":[[{"node":"Read RSS News Feeds","type":"main","index":0}]]},"News reader AI":{"main":[[{"node":"Convert Response to an Email-Friendly Format","type":"main","index":0}]]},"Normalize Fields":{"main":[[{"node":"Store News Articles","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Store News Articles","type":"ai_embedding","index":0}]]},"Get News Articles":{"ai_tool":[[{"node":"News reader AI","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"News reader AI","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Get News Articles","type":"ai_embedding","index":0}]]},"Get Articles Daily":{"main":[[{"node":"Set Tech News RSS Feeds","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Store News Articles","type":"ai_document","index":0}]]},"Read RSS News Feeds":{"main":[[{"node":"Normalize Fields","type":"main","index":0}]]},"Send Weekly Summary":{"main":[[{"node":"Your topics of interest","type":"main","index":0}]]},"Set Tech News RSS Feeds":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Your topics of interest":{"main":[[{"node":"News reader AI","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Convert Response to an Email-Friendly Format":{"main":[[{"node":"Send Newsletter","type":"main","index":0},{"node":"Code in JavaScript","type":"main","index":0}]]},"Create a post":{"main":[[]]},"Code in JavaScript":{"main":[[{"node":"Create a post","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","timezone":"America/Chicago","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7508bdbe-8147-415b-aba5-810b7f3d6e28","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-18T00:53:16.789Z","createdAt":"2026-01-18T00:53:16.789Z","role":"workflow:owner","workflowId":"8OLbg9ZGtbQLmJIWvsEzJ","projectId":"f7lZ9I1x9DksCYtb"}],"activeVersion":null,"tags":[]}