workflows/post about things from a round world.json
{"updatedAt":"2026-02-19T23:46:23.960Z","createdAt":"2026-01-31T02:34:54.638Z","id":"9ebz9iNjohPAvmjVDZmmk","name":"post about things from a round world","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-224,-80],"id":"d4700198-6c3c-4d75-857f-ab47599b3452","name":"Schedule Trigger"},{"parameters":{"jsCode":"// List of countries from around the world\nconst countries = [\n  'Japan', 'Brazil', 'Iceland', 'Morocco', 'New Zealand', 'Peru', 'Thailand',\n  'Norway', 'Egypt', 'Australia', 'Kenya', 'Greece', 'India', 'Mexico',\n  'South Korea', 'Italy', 'Indonesia', 'Turkey', 'South Africa', 'Argentina',\n  'Canada', 'Vietnam', 'Portugal', 'Chile', 'UAE', 'Ireland', 'Poland',\n  'Switzerland', 'Malaysia', 'Colombia', 'Netherlands', 'Singapore', 'Spain',\n  'Sweden', 'Philippines', 'Austria', 'Belgium', 'Denmark', 'Finland', 'Croatia', 'Oman' ,'Dubai' , 'South Afirica' ,\n];\n\n// Unique topic categories for each country\nconst topicCategories = [\n  'traditional cuisine and unique dishes',\n  'ancient historical landmarks',\n  'unique wildlife and biodiversity',\n  'traditional festivals and celebrations',\n  'architectural wonders',\n  'indigenous cultures and traditions',\n  'natural wonders and landscapes',\n  'innovative technology and inventions',\n  'traditional music and dance',\n  'unique customs and etiquette',\n  'legendary myths and folklore',\n  'traditional crafts and art forms',\n  'rare geographical features',\n  'historical figures and heroes',\n  'unique sports and games'\n];\n\n// Randomly select a country\nconst randomCountry = countries[Math.floor(Math.random() * countries.length)];\n\n// Randomly select a topic category\nconst randomTopic = topicCategories[Math.floor(Math.random() * topicCategories.length)];\n\n// Return the selected country and topic\nreturn [{\n  json: {\n    country: randomCountry,\n    topic: randomTopic,\n    timestamp: new Date().toISOString()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-80],"id":"19b35f3b-a4e9-4849-9cd7-27226ae73e8c","name":"Code in JavaScript"},{"parameters":{"promptType":"define","text":"=Create an engaging social media post about {{ $json.country }} focusing on {{ $json.topic }}.\n\nThe post should:\n- Be fascinating and educational\n- Include interesting facts that most people don't know\n- Be suitable for LinkedIn, Facebook, Instagram, and YouTube\n- Be approximately 150-200 words\n- Have an attention-grabbing hook\n- End with a question to encourage engagement\n- Include 3-5 relevant hashtags at the end\n\nMake it unique, informative, and shareable!","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[224,-80],"id":"de569481-d63f-4ee0-84f5-2e43705c6161","name":"Basic LLM Chain"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[240,112],"id":"d10192b3-4950-4afc-bb03-db7be1da8889","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"zpeqczLumycFK36P","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"person":"6EXGcXHgAw","text":"={{ $json.output[0].content[0].text }}","shareMediaCategory":"IMAGE","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1152,-80],"id":"1e92675d-ff76-40c5-99a7-bae03b3bd18e","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"cwRmvXdzDoDbaoJF","name":"LinkedIn account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[928,-80],"id":"9c297a04-ad44-4ff6-98ac-23ded60196f9","name":"Merge"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"GPT-4.1-NANO"},"responses":{"values":[{"role":"system","content":"=you  are a helpful writer assistant\nytou job is to take this text {{ $json.text }} and com out with 3 to 5 paragraph less than 3000 topost it in linkedin\n\n##Rules\n-do not include a words like Certainly! Here's a concise LinkedIn-friendly version of the post in 4 paragraphs, under 3000 characters:\\n\\n---\\n\\n to the final output\n__ dont not include Here's a refined LinkedIn post about Canada's unique geographical features:"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[576,80],"id":"bdbfe415-f245-4673-b36e-465197901b56","name":"Message a model","credentials":{"openAiApi":{"id":"dIbebkCdxuZQHQrG","name":"OpenAi account 2"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[640,240],"id":"83ed578f-9b5f-4ba6-a903-f1f6045f7fb6","name":"Think"},{"parameters":{"method":"POST","url":"https://router.huggingface.co/hf-inference/models/black-forest-labs/FLUX.1-schnell","authentication":"predefinedCredentialType","nodeCredentialType":"huggingFaceApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"image/png"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inputs","value":"=({\n    provider: \"nscale\",\n    model: \"black-forest-labs/FLUX.1-schnell\",\n\tinputs: \"{{ $json.text }}\",\n\tparameters: { num_inference_steps: 5 },\n});"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"id":"66d38e36-b12e-46e9-8ee5-f5774399afc2","name":"Generate featured image using HuggingFace FLUX","type":"n8n-nodes-base.httpRequest","position":[608,-144],"typeVersion":4.3,"credentials":{"huggingFaceApi":{"id":"utDikyPvJv4mJSaN","name":"HuggingFaceApi account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Message a model","type":"main","index":0},{"node":"Generate featured image using HuggingFace FLUX","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Create a post","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Think":{"ai_tool":[[{"node":"Message a model","type":"ai_tool","index":0}]]},"Generate featured image using HuggingFace FLUX":{"main":[[{"node":"Merge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"h_OUfENFlQWrNGj_frFoP","timezone":"America/Chicago","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[18]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d723162e-481b-4e91-9013-e0ba72f435e8","activeVersionId":"d723162e-481b-4e91-9013-e0ba72f435e8","triggerCount":1,"shared":[{"updatedAt":"2026-01-31T02:34:54.649Z","createdAt":"2026-01-31T02:34:54.649Z","role":"workflow:owner","workflowId":"9ebz9iNjohPAvmjVDZmmk","projectId":"f7lZ9I1x9DksCYtb"}],"activeVersion":{"updatedAt":"2026-02-19T23:47:27.000Z","createdAt":"2026-02-17T22:31:57.325Z","versionId":"d723162e-481b-4e91-9013-e0ba72f435e8","workflowId":"9ebz9iNjohPAvmjVDZmmk","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-224,-80],"id":"d4700198-6c3c-4d75-857f-ab47599b3452","name":"Schedule Trigger"},{"parameters":{"jsCode":"// List of countries from around the world\nconst countries = [\n  'Japan', 'Brazil', 'Iceland', 'Morocco', 'New Zealand', 'Peru', 'Thailand',\n  'Norway', 'Egypt', 'Australia', 'Kenya', 'Greece', 'India', 'Mexico',\n  'South Korea', 'Italy', 'Indonesia', 'Turkey', 'South Africa', 'Argentina',\n  'Canada', 'Vietnam', 'Portugal', 'Chile', 'UAE', 'Ireland', 'Poland',\n  'Switzerland', 'Malaysia', 'Colombia', 'Netherlands', 'Singapore', 'Spain',\n  'Sweden', 'Philippines', 'Austria', 'Belgium', 'Denmark', 'Finland', 'Croatia', 'Oman' ,'Dubai' , 'South Afirica' ,\n];\n\n// Unique topic categories for each country\nconst topicCategories = [\n  'traditional cuisine and unique dishes',\n  'ancient historical landmarks',\n  'unique wildlife and biodiversity',\n  'traditional festivals and celebrations',\n  'architectural wonders',\n  'indigenous cultures and traditions',\n  'natural wonders and landscapes',\n  'innovative technology and inventions',\n  'traditional music and dance',\n  'unique customs and etiquette',\n  'legendary myths and folklore',\n  'traditional crafts and art forms',\n  'rare geographical features',\n  'historical figures and heroes',\n  'unique sports and games'\n];\n\n// Randomly select a country\nconst randomCountry = countries[Math.floor(Math.random() * countries.length)];\n\n// Randomly select a topic category\nconst randomTopic = topicCategories[Math.floor(Math.random() * topicCategories.length)];\n\n// Return the selected country and topic\nreturn [{\n  json: {\n    country: randomCountry,\n    topic: randomTopic,\n    timestamp: new Date().toISOString()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-80],"id":"19b35f3b-a4e9-4849-9cd7-27226ae73e8c","name":"Code in JavaScript"},{"parameters":{"promptType":"define","text":"=Create an engaging social media post about {{ $json.country }} focusing on {{ $json.topic }}.\n\nThe post should:\n- Be fascinating and educational\n- Include interesting facts that most people don't know\n- Be suitable for LinkedIn, Facebook, Instagram, and YouTube\n- Be approximately 150-200 words\n- Have an attention-grabbing hook\n- End with a question to encourage engagement\n- Include 3-5 relevant hashtags at the end\n\nMake it unique, informative, and shareable!","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[224,-80],"id":"de569481-d63f-4ee0-84f5-2e43705c6161","name":"Basic LLM Chain"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[240,112],"id":"d10192b3-4950-4afc-bb03-db7be1da8889","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"zpeqczLumycFK36P","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"person":"6EXGcXHgAw","text":"={{ $json.output[0].content[0].text }}","shareMediaCategory":"IMAGE","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1152,-80],"id":"1e92675d-ff76-40c5-99a7-bae03b3bd18e","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"cwRmvXdzDoDbaoJF","name":"LinkedIn account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[928,-80],"id":"9c297a04-ad44-4ff6-98ac-23ded60196f9","name":"Merge"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"GPT-4.1-NANO"},"responses":{"values":[{"role":"system","content":"=you  are a helpful writer assistant\nytou job is to take this text {{ $json.text }} and com out with 3 to 5 paragraph less than 3000 topost it in linkedin\n\n##Rules\n-do not include a words like Certainly! Here's a concise LinkedIn-friendly version of the post in 4 paragraphs, under 3000 characters:\\n\\n---\\n\\n to the final output\n__ dont not include Here's a refined LinkedIn post about Canada's unique geographical features:"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[576,80],"id":"bdbfe415-f245-4673-b36e-465197901b56","name":"Message a model","credentials":{"openAiApi":{"id":"dIbebkCdxuZQHQrG","name":"OpenAi account 2"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[640,240],"id":"83ed578f-9b5f-4ba6-a903-f1f6045f7fb6","name":"Think"},{"parameters":{"method":"POST","url":"https://router.huggingface.co/hf-inference/models/black-forest-labs/FLUX.1-schnell","authentication":"predefinedCredentialType","nodeCredentialType":"huggingFaceApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"image/png"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inputs","value":"=({\n    provider: \"nscale\",\n    model: \"black-forest-labs/FLUX.1-schnell\",\n\tinputs: \"{{ $json.text }}\",\n\tparameters: { num_inference_steps: 5 },\n});"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"id":"66d38e36-b12e-46e9-8ee5-f5774399afc2","name":"Generate featured image using HuggingFace FLUX","type":"n8n-nodes-base.httpRequest","position":[608,-144],"typeVersion":4.3,"credentials":{"huggingFaceApi":{"id":"utDikyPvJv4mJSaN","name":"HuggingFaceApi account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Message a model","type":"main","index":0},{"node":"Generate featured image using HuggingFace FLUX","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Create a post","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Think":{"ai_tool":[[{"node":"Message a model","type":"ai_tool","index":0}]]},"Generate featured image using HuggingFace FLUX":{"main":[[{"node":"Merge","type":"main","index":0}]]}},"authors":"adam aljahdhami","name":"Version d723162e","description":"","autosaved":true},"tags":[]}