workflows/rss news.json
{"updatedAt":"2026-01-20T01:26:25.406Z","createdAt":"2026-01-19T22:50:20.284Z","id":"JdtJ7T-Ppxz7BGXIkKCl7","name":"rss news","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-304,-128],"id":"edcd6f31-e09e-4be3-98db-7fa3b9883382","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1j2P47kvh68ksSSHDptrox6qHo0Mt9zQ2l7rbDsmJEdM","mode":"list","cachedResultName":"Rss Soureces","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1j2P47kvh68ksSSHDptrox6qHo0Mt9zQ2l7rbDsmJEdM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1j2P47kvh68ksSSHDptrox6qHo0Mt9zQ2l7rbDsmJEdM/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-96,-128],"id":"0ab0c000-0b98-4c04-88f6-fe4fa1c31931","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"OK8uabSCc25Un5lJ","name":"Google Sheets account"}}},{"parameters":{"jsCode":"return items.map(item => {\n  return {\n    json: {\n      url: item.json.Sourcelink\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[112,-128],"id":"a7c98d38-e8d2-4a01-a2e6-3b6ab13c3be9","name":"Code in JavaScript"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[336,-128],"id":"0a44dac6-8088-4c5f-bfa9-2bea2304a890","name":"Loop Over Items","onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[528,-112],"id":"c709aae3-afc7-48c7-a0df-35ef7d2cc6c3","name":"RSS Read","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2ad36a4c-4483-4853-a222-11f48801135b","leftValue":"={{ $json.pubDate }}","rightValue":"={{ $now.minus(3,'days') }}","operator":{"type":"dateTime","operation":"afterOrEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[480,-256],"id":"b5dc45b1-41a9-499d-a450-2a266001cf71","name":"If"},{"parameters":{"jsCode":"const newsItems = items.map(item => {\n  const url = item.json.Sourcelink || item.json.sourceLink || '#';\n  const title = item.json.title || item.json.headline || 'No title';\n  const snippet = item.json.contentSnippet || item.json.description || '';\n\n  return `\n    <div class=\"news-item\">\n      <a\n        href=\"${url}\"\n        target=\"_blank\"\n        style=\"text-decoration:none; font-weight:600; color:#2a7ae2;\"\n      >\n        ${title}\n      </a>\n\n      <div class=\"content-snippet\" style=\"color:#333; margin-top:4px;\">\n        ${snippet}\n      </div>\n    </div>\n  `;\n}).join('');\n\nreturn [{ json: { newsItems } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[976,-272],"id":"89d3d703-3e2d-4cf4-9bbe-5aefaa66f861","name":"Code in JavaScript1"},{"parameters":{"sendTo":"quriat@gmail.com","subject":"news","message":"=<!DOCTYPE html> <html lang=\"en\"> <head>   <meta charset=\"UTF-8\" />   <title>Latest News</title>    <style>     body {       background: #f8f8f8;       font-family: Arial, sans-serif;     }      .news-container {       background: #fff;       width: 400px;       margin: 40px auto;       border-radius: 8px;       box-shadow: 0 2px 10px rgba(0,0,0,0.08);       padding: 24px 20px;     }      .news-header {       font-size: 20px;       font-weight: bold;       margin-bottom: 18px;       text-align: center;     }      .news-list {       border-radius: 14px;       border: 1px solid #e0e0e0;       padding: 16px 12px;       background: #fafafa;     }      .news-item {       margin-bottom: 20px;       padding-bottom: 12px;       border-bottom: 1px solid #eaeaea;     }      .news-item:last-child {       border-bottom: none;       margin-bottom: 0;       padding-bottom: 0;     }      .news-title {       font-size: 1.1em;       font-weight: 600;       margin-bottom: 4px;     }      .news-link {       color: #2a7ae2;       text-decoration: underline;       font-size: 0.98em;     }   </style> </head>  <body>   <div class=\"news-container\">     <div class=\"news-header\">Latest News</div>      <div class=\"news-list\">       {{ $json.newsItems }}     </div>   </div> </body> </html>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1184,-272],"id":"ee21e094-0fb4-4710-87c4-27936f89cf06","name":"Send a message","webhookId":"107c151f-a938-4b14-85cf-0c0d912ac165","credentials":{"gmailOAuth2":{"id":"DVdDtnWIadL4aPIV","name":"Gmail account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1tcGKUg2eRGmaR3v4WT8bmTkyYdEM9Wpgn0xACjJEgyg","mode":"list","cachedResultName":"Rss feed","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tcGKUg2eRGmaR3v4WT8bmTkyYdEM9Wpgn0xACjJEgyg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tcGKUg2eRGmaR3v4WT8bmTkyYdEM9Wpgn0xACjJEgyg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"title":"={{ $json.title }}","guig":"={{ $json.guid }}","pubDate":"={{ $json.pubDate }}","Contents ":"={{ $json.content }}","ContentsSippets":"={{ $json.contentSnippet }}","SourceLink":"={{ $json.link }}","Catogery":"={{ $json.categories[0] }}"},"matchingColumns":["pubDate"],"schema":[{"id":"guig","displayName":"guig","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pubDate","displayName":"pubDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Contents ","displayName":"Contents ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ContentsSippets","displayName":"ContentsSippets","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SourceLink","displayName":"SourceLink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Catogery","displayName":"Catogery","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Images ","displayName":"Images ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[784,-272],"id":"4a450ff3-dbd8-419c-912d-a8e60c31c839","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"OK8uabSCc25Un5lJ","name":"Google Sheets account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"RSS Read","type":"main","index":0}]]},"RSS Read":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","timezone":"America/Chicago","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fe3a0605-b815-430c-ad2d-23210a39b125","activeVersionId":"db68cb90-e4a0-4d19-9a8e-1c49b9277b77","triggerCount":1,"shared":[{"updatedAt":"2026-01-19T22:50:20.294Z","createdAt":"2026-01-19T22:50:20.294Z","role":"workflow:owner","workflowId":"JdtJ7T-Ppxz7BGXIkKCl7","projectId":"f7lZ9I1x9DksCYtb"}],"activeVersion":{"updatedAt":"2026-01-20T01:11:04.000Z","createdAt":"2026-01-20T01:10:58.107Z","versionId":"db68cb90-e4a0-4d19-9a8e-1c49b9277b77","workflowId":"JdtJ7T-Ppxz7BGXIkKCl7","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-304,-128],"id":"edcd6f31-e09e-4be3-98db-7fa3b9883382","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1j2P47kvh68ksSSHDptrox6qHo0Mt9zQ2l7rbDsmJEdM","mode":"list","cachedResultName":"Rss Soureces","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1j2P47kvh68ksSSHDptrox6qHo0Mt9zQ2l7rbDsmJEdM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1j2P47kvh68ksSSHDptrox6qHo0Mt9zQ2l7rbDsmJEdM/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-96,-128],"id":"0ab0c000-0b98-4c04-88f6-fe4fa1c31931","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"OK8uabSCc25Un5lJ","name":"Google Sheets account"}}},{"parameters":{"jsCode":"return items.map(item => {\n  return {\n    json: {\n      url: item.json.Sourcelink\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[112,-128],"id":"a7c98d38-e8d2-4a01-a2e6-3b6ab13c3be9","name":"Code in JavaScript"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[336,-128],"id":"0a44dac6-8088-4c5f-bfa9-2bea2304a890","name":"Loop Over Items","onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[528,-112],"id":"c709aae3-afc7-48c7-a0df-35ef7d2cc6c3","name":"RSS Read","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2ad36a4c-4483-4853-a222-11f48801135b","leftValue":"={{ $json.pubDate }}","rightValue":"={{ $now.minus(3, 'days') }}","operator":{"type":"dateTime","operation":"afterOrEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[480,-256],"id":"b5dc45b1-41a9-499d-a450-2a266001cf71","name":"If"},{"parameters":{"jsCode":"const newsItems = items.map(item => {\n  const url = item.json.Sourcelink || item.json.sourceLink || '#';\n  const title = item.json.title || item.json.headline || 'No title';\n  const snippet = item.json.contentSnippet || item.json.description || '';\n\n  return `\n    <div class=\"news-item\">\n      <a\n        href=\"${url}\"\n        target=\"_blank\"\n        style=\"text-decoration:none; font-weight:600; color:#2a7ae2;\"\n      >\n        ${title}\n      </a>\n\n      <div class=\"content-snippet\" style=\"color:#333; margin-top:4px;\">\n        ${snippet}\n      </div>\n    </div>\n  `;\n}).join('');\n\nreturn [{ json: { newsItems } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[976,-272],"id":"89d3d703-3e2d-4cf4-9bbe-5aefaa66f861","name":"Code in JavaScript1"},{"parameters":{"sendTo":"quriat@gmail.com","subject":"news","message":"=<!DOCTYPE html> <html lang=\"en\"> <head>   <meta charset=\"UTF-8\" />   <title>Latest News</title>    <style>     body {       background: #f8f8f8;       font-family: Arial, sans-serif;     }      .news-container {       background: #fff;       width: 400px;       margin: 40px auto;       border-radius: 8px;       box-shadow: 0 2px 10px rgba(0,0,0,0.08);       padding: 24px 20px;     }      .news-header {       font-size: 20px;       font-weight: bold;       margin-bottom: 18px;       text-align: center;     }      .news-list {       border-radius: 14px;       border: 1px solid #e0e0e0;       padding: 16px 12px;       background: #fafafa;     }      .news-item {       margin-bottom: 20px;       padding-bottom: 12px;       border-bottom: 1px solid #eaeaea;     }      .news-item:last-child {       border-bottom: none;       margin-bottom: 0;       padding-bottom: 0;     }      .news-title {       font-size: 1.1em;       font-weight: 600;       margin-bottom: 4px;     }      .news-link {       color: #2a7ae2;       text-decoration: underline;       font-size: 0.98em;     }   </style> </head>  <body>   <div class=\"news-container\">     <div class=\"news-header\">Latest News</div>      <div class=\"news-list\">       {{ $json.newsItems }}     </div>   </div> </body> </html>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1184,-272],"id":"ee21e094-0fb4-4710-87c4-27936f89cf06","name":"Send a message","webhookId":"107c151f-a938-4b14-85cf-0c0d912ac165","credentials":{"gmailOAuth2":{"id":"DVdDtnWIadL4aPIV","name":"Gmail account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1tcGKUg2eRGmaR3v4WT8bmTkyYdEM9Wpgn0xACjJEgyg","mode":"list","cachedResultName":"Rss feed","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tcGKUg2eRGmaR3v4WT8bmTkyYdEM9Wpgn0xACjJEgyg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tcGKUg2eRGmaR3v4WT8bmTkyYdEM9Wpgn0xACjJEgyg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"title":"={{ $json.title }}","guig":"={{ $json.guid }}","pubDate":"={{ $json.pubDate }}","Contents ":"={{ $json.content }}","ContentsSippets":"={{ $json.contentSnippet }}","SourceLink":"={{ $json.link }}","Catogery":"={{ $json.categories[0] }}"},"matchingColumns":[],"schema":[{"id":"guig","displayName":"guig","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pubDate","displayName":"pubDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Contents ","displayName":"Contents ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ContentsSippets","displayName":"ContentsSippets","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SourceLink","displayName":"SourceLink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Catogery","displayName":"Catogery","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Images ","displayName":"Images ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[784,-272],"id":"4a450ff3-dbd8-419c-912d-a8e60c31c839","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"OK8uabSCc25Un5lJ","name":"Google Sheets account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"RSS Read","type":"main","index":0}]]},"RSS Read":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]}},"authors":"adam quriat12@gmail.com","name":"Version db68cb90","description":"","autosaved":true},"tags":[]}