workflows/Send the Astronomy Picture of the day daily to a Telegram channel.json
{"updatedAt":"2026-01-17T21:18:39.409Z","createdAt":"2026-01-17T20:13:37.521Z","id":"5dl_QKCwPO_xxVCemIkbG","name":"Send the Astronomy Picture of the day daily to a Telegram channel","active":true,"isArchived":false,"nodes":[{"parameters":{"triggerTimes":{"item":[{"hour":20}]}},"name":"Cron","type":"n8n-nodes-base.cron","position":[2160,416],"typeVersion":1,"id":"b1589ee7-11e3-4c5c-9a0f-94002952d5d7"},{"parameters":{"download":false,"additionalFields":{}},"name":"NASA","type":"n8n-nodes-base.nasa","position":[2368,416],"typeVersion":1,"id":"73206c51-d5e2-4835-8bb4-dd176b06668b","credentials":{"nasaApi":{"id":"pKWCdS0UY9zejCLB","name":"NASA account"}}},{"parameters":{"operation":"sendPhoto","chatId":"5820707923","file":"={{ $json.url }}","additionalFields":{"caption":"={{$node[\"NASA\"].json[\"title\"]}}"}},"name":"Telegram","type":"n8n-nodes-base.telegram","position":[2560,416],"typeVersion":1,"id":"ae77e0a4-e27f-4ee7-8461-3eb7aba3dfe2","webhookId":"44232d79-e6dd-4637-8a78-5ff9054fc31e","credentials":{"telegramApi":{"id":"kyMYKsP5UgDUahnh","name":"Telegram account"}}}],"connections":{"Cron":{"main":[[{"node":"NASA","type":"main","index":0}]]},"NASA":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","timezone":"America/Chicago","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b17c1926-7c79-4c99-bb7f-0e7935b0d84d","activeVersionId":"b17c1926-7c79-4c99-bb7f-0e7935b0d84d","triggerCount":1,"shared":[{"updatedAt":"2026-01-17T20:13:37.540Z","createdAt":"2026-01-17T20:13:37.540Z","role":"workflow:owner","workflowId":"5dl_QKCwPO_xxVCemIkbG","projectId":"f7lZ9I1x9DksCYtb"}],"activeVersion":{"updatedAt":"2026-01-17T21:18:42.000Z","createdAt":"2026-01-17T21:16:44.564Z","versionId":"b17c1926-7c79-4c99-bb7f-0e7935b0d84d","workflowId":"5dl_QKCwPO_xxVCemIkbG","nodes":[{"parameters":{"triggerTimes":{"item":[{"hour":20}]}},"name":"Cron","type":"n8n-nodes-base.cron","position":[2160,416],"typeVersion":1,"id":"b1589ee7-11e3-4c5c-9a0f-94002952d5d7"},{"parameters":{"download":false,"additionalFields":{}},"name":"NASA","type":"n8n-nodes-base.nasa","position":[2368,416],"typeVersion":1,"id":"73206c51-d5e2-4835-8bb4-dd176b06668b","credentials":{"nasaApi":{"id":"pKWCdS0UY9zejCLB","name":"NASA account"}}},{"parameters":{"operation":"sendPhoto","chatId":"5820707923","file":"={{ $json.url }}","additionalFields":{"caption":"={{$node[\"NASA\"].json[\"title\"]}}"}},"name":"Telegram","type":"n8n-nodes-base.telegram","position":[2560,416],"typeVersion":1,"id":"ae77e0a4-e27f-4ee7-8461-3eb7aba3dfe2","webhookId":"44232d79-e6dd-4637-8a78-5ff9054fc31e","credentials":{"telegramApi":{"id":"kyMYKsP5UgDUahnh","name":"Telegram account"}}}],"connections":{"Cron":{"main":[[{"node":"NASA","type":"main","index":0}]]},"NASA":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"authors":"adam quriat12@gmail.com","name":"Version b17c1926","description":"","autosaved":true},"tags":[{"updatedAt":"2026-01-17T20:13:35.829Z","createdAt":"2026-01-17T20:13:35.829Z","id":"P0WHaok6X9I2uvRG","name":"OpenAI"},{"updatedAt":"2026-01-17T20:13:35.823Z","createdAt":"2026-01-17T20:13:35.823Z","id":"VaNQravh7O6pyxs1","name":"Creatomate"},{"updatedAt":"2026-01-17T20:13:35.833Z","createdAt":"2026-01-17T20:13:35.833Z","id":"bRXSlppRV8giSTVM","name":"Leonardo"},{"updatedAt":"2026-01-17T20:13:35.819Z","createdAt":"2026-01-17T20:13:35.819Z","id":"spH62r1pwmAEkiT6","name":"RunwayML"},{"updatedAt":"2026-01-17T20:13:35.784Z","createdAt":"2026-01-17T20:13:35.784Z","id":"yFHznGJAqKywVTZi","name":"Video"}]}