workflows/serper scrape.json
{"updatedAt":"2026-01-15T21:27:03.273Z","createdAt":"2026-01-15T16:15:38.575Z","id":"JEDOdfxFJGxTAcjfCIZh4","name":"serper scrape","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-96,0],"id":"3c0be80d-abea-4b7a-910e-e4d14615ce99","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://google.serper.dev/videos","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"06190a120758caafecc4e59c448129b67306e2e6"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"q","value":"video about  best n8n workflow"}]},"options":{"redirect":{"redirect":{}},"timeout":180000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[112,0],"id":"e836f444-2f07-401b-bfe8-ffd397ce458d","name":"HTTP Request","retryOnFail":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1cALSDLKhO_yrMzpK5wJIVoyZYT4ileo4KwXOZVjfPWI","mode":"list","cachedResultName":"Scrape","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cALSDLKhO_yrMzpK5wJIVoyZYT4ileo4KwXOZVjfPWI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cALSDLKhO_yrMzpK5wJIVoyZYT4ileo4KwXOZVjfPWI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"text":"={{ $json.text }}","metadata":"={{ $json.metadata }}"},"matchingColumns":["text"],"schema":[{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"metadata","displayName":"metadata","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[544,0],"id":"f5af2d3d-f8d0-4a04-8ae3-f0802c8dff81","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"OK8uabSCc25Un5lJ","name":"Google Sheets account"}}},{"parameters":{"sendTo":"quriat12@gmail.com","subject":"scrape","message":"=text: {{ $json.text }}\n\nmetadata:{{ $json.metadata }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[720,0],"id":"799bd999-a454-4caf-9543-2fc993fa7eeb","name":"Send a message","webhookId":"88748a6a-f8fc-48fd-903c-292f845fbf06","credentials":{"gmailOAuth2":{"id":"DVdDtnWIadL4aPIV","name":"Gmail account"}}},{"parameters":{"jsCode":"// Extract contact information from scraped text\nfor (const item of $input.all()) {\n  const text = item.json.text || '';\n  const metadata = item.json.metadata || {};\n  \n  // Extract phone numbers (various formats)\n  const phoneRegex = /(\\+?1?[\\s.-]?\\(?\\d{3}\\)?[\\s.-]?\\d{3}[\\s.-]?\\d{4}|\\d{3}-\\d{3}-\\d{4}|\\(\\d{3}\\)\\s*\\d{3}-\\d{4})/g;\n  const phones = text.match(phoneRegex) || [];\n  item.json.phone = phones[0] || 'Not found';\n  \n  // Extract email addresses\n  const emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g;\n  const emails = text.match(emailRegex) || [];\n  item.json.email = emails[0] || 'Not found';\n  \n  // Extract addresses (basic pattern for US addresses)\n  const addressRegex = /\\d+\\s+[A-Za-z0-9\\s,]+(?:Street|St|Avenue|Ave|Road|Rd|Boulevard|Blvd|Lane|Ln|Drive|Dr|Court|Ct|Circle|Cir|Way)[\\s,]+[A-Za-z\\s]+,\\s*[A-Z]{2}\\s*\\d{5}/gi;\n  const addresses = text.match(addressRegex) || [];\n  item.json.address = addresses[0] || 'Not found';\n  \n  // Extract price ($ followed by numbers)\n  const priceRegex = /\\$\\s*\\d+(?:,\\d{3})*(?:\\.\\d{2})?/g;\n  const prices = text.match(priceRegex) || [];\n  item.json.price = prices[0] || 'Not found';\n  \n  // Keep original text and metadata\n  item.json.url = metadata.url || 'http://www.actionlimo.com/';\n  item.json.title = metadata.title || 'No title';\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,0],"id":"44e92252-af26-4f62-a468-626e0514a047","name":"Code in JavaScript"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","timezone":"America/Chicago","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"30c5d69c-455d-4319-96ec-decda54edda9","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-15T16:15:38.582Z","createdAt":"2026-01-15T16:15:38.582Z","role":"workflow:owner","workflowId":"JEDOdfxFJGxTAcjfCIZh4","projectId":"f7lZ9I1x9DksCYtb"}],"activeVersion":null,"tags":[]}