workflows/Universal URL Summarizer (Multi-Language).json
{"updatedAt":"2026-02-13T01:06:31.926Z","createdAt":"2026-01-17T21:20:03.175Z","id":"9gHSN-MjzsemlJjCejJN7","name":"Universal URL Summarizer (Multi-Language)","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"google/gemini-2.0-flash-001","options":{"maxTokens":2000,"temperature":0.3}},"id":"1de021f4-5ae1-489c-959e-3479e61e8880","name":"OpenRouter Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[720,512],"credentials":{"openRouterApi":{"id":"ypsTIXKbBaqMjw1s","name":"OpenRouter account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[592,304],"id":"ed9e8f37-6c26-4e2d-9d29-ed20b4de2a5e","name":"When chat message received","webhookId":"c37c7c0c-3e32-4c9d-8b3f-40d5194e6a98"},{"parameters":{"sessionIdType":"customKey","sessionKey":"567"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[848,512],"id":"e975156a-eabf-4259-a245-2a95f9a8afcc","name":"Simple Memory"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=You are a multilingual  summarization agent. Your task is to fetch, analyze, and summarize content in the user's preferred language.\n\nlike :\n{{ $json.chatInput }}\n\n\n##use http tool to fich the url and translet to use languge resust\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[800,304],"id":"c13087bd-9be9-4b0c-9760-d08d8d0940dc","name":"AI Agent"},{"parameters":{"sendTo":"quriat12@gmail.com","subject":"summery","emailType":"text","message":"={{ $json.output }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1152,304],"id":"c717ae70-04d3-4120-9325-ac64666b6519","name":"Send a message","webhookId":"c86a6d59-9878-427d-b254-676f33f0dbe2","credentials":{"gmailOAuth2":{"id":"DVdDtnWIadL4aPIV","name":"Gmail account"}},"disabled":true},{"parameters":{"url":"https://timesofoman.com","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[1008,528],"id":"0b09535c-b4c6-44de-bfef-cdaa05b162d7","name":"HTTP Request"}],"connections":{"OpenRouter Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"HTTP Request":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","timezone":"America/Chicago","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"95c0c870-60df-409e-99be-901bb89a9de6","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-01-17T21:20:03.359Z","createdAt":"2026-01-17T21:20:03.359Z","role":"workflow:owner","workflowId":"9gHSN-MjzsemlJjCejJN7","projectId":"f7lZ9I1x9DksCYtb"}],"activeVersion":null,"tags":[]}