workflows/AI Email processing autoresponder with approval (Yes/No).json
{"updatedAt":"2026-01-23T02:12:23.781Z","createdAt":"2026-01-18T18:53:45.233Z","id":"6NMOPul8ls1btlMDUa8-W","name":"AI Email processing autoresponder with approval (Yes/No)","active":false,"isArchived":false,"nodes":[{"parameters":{"html":"={{ $json.snippet }}","options":{}},"id":"59f6eb50-666d-4035-949c-52bb0dc6db2a","name":"Markdown","type":"n8n-nodes-base.markdown","position":[-144,736],"typeVersion":1},{"parameters":{"model":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"gpt-3.5-turbo"},"options":{}},"id":"835cca75-3488-43f4-9f65-635c679c0214","name":"DeepSeek R1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[640,992],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"dIbebkCdxuZQHQrG","name":"OpenAi account 2"}}},{"parameters":{"operationMode":"nodeInputBinary","options":{"binaryDataKey":"={{ $json.data }}","summarizationMethodAndPrompts":{"values":{"combineMapPrompt":"=Write a concise summary of the following in max 100 words:\n\n\"{{ $json.data }}\"\n\nDo not enter the total number of words used.","prompt":"=Write a concise summary of the following in max 100 words :\n\n\"{{ $json.data }}\"\n\nDo not enter the total number of words used."}}}},"id":"f6c3542f-0b52-4172-97fa-af16c471451e","name":"Email Summarization Chain","type":"@n8n/n8n-nodes-langchain.chainSummarization","position":[80,736],"typeVersion":2},{"parameters":{"promptType":"define","text":"=Write the text to reply to the following email:\n{{ $('Gmail Trigger').item.json.From }}","hasOutputParser":true,"options":{"systemMessage":"=You are an expert at answering emails. You need to answer them professionally based on the information you have. This is a business email. Be concise and never exceed 100 words. Only the body of the email, not create the subject.\n\nIt must be in HTML format and you can insert (if you think it is appropriate) only HTML characters such as <br>, <b>, <i>, <p> where necessary."}},"id":"072f680c-5c7c-4062-8d7d-48a149f83cd7","name":"Write email","type":"@n8n/n8n-nodes-langchain.agent","position":[800,736],"typeVersion":1.7},{"parameters":{"assignments":{"assignments":[{"id":"759dc0f9-f582-492c-896c-6426f8410127","name":"email","type":"string","value":"={{ $json.response.text }}"}]},"options":{}},"id":"cb3d07dd-140f-4a79-84ca-93076cf02beb","name":"Set Email","type":"n8n-nodes-base.set","position":[592,736],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"5c377c1c-43c6-45e7-904e-dbbe6b682686","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.data.approved }}","rightValue":"true"}]},"options":{"ignoreCase":false}},"id":"173c8aab-97cf-454c-b5c0-747efc10b547","name":"Approve?","type":"n8n-nodes-base.if","position":[1392,736],"typeVersion":2.2},{"parameters":{"content":"# Main Flow\n\n## Preliminary step:\nCreate a vector database on Qdrant and tokenize the documents useful for generating a response\n\n\n## How it works\nThis workflow is designed to automate the process of handling incoming emails, summarizing their content, generating appropriate responses with RAG, and obtaining approval (YES/NO button) before sending replies.\n\nThis workflow is designed to handle general inquiries that come in via corporate email via IMAP and generate responses using RAG. You can quickly integrate Gmail and Outlook via the appropriate trigger nodes","height":420,"width":580,"color":3},"id":"75870660-b47f-4375-a13b-503e71cecda5","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-400,144],"typeVersion":1},{"parameters":{"content":"Convert email to Markdown format for better understanding of LLM models","height":240},"id":"403bc1db-d341-4f39-be6c-3a7e1935fbcf","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-224,656],"typeVersion":1},{"parameters":{"content":"Chain that summarizes the received email","height":240,"width":320},"id":"0d2d2223-330e-4023-8ab8-db14cf9db96f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[64,656],"typeVersion":1},{"parameters":{"content":"Agent that retrieves business information from a vector database and processes the response","height":240,"width":340},"id":"ea47ee89-2bcb-41a3-8884-f8c4cecee4ab","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[768,656],"typeVersion":1},{"parameters":{"operation":"sendAndWait","sendTo":"quriat@gmail.com","subject":"=[Approval Required]  {{ $json.output }}","message":"=<h3>MESS{{ $json.output }}AGE</h3>\n\n<h3>AI RESPONSE</h3>\n{{ $json.output }}","approvalOptions":{"values":{"approvalType":"double"}},"options":{}},"id":"b829ca90-4efd-43bb-89f6-693528c879e8","name":"Send Draft","type":"n8n-nodes-base.gmail","position":[1168,736],"webhookId":"d6dd2e7c-90ea-4b65-9c64-523d2541a054","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"DVdDtnWIadL4aPIV","name":"Gmail account"}}},{"parameters":{"content":"## IMPORTANT\n\nFor the \"Send Draft\" node, you need to send the draft email to a Gmail address because it is the only one that allows the \"Send and wait for response\" function.","height":360,"color":4},"id":"44f8312e-aa91-43ea-acaf-3641f9d4b985","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1120,528],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[-400,672],"id":"ccfa8c0b-00be-4259-a6ab-0adf67dd7dd7","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"DVdDtnWIadL4aPIV","name":"Gmail account"}}},{"parameters":{"model":"google/gemma-3-12b-it:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[16,944],"id":"d4e8656e-a8fe-4184-9d48-0511722f91be","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"ypsTIXKbBaqMjw1s","name":"OpenRouter account"}}},{"parameters":{"sendTo":"quriat@gmail.com","subject":"approve","message":"={{ $('Write email').item.json.output }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1600,640],"id":"99aa3e4f-6835-4f9a-ba9d-d5fbb47d41a5","name":"Send a message","webhookId":"44a24d5a-ccef-45e6-abe1-33515436fc12","credentials":{"gmailOAuth2":{"id":"DVdDtnWIadL4aPIV","name":"Gmail account"}}}],"connections":{"Approve?":{"main":[[{"node":"Send a message","type":"main","index":0}],[{"node":"Set Email","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Email Summarization Chain","type":"main","index":0}]]},"Set Email":{"main":[[{"node":"Write email","type":"main","index":0}]]},"Send Draft":{"main":[[{"node":"Approve?","type":"main","index":0}]]},"DeepSeek R1":{"ai_languageModel":[[{"node":"Write email","type":"ai_languageModel","index":0}]]},"Write email":{"main":[[{"node":"Send Draft","type":"main","index":0}]]},"Email Summarization Chain":{"main":[[{"node":"Set Email","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Email Summarization Chain","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","timezone":"America/Chicago","callerPolicy":"workflowsFromSameOwner","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4a7fa000-9d86-4f36-a647-376c90792028","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-18T18:53:45.240Z","createdAt":"2026-01-18T18:53:45.240Z","role":"workflow:owner","workflowId":"6NMOPul8ls1btlMDUa8-W","projectId":"f7lZ9I1x9DksCYtb"}],"activeVersion":null,"tags":[]}